//using ng-style here because faster
.height-100.vert-align(ng-click="handleNodeClick(node, $event);")
    .node.vert-align.flex-fill
        .circle.no-flex(ng-style="getNodeStyle(node)")
        h6.title.truncate.pull-left {{::node.attr[mapprSettings.labelAttr]}}
        .btns.vert-align.right.no-flex(ng-if="MAPP_EDITOR_OPEN" ng-click="$event.stopPropagation()" ng-class="{hovered: (node.inHover || node.isCompared)}")
            .toggle-icon.dropdown(uib-dropdown dropdown-append-to-body uib-tooltip="Groups" tooltip-append-to-body="true" ng-class="{hovered: node.inHover}")
                span(uib-dropdown-toggle auto-close="outsideClick" ng-click="maintainHover()")
                    i.fa.fa-1-2x.fa-heart
                .uib-dropdown-menu.uib-dropdown-menu-flexing(uib-dropdown-menu)
                    .uib-dropdown-click-close(ng-click="clearMaintainHover();")
                    //inline style to center dropdowns
                    .uib-dropdown-flex-content(style="margin-left: 12px;")
                        .uib-dropdown-triangle
                        .uib-dropdown-flex.center
                            ul.dd-list.list-unstyled
                                li.row.vert-align.pointable-cursor(ng-repeat="group in selectionVMs" ng-click="toggleNodeInGroup(node, group); clearMaintainHover();")
                                    div.vert-align.width-100(ng-if="group.dpIDs.indexOf(node.id) == -1" uib-tooltip="Add to Group" tooltip-append-to-body="true")
                                        .col-xs-12
                                            h6.no-margin.truncate {{group.selName}}
                                    div.vert-align.width-100(ng-if="group.dpIDs.indexOf(node.id) != -1" uib-tooltip="Remove from Group" tooltip-append-to-body="true")
                                        .col-xs-10
                                            h6.active.no-margin.truncate {{group.selName}}
                                        .col-xs-2.blue-text-btn
                                            i.fa.fa-times
                                li.row.vert-align.pointable-cursor(ng-if="selectionVMs.length == 0" ng-click="panelUI.openPanel('selection');")
                                    .vert-align.width-100 
                                        .col-xs-12 
                                            h6.no-margin Create Group
            .tag-checkbox(uib-tooltip="{{node.isCompared ? 'Remove from Selection' : 'Add to Selection'}}" tooltip-append-to-body="true")
                input(type="checkbox" id="{{node.id}}" ng-model="node.isCompared" ng-change="compareChange(node)")
                label(for="{{node.id}}")
    .attrs.nowrap(style="margin-left:{{attrScroll}}px;" ng-class="{animating: isAnimatingAttrs}")
        .attr(ng-repeat="attr in rowAttrs track by $index" ng-click="openRightPanel(attr);" ng-if="MAPP_EDITOR_OPEN || attr.attrType" style="width:{{colSizes[$index]}}px; z-index:{{100 - $index}};")
            //- button.attr-modal-btn.blue-text-btn(ng-click="openRightPanel(attr)")
            //-     i.fa.fa-external-link
            .height-100(dir-attr-tooltip attr="attr" attr-class="attr-render" node="node")
                .text-value.vert-align.height-100(ng-if="attr.attrType === 'integer' || attr.attrType ==='boolean' || attr.attrType === 'float' || attr.attrType === 'string'")
                    h6.no-margin.truncate.width-100.attr-render(ng-if="attr.attrType === 'integer' || attr.attrType ==='boolean' || attr.attrType === 'float'") {{attr.value}}
                    h6.no-margin.width-100.truncate.attr-render(ng-if="attr.attrType === 'string'") {{attr.value}}
                .height-100.width-100.attr-render(ng-if="attr.attrType !== 'integer' && attr.attrType !=='boolean' && attr.attrType !== 'float' && attr.attrType !== 'string'")
                    dir-attr-renderer(ng-if="attr.attrType && (!isScrolling || renderAttrs)" attr-to-render="attr", node-color-str="node.colorStr", show-aggregation="false", is-node="true", is-node-focus="true" chosen-nodes="chosenNodes" is-grid="true" theme="appUi.theme")
            dir-col-resizer.resizer(ng-if="MAPP_EDITOR_OPEN" col-index="{{$index}}" col-sizes="colSizes")
                
        
