.page.page-projectlist.list-lg(ng-init="ui.setPage('user-projects')")
	div.pull-right(ng-if="false")
		.btn-group(data-toggle="buttons")
			label.btn.btn-default
				input(type="radio", name="layout", id="list")
				span
					i.fa.fa-align-justify
			label.btn.btn-default
				input(type="radio", name="layout", id="grid")
				span
					i.fa.fa-th-large
	//PROJECT LIST
	.panel
		ul.list-group
			li.animate-fade-out.list-group-item(ng-repeat = "proj in org.selected.projects | orderBy: org.projectSortType : org.projectSortReverse | filter:{projName: org.projectSearchKey}", ng-click='proj.edit ? ui.cancelProjectEditMode(proj) : project.open(proj, $event)' ng-mouseenter="proj.showMenu = true;" ng-mouseleave="proj.showMenu = false; proj.showExpandedMenu = false;")
				.row.vert-align
					.col-xs-4.no-flex
						.vert-align
							.checkbox-bkgrnd.vert-align(ng-click="$event.stopPropagation();")
								.tag-checkbox(ng-class="{'invisible': (!proj.showMenu && !proj.isBatched)}" uib-tooltip="{{proj.isBatched ? 'Remove from Batch' : 'Add to Batch'}}" tooltip-placement="right" tooltip-append-to-body="true")
									input(type="checkbox" id="batch-{{$index}}" ng-model="proj.isBatched" ng-change="project.toggleToBatch(proj.ref);")
									label(for="batch-{{$index}}")
							i.fa-1-5x.icon-network.list-icon(ng-class="{'active': proj.showMenu}")
							span(ng-if="!proj.edit" style="width: 70%;")
								.h6.truncate.width-100(ng-class="{'active': proj.showMenu}")
									| {{proj.projName}}
									.space
							span(ng-if="proj.edit")
								form.form-inline
									.vert-align(ng-click="$event.stopPropagation();")
										input.form-control.h6(type="text", ng-model="ui.projForm.projName", dir-select-all)
										button(type="submit" ng-click="project.updateProject(proj, ui.projForm); $event.stopPropagation();")
											i.fa.fa-check.fa-1-5x
										button(type="submit" ng-click="proj.edit = false; $event.stopPropagation();")
											i.fa.fa-times.fa-1-5x
					.col-xs-2
						.vert-align
							h7 Created:
							//filtering all users by owner (cheap way, maybe better way)
							img.user-img-circle(ng-if="proj.createdBy.picture" ng-src="{{proj.createdBy.picture}}")
							.user-circle.vert-align(ng-if="!proj.createdBy.picture" ng-class="{'you': (user.current._id == proj.owner.ref)}" uib-tooltip="{{::proj.owner.name}}", tooltip-placement="top" tooltip-append-to-body="true")
								h6.width-100.text-center {{proj.owner.name | limitTo: 1}}

					//- .col-xs-2
					//- 	.vert-align
					//- 		h7 Viewed:
					//- 		img.user-img-circle(ng-if="proj.lastEditedBy.picture" ng-src="{{proj.lastEditedBy.picture}}")
					//- 		.user-circle.vert-align(ng-if="!proj.lastEditedBy.picture" ng-class="{'you': (user.current._id == proj.lastViewed.ref)}" uib-tooltip="{{::proj.lastViewed.name}} viewed on {{::proj.lastViewed.date | date: 'short'}}", tooltip-enable="::proj.lastViewed.name" tooltip-placement="top" tooltip-append-to-body="true")
					//- 			h6.width-100.text-center {{proj.lastViewed.name | limitTo: 1}}
					.col-xs-2
						.vert-align(ng-if="proj.lastModified && proj.lastModified.name")
							h7 Modified:
							img.user-img-circle(ng-if="proj.lastEditedBy.picture" ng-src="{{proj.lastEditedBy.picture}}")
							.user-circle.vert-align(ng-if="!proj.lastModified.picture" ng-class="{'you': (user.current._id == proj.lastModified.ref)}" uib-tooltip="{{::proj.lastModified.name}} modified on {{::proj.lastModified.date | date: 'short'}}", tooltip-enable="::proj.lastModified.name" tooltip-placement="top" tooltip-append-to-body="true")
								h6.width-100.text-center {{proj.lastModified.name | limitTo: 1}}
					.col-xs-2
						ul.action-list.list-inline.animate-fade.vert-align(ng-click="$event.stopPropagation();")
							li
								a(ng-class="{'invisible':(!org.hasPlayerInfo || !proj.playerInfo.enabled)}", ng-href="{{proj.playerInfo.playerUrl}}", target="_blank", uib-tooltip="{{::proj.playerInfo.playerUrl}} ({{::proj.playerInfo.metrics.viewCount}} views)", tooltip-placement="top" tooltip-append-to-body="true")
									i.fa-1-2x.icon-story.btn-icon.toggle-icon
					.col-xs-5
						.nowrap.pull-right.width-1000.pointer-none.animate-fade(ng-show="proj.showMenu" ng-if="project.batchAr.length == 0")
							ul.action-list.list-inline.animate-to-left-no-fade-in.nowrap.vert-align.right.pull-right.pointer-auto(ng-if="proj.showExpandedMenu")
								li(ng-if="proj.showMenu" uib-tooltip="Duplicate" tooltip-placement="top" tooltip-append-to-body="true" ng-click="project.cloneProject(proj.ref); $event.stopPropagation();")
									button
										i.fa.fa-1-5x.fa-copy.toggle-icon
								li(ng-if="proj.showMenu && user.isOrgOwner" uib-tooltip="Move" tooltip-placement="top" tooltip-append-to-body="true", ng-click="project.openUserOrgsModal(proj.ref); $event.stopPropagation();")
									button
										i.fa.fa-1-5x.fa-share-square-o.toggle-icon
								li(ng-if="proj.showMenu" uib-tooltip="Reindex" tooltip-placement="top" tooltip-append-to-body="true", ng-click="project.reIndexForES(proj.ref); $event.stopPropagation();")
									button
										i.fa.fa-1-5x.fa-server.toggle-icon
								li(ng-if="proj.showMenu" uib-tooltip="Recipe" tooltip-placement="top" tooltip-append-to-body="true", ng-click="project.exportRecipe(proj.ref); $event.stopPropagation();")
									button
										i.fa.fa-1-5x.fa-server.toggle-icon
							ul.action-list.list-inline.vert-align.right.pull-right.nowrap.pointer-auto(ng-class="{'animate-to-left-no-fade-in': proj.showExpandedMenu, 'animate-to-right-no-fade-in': (!proj.showExpandedMenu && !proj.showMenu)}" ng-click="$event.stopPropagation();")
								li(uib-tooltip="Remove" tooltip-placement="top" tooltip-append-to-body="true" dir-delete-confirm="" obj-name="{{proj.projName}}" obj-info="project.deleteInfo" get-obj-info="project.getProjectDeleteInfo(proj.ref)" action='project.removeProject(proj.ref);')
									button
										i.fa.fa-1-5x.fa-trash-o.toggle-icon
								li(uib-tooltip="Rename" tooltip-placement="top" tooltip-append-to-body="true" ng-click="ui.enterProjectEditMode(proj); $event.stopPropagation();")
									button
										i.fa.fa-1-5x.fa-pencil.toggle-icon
								li(uib-tooltip="Download" tooltip-placement="top" tooltip-append-to-body="true" ng-click='project.downloadProjectXLSX(proj); $event.stopPropagation();')
									button
										i.fa.fa-1-5x.fa-cloud-download.toggle-icon
								li.animate-fade-in(ng-show="!proj.showExpandedMenu" ng-click='$event.stopPropagation(); proj.showExpandedMenu = true;')
									button(uib-tooltip="More Options" tooltip-placement="top-right" tooltip-append-to-body="true")
										i.fa.fa-1-5x.fa-ellipsis-h.fa-fw.toggle-icon
					//- .col-xs-12
					//- 	.proj-list-menu.pull-right(ng-if="!proj.edit" ng-click="ui.openProjectMenu(proj); $event.stopPropagation();" ng-mouseleave="proj.showMenu = false;")
					//- 		
					//- 	a.player-link.pull-right(ng-if="!proj.showMenu && org.hasPlayerInfo && proj.playerInfo.enabled", ng-href="{{proj.playerInfo.playerUrl}}", ng-click="$event.stopPropagation();", target="_blank", uib-tooltip="{{::proj.playerInfo.playerUrl}} ({{::proj.playerInfo.metrics.viewCount}} views)", tooltip-placement="left")
					//- 		i.icon-story
					//- 	a.close-btn.pull-right(ng-if="proj.edit" uib-tooltip="Cancel", tooltip-placement="top", tooltip-append-to-body="true" ng-click="$event.stopPropagation(); ui.cancelProjectEditMode(proj);") &times;
					//- 		//- i.fa.fa-close.fa-2x
					//- 	.truncate.accelerate
					//- 			i.icon-project
					//- 		//- .edit-title.pull-right.text-muted(ng-if="!proj.edit && !proj.showMenu")
					//- 		//- 	span.project-action-btn.pull-right(uib-tooltip="Edit Name", tooltip-placement="top", tooltip-append-to-body="true" ng-click="$event.stopPropagation(); ui.enterProjectEditMode(proj);")
					//- 		//- 		i.fa.fa-pencil
					//- 					//- button.btn.btn-danger(type="submit" ng-click="ui.cancelProjectEditMode(proj); $event.stopPropagation();" style="margin-top: 16px; height: 55px;")
					//- 					//- 	span X
					//- 		
					//- 		.owner.text-small.vert-align
					//- 			img.img-circle.img30_30(ng-src="{{user.current.picture}}")
					//- 			.space
					//- 			.pull-left.h6 {{proj.owner.name}} {{{true:'(you)', false:''}[user.current._id == proj.owner.ref]}}
					// If no mapps (aka projects are found in the dashboard)
					li.list-group-item(ng-if="org.selected.projects.length < 1")
						.row.vert-align
							.col-xs-1 
								i.fa-2x.icon-network
							.col-xs-5
								form.form-inline
									.vert-align
										input.form-control.h6.pull-left(type="text", placeholder="New Project Name", ng-model="project.uiNameField" dir-select-all)
										button.pull-left(ng-if="project.uiNameField", ng-click="project.addNewProject(project.uiNameField)")
											i.fa.fa-check.fa-1-5x
