.attr
    //- button.attr-modal-btn.blue-text-btn(ng-click="openRightPanel(attr)")
    //-     i.fa.fa-external-link
    .height-100
        .vert-align.height-100(ng-if="attr.attrType === 'integer' || attr.attrType ==='boolean' || attr.attrType === 'float' || attr.attrType === 'string'")
            h6.no-margin.width-100(ng-if="attr.attrType === 'integer' || attr.attrType ==='boolean' || attr.attrType === 'float'") {{attr.value}}
            h6.no-margin.width-100(ng-if="attr.attrType == 'string'") {{attr.value}}
        .height-100.width-100(ng-if="attr.attrType !== 'integer' && attr.attrType !=='boolean' && attr.attrType !== 'float' && attr.attrType !== 'string'")
            dir-attr-renderer(attr-to-render="attr", node-color-str="node.colorStr", show-aggregation="false", is-node="true", is-node-focus="true" chosen-nodes="chosenNodes" is-grid="true" theme="appUi.theme" pinned-media="pinnedMedia")
    
