.col-xs-12(ng-controller="CommonOpsCtrl")
    .divider
    .row.vert-align
        .col-xs-12
            h4 Common Operations
            .vert-align
                label.pull-left.no-margin Choose an Operation:&nbsp;&nbsp;
                .ui-select.pull-left
                    select(ng-model='selectedOpVm', ng-options='vm.name for vm in opVms', ng-change="changeOpVm(selectedOpVm);")
    .divider
    .horiz-line
    .divider
    .row
        .col-xs-12
            h5 Chosen Operation: 
                span.active {{selectedOpVm.desc}}
    // Common Ops 
    .common-op-container(ng-switch="selectedOpVm.opType")
        .row(ng-if="selectedOpVm.warning")
            .col-xs-12
                h6.error-text.pull-left {{selectedOpVm.warning}}
                button(ng-click="selectedOpVm.warning=null;")
                    i.fa.fa-close


        // Group by and summarize Attribute modifiers
        .row(ng-if="selectedOpVm.groupModifierSupported")
            .col-xs-12
                ops-group-by(op-vm="selectedOpVm")

        // Algorithm input rendering

        // general op listing
        .row(ng-switch-when="general_op")
            .col-xs-12
                .row
                    .col-xs-8
                        h5 The Source attribute for this algorithm
                        .ui-select
                            select(ng-model='selectedOpVm.opInst.srcAttr', ng-options='attr.title for attr in nodeAttrList track by attr.id', ng-change="updateSrcAttr(selectedOpVm, selectedOpVm.opInst)")
                        h6 {{selectedOpVm.opInst.srcAttrSampleVals}}
                .divider
                .horiz-line
                .divider
                .divider
                .row
                    .col-xs-12
                        h5 Params
                        div(ng-repeat="param in selectedOpVm.opInst.params")
                            ops-param(op-inst="selectedOpVm.opInst", op-param="param", tooltip-as-descr="true")
       
        /// reduce op listing
        .op-row-container(ng-switch-when="reduce_op")
            .row
                .col-xs-12
                    h5 The Source attributes for this algorithm
            .row(ng-repeat="opRow in selectedOpVm.opInst.opRows")
                .col-xs-6
                    .ui-select
                        select(ng-model='opRow.srcAttr', ng-options='attr.title for attr in nodeAttrList track by attr.id', ng-change="updateSrcAttr(selectedOpVm, opRow)")
                    h6 {{opRow.srcAttrSampleVals}}
                    .divider
                .col-xs-1
                    button.ui-btn(ng-click="selectedOpVm.opInst.addRow()")
                        i.fa.fa-plus
                .col-xs-1
                    button.ui-btn(ng-click="selectedOpVm.opInst.removeRow($index)")
                        i.fa.fa-minus
                .divider
            .row
                .col-xs-12
                    h4 Params
            .row(ng-repeat="param in selectedOpVm.opInst.params")
                .col-xs-12
                    ops-param(op-inst="selectedOpVm.opInst", op-param="param", tooltip-as-descr="true")
            .divider
            .row
                .col-xs-6
                    p Target AttrId
                        input.form-control.h6.no-margin(ng-model='selectedOpVm.opInst.destAttrId', ng-model-options="{debounce: 500}")
        
        // transform op listing
        .op-row-container(ng-switch-when="transform_op")
            //- p {{opDataStr}}
            div(ng-repeat="opRow in selectedOpVm.opInst.opRows")
                // col class is dependent on param length
                .row
                    div(ng-class="selectedOpVm.opInst.attr_class_src")
                        .ui-select
                            select(ng-model='opRow.srcAttr', ng-options='attr.title for attr in nodeAttrList track by attr.id', ng-change="updateSrcAttr(selectedOpVm, opRow)")
                    div(ng-show="selectedOpVm.opInst.compactInput", ng-class="selectedOpVm.opInst.attr_class_param")
                        div(ng-repeat="param in opRow.params")
                            ops-param(op-inst="selectedOpVm.opInst", op-row="opRow", op-param="param")
                    div(ng-class="selectedOpVm.opInst.attr_class_dest")
                        input.form-control.h6.no-margin(ng-model='opRow.destAttrId', ng-model-options="{debounce: 500}")
                    .col-xs-1
                        button.ui-btn(ng-click="selectedOpVm.opInst.addRow()") 
                            i.fa.fa-plus
                    .col-xs-1
                        button.ui-btn(ng-click="selectedOpVm.opInst.removeRow($index)")
                            i.fa.fa-minus
                .row
                    .col-xs-12
                        h6 {{opRow.srcAttrSampleVals}}
                .row(ng-hide="selectedOpVm.opInst.compactInput")
                    .col-xs-12
                        div(ng-repeat="param in opRow.params")
                            ops-param(op-inst="selectedOpVm.opInst", op-row="opRow", op-param="param")
                .divider


    //- .row
        .col-xs-6 Select attribute to generate tags from:
        .col-xs-6
            .ui-select
                
    //- .row
        .col-xs-6 Relevance:
        .col-xs-6
            input.form-control.h6.no-margin(ng-model='relevance' dir-select-all)
    .divider
    //- .row
        .col-xs-6 Features to extract:
        .col-xs-6
            .row.vert-align
                .col-xs-1
                .col-xs-5 
                    h6 Features
                .col-xs-6 
                    h6 New Attribute Title
            .row.vert-align(ng-repeat-start="algo in alchemyAlgos")
                .col-xs-1
                    .tag-checkbox.dark
                        input(type="checkbox", id="{{algo.selected}}" ng-model="algo.selected")
                        label(for="{{algo.selected}}")
                .col-xs-5 
                    span {{::algo.title}}
                .col-xs-6
                    input.form-control.h6.no-margin(ng-class="{invisible: !algo.selected}", ng-model='algo.newAttrTitle', ng-change="validateNewTitle(algo)", ng-model-options="{debounce: 500}", dir-select-all)
            .row(ng-repeat-end="", ng-show="algo.titleInvalid")
                h5.bg-warning Attribute title already exists, please use another!
    .divider
