//- h6(ng-show="tooltipAsDescr") {{opParam.tooltip}}
div(ng-switch="opParam.paramType")
	// Array Param type
	div(ng-switch-when="Array")
		.row.vert-align(ng-repeat="param in opParam.value track by $index")
			.col-xs-6
				input.form-control(ng-model='opParam.value[$index]', ng-model-options="{debounce: 100}")
			.col-xs-1
				button.ui-btn(ng-click="addRow(opParam, $index)")
					i.fa.fa-plus
			.col-xs-1
				button.ui-btn(ng-click="removeRow(opParam, $index)")
					i.fa.fa-minus
			.divider
	
	// Array[Option] param type
	div(ng-switch-when="Array[Option]")
		.row.vert-align(ng-repeat="param in opParam.value track by $index")
			.col-xs-6
				.ui-select
					select(ng-model='opParam.value[$index]', ng-options='opt for opt in opParam.options')
			.col-xs-1
				button.ui-btn(ng-click="addRow(opParam, $index)")
					i.fa.fa-plus
			.col-xs-1
				button.ui-btn(ng-click="removeRow(opParam, $index)")
					i.fa.fa-minus
			.divider

	// attribute selector param type
	.row.vert-align(ng-switch-when="attr-select")
		.col-xs-6
			.ui-select
				select(ng-model='opParam.srcAttr', ng-options='attr.title for attr in attrList track by attr.id', ng-change="updateAttrId(opParam)")
		.divider

	// Option param type
	.row.vert-align(ng-switch-when="Option")
		.col-xs-6
			.ui-select
				select(ng-model='opParam.value', ng-options='opt for opt in opParam.options')
		.divider
	
	//default rendering for compact Input
	.row.vert-align(ng-switch-default)
		div.vert-align(ng-if="opInst.compactInput")
			.col-xs-7.vert-align
				h6.no-margin {{opParam.id}}&nbsp;&nbsp;
				//- i.fa.fa-info-circle(uib-tooltip="{{opParam.tooltip}}" tooltip-append-to-body="true")
			.col-xs-5.pull-right(tooltip="opParam.id", tooltip-placement="top", tooltip-append-to-body)
				input.form-control(ng-model='opParam.value', ng-model-options="{debounce: 500}")
		div.vert-align(ng-if="!opInst.compactInput")
			.col-xs-5.vert-align
				h6.no-margin {{opParam.id}}&nbsp;&nbsp;
				//- i.fa.fa-info-circle(uib-tooltip="{{opParam.tooltip}}" tooltip-append-to-body="true")
			.col-xs-7.pull-right(tooltip="opParam.id", tooltip-placement="top", tooltip-append-to-body)
				input.form-control(ng-model='opParam.value', ng-model-options="{debounce: 500}")
	.row
		.col-xs-12 
			h7 
				i.fa.fa-info-circle
				span &nbsp;{{opParam.tooltip}}
	.divider
	//- .row.vert-align(ng-switch-default)
	//- 	.col-xs-3 
	//- 		h6 {{opParam.id}}&nbsp;&nbsp;
	//- 			i.fa.fa-info-circle(uib-tooltip="{{opParam.tooltip}}" tooltip-append-to-body="true")
	//- 	.col-xs-3(tooltip="opParam.id", tooltip-placement="top", tooltip-append-to-body)
	//- 		input.form-control(ng-model='opParam.value', ng-model-options="{debounce: 500}")
