.node-pop(ng-if="showNodePop")
	dir-focus-node(node="focusNode" img-attr="nodeImageAttr" start="nodeStartData" end="nodeEndData" duration="100" finish="" mouse-click="clickPop();" mouse-leave="leavePop();" mouse-leave-buffer="bufferSize")
