//
// Snapshot panel styling
// Styling for snapshot horizontal scrolling panel component

//stage effect to darken on snap
.camera-effect {
    background: $shadow-color;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
}

.bottom-left-btns {
    height: 100%;
    left: 90px;
    position: absolute;

    &.no-zoom {
        left: -95px;
    }

    .vert-line {
        border-left: 1px solid $body-bg-dark;
        height: 30px;
        margin-left: 6px;
        padding-left: 9px;
    }

    ul {
        margin: 0;
    }

    li {
        margin: 0;
        padding: 0;
        vertical-align: top;
    }

    .circle-btn {
        margin: 0 3px;
    }

    button,
    .circle-btn {
        &:hover {
            color: $active-color;
        }
    }

    .btn-opts {
        background: $text-muted;
        border-radius: 20px;
        bottom: 5px;
        margin-left: 2px;
        padding-bottom: 30px;
        position: absolute;
        text-align: center;
        width: 32px;

        .circle-btn {
            background: $switch-bg;
            margin: 5px auto;

            &:hover {
                background: $text-color;
            }
        }

        button {
            &:first-child {
                margin-top: 0;
            }
        }
    }
}


// Snapshots

.publish-panel {
    @include user-select(none);
    bottom: 10px;
    left: $side-menu-width + $right-panel-width + 20px;
    position: absolute;
    right: 10px;
    z-index: 1099;
}

.snapshots {
    @include transition(width .5s ease-out, min-width .2s ease-out);
    background: $body-bg;
    border: 1px solid $panel-border;
    border-radius: 30px;
    box-shadow: none;
    float: left;
    height: 41px;
    min-width: 40px;
    position: relative;
    width: 0;


    &.active {
        width: 100%;

        .snaps-container {
            left: 60px;
            right: 95px;
        }
    }

    &:hover,
    &.has-snaps {
        min-width: 77px;
    }

    &.hover-snap {
        &:hover {
            min-width: 125px;
        }
    }

    .drag-handle {
        @include transition(opacity .5s ease-out 1s);
        color: $gray-light;
        font-size: 30px;
        left: -24px;
        opacity: 0;
        position: absolute;
        top: 4px;

        &:hover {
            @include transition(opacity .5s ease-out);
            color: $gray;
            opacity: 1;
        }
    }

    &:hover {
        .drag-handle {
            @include transition(opacity .5s ease-out);
            opacity: 1;
        }
    }

    .snaps-container {
        height: 220px;
        left: 40px;
        overflow: hidden;
        padding-top: 172px;
        pointer-events: none;
        position: absolute;
        right: 35px;
        top: -170px;
    }

    .snaps-scroller {
        font-size: 0;
        height: 220px;
        margin-top: -151px;
        overflow-x: auto;
        overflow-y: visible;
        padding: 0;
        pointer-events: none;
        text-align: left;
        white-space: nowrap;
    }

    .snap,
    .placeholder {
        cursor: pointer;
        display: inline-block;
        font-size: 11px;
        height: 50px;
        margin-top: 150px;
        opacity: 1;
        padding: 4px 16px;
        pointer-events: auto;
        position: relative;
        text-align: center;
        transition: opacity .3s ease-out;
        vertical-align: top;
        width: 40px;
    }

    .snap {
        &:first-child {
            margin-left: -15px;
        }

        &.current {
            .img {
                border: 2px solid $active-color;
                margin: -1px;
                }
        }

        &.active {
            .img {
                opacity: 1;
            }
        }

        .btns {
            bottom: 57px;
            left: 17px;
            position: absolute;
        }

        .ind {
            bottom: 6px;
            display: block;
            left: 0;
            position: absolute;
            width: 100%;
        }

        i {
            background: $body-bg;
            display: block;
            font-size: 16px;
            margin: 0;
            padding: 5px;
            text-align: center;
            width: 30px;
        }

        .img {
            background: $switch-bg;
            background-color: $body-bg;
            background-image: url('https://s3-us-west-1.amazonaws.com/mappr-misc/icons/snapshot-placeholder-light.jpg');
            background-size: 100%;
            border: 1px solid $switch-bg;
            border-radius: 100%;
            color: $text-color;
            display: block;
            height: 31px;
            margin: -1px;
            opacity: .2;
            overflow: hidden;
            position: relative;
            width: 31px;

            img {
                height: 31px;
                margin: -1px;
                width: 31px;
            }

            i {
                background: transparent;
                font-size: 22px;
                padding: 9px 7px;
                width: 100%;
            }
        }
    }

    .placeholder {
        opacity: 0;
    }


    .left-scroll-grad,
    .right-scroll-grad {
        background: $shadow-color-dark;
        border: 2px solid $switch-bg;
        border-radius: 100%;
        color: $switch-bg;
        cursor: pointer;
        display: none;
        height: 20px;
        position: absolute;
        top: 9px;
        width: 20px;
        z-index: 1;

        &:hover {
            color: $text-color;
            border-color: $text-color;
        }

        &.active {
            border-color: $active-color;
            color: $active-color;
        }

        i {
            font-size: 21px;
            left: 3px;
            position: absolute;
            top: -3px;
        }
    }

    .right-scroll-grad {
        right: 95px;

        i {
            left: 5px;
        }
    }



    .new-player-btn {
        position: absolute;
        right: -43px;
        top: 2px;
    }



    .more-btn {
        color: $gray-light;
        cursor: pointer;
        height: 100%;
        left: auto;
        padding: 7px;
        position: absolute;
        right: 0;
        top: 0;

        &:hover {
            color: $gray;
        }
    }

    .player-btn,
    .snap-btn {
        @include transition(background-color .1s ease-out);
        background: $text-color;
        border-radius: 25px;
        color: $text-color-dark;
        cursor: pointer;
        font-size: 15px;
        height: 40px;
        padding: 10px 25px;
        position: absolute;
        text-align: left;
        top: 4px;

        &:hover {
            background: $panel-text-dark;
        }

        h4 {
            margin: -5px;
        }
    }

    .player-btn {
        left: 5px;
    }

    .snap-btn {
        right: 55px;
    }
}
