<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>User Disabled</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>

    <body style="margin: 0; padding: 0;">
        <table border="0" cellpadding="0" cellspacing="0" width="100%">
            <tr>
                <td>
                    <table align="center" border="0" cellpadding="0" cellspacing="0" width="600">
                        <tr>
                            <td>
                                <img src="https://s3-us-west-1.amazonaws.com/mappr-misc/icons/vdatLogo.png" width="264" height="80" display="block" border="0" style="padding: 30px 0 0 0;"/>
                            </td>
                        </tr>
                        <tr>
                            <td style="border: 1px solid #d3d3d3; padding: 40px 60px 40px 60px; font-family: proxima nova, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size:13px;">

                                    <p>
                                        Hi {{userName}},
                                    </p>
                                    <p>
                                        Your account has been temporarily disabled. Please contact the Vibrant Data Support team at admin@vibrantdata.io in order to reactivate your account.
                                    </p>
                                    <p>
                                        <br/>
                                        <br/>
                                        Thank you,
                                        <br />
                                        Vibrant Data Team
                                    </p>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </body>

</html>
