
.pl-scroll-container(ng-controller="PatternLibraryCtrl")
	.pl-container
		.pl-heading 
			h3.no-margin Vibrant Data Pattern Library
		.pl-body
			p This library extends much of 
				a(href="http://getbootstrap.com/css/") Bootstrap
				| &rsquo;s styling and 
				a(href="https://angular-ui.github.io/bootstrap/") Angular Bootstrap
				| &rsquo;s functionality.
			button.power-btn(ng-click="toggleTheme();") Switch to {{otherTheme}} theme
	.pl-container
		.pl-heading 
			h3.no-margin Typography
		.pl-body
			h1 Heading One
			h2 Heading Two
			h3 Heading Three
			h4 Heading Four
			h5 Heading Five
			h6 Heading Six
			h7 Heading Seven
			.divider
			p Paragraph - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec lacinia cursus lacus, commodo dictum sapien aliquet quis. Aliquam volutpat orci vel leo fermentum iaculis. Etiam vitae ante velit. Aenean porta nisl a lacus tincidunt cursus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Curabitur sit amet rhoncus orci. Etiam interdum leo in urna lobortis, ac cursus ex maximus. Donec justo enim, elementum non dolor et, congue maximus velit.
			p In cursus pharetra nulla, a bibendum metus placerat ac. Vestibulum posuere quam quis ullamcorper finibus. Etiam id ante luctus enim consectetur aliquam nec sit amet mi. Maecenas in aliquam est. Donec ultrices nisl non ante porttitor, non imperdiet turpis pharetra. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sagittis lacinia suscipit. Nullam ultricies ac magna at malesuada. In fringilla sodales neque, mattis gravida augue consectetur in. Quisque fringilla consequat tellus, bibendum ornare felis tincidunt tincidunt. Aenean sit amet sapien ac diam facilisis dictum nec sit amet turpis. Nunc nec ultricies urna, non pulvinar odio.
	.pl-container
		.pl-heading 
			h3.no-margin Inputs
		.pl-body
			input.form-control(placeholder="text input" dir-select-all)
			.divider-lg
			textarea.form-control(placeholder="text area input")
			.divider-lg
			.tag-checkbox
				input(type="checkbox" id="must-match-checkbox-label")
				label(for="must-match-checkbox-label")
			label Checkbox
			.divider-lg
			.vert-align
				//use left or right to give margin from label
				.onoffswitch.left 
					input.onoffswitch-checkbox(id='must-match-switch-label' type='checkbox')
					label.onoffswitch-label(for='must-match-switch-label')
						.onoffswitch-inner
						.onoffswitch-switch
				label.no-margin &nbsp;Switch (a type of checkbox)
			.divider-lg 
			.row 
				.col-xs-6
					label Select Dropodown
					.ui-select.inline
						select 
							option Option 1
							option Option 2
							option Option 3
			.divider-lg
			dir-filter-dropdown(ng-model="dropdownFilterModel", change-val="onDropdownFilterChange(val)" default-title="dropdownFilterTitle", vals-list="dropdownFilterValues", show-triangle="false", dd-class="h6 pl-dd-filter" is-right="false" left-margin="0px")
			.divider-lg 
			.row.vert-align
				.col-xs-1
					label Slider 
				.col-xs-3
					.inline(dir-slider-input opt="sliderOpts" ng-model="sliderModel")
			.divider-xlg
			button.power-btn Power Button
			button.power-btn.secondary-btn Secondary Button
			button.power-btn.error-btn Error Button
			button.power-btn.secondary-btn.error-btn Secondary Error Button
	.pl-container
		.pl-heading 
			h3.no-margin Modals
		.pl-body
			p Use Angular Bootstrap's modal directive to create modals and then use the following to populate them. 
			p Note, begin all templates with two divs for the header and body with the following classes
				pre .modal-header
					| .modal-body 
			p The parent classes are automatically created by Angular Bootstrap.
			.modal
				.modal-dialog
					.modal-content
						//for modal templates, start html here, above classes are generated from angular bootstrap
						.modal-header
							.row.vert-align
								.col-xs-4
									h6 Modal Title
								.col-xs-4.vert-align 
									button.header-btn(ng-click="modalTab = 'one'" ng-class="{'active':(modalTab == 'one')}")
										.h7 Tab 1 
									button.header-btn(ng-click="modalTab = 'two'" ng-class="{'active':(modalTab == 'two')}")
										.h7 Tab 2
								.col-xs-4.vert-align.right
									button.header-btn
										span.h7 Button
									button.close-btn
										span.icon &times;
						.modal-body
							.container-fluid
								div(ng-if="modalTab == 'one'")
									.row
										.col-xs-12
											h5 Tab One Content
									.clearfix
									.space
									.space
									button.power-btn.pull-right Power Button
								div(ng-if="modalTab == 'two'")
									.row
										.col-xs-12
											h5 Tab Two Content
									.clearfix
									.space
									.space
									button.power-btn.error-btn.pull-right Power Button

			.modal
				.modal-dialog.modal-lg
					.modal-content
						//for modal templates, start html here, above classes are generated from angular bootstrap
						.modal-header
							.row.vert-align
								.col-xs-8
									h6 Large Modal With Left Tabs

								.col-xs-4.vert-align.right
									button.close-btn
										span.icon &times;
						.modal-body
							.container-fluid
								.row
									.col-xs-2.border-right
										.scroll-list 
											.row
												.col-xs-12
													button.menu-item(ng-click="modalSideTab = 'one'" ng-class="{active: modalSideTab == 'one'}")
														.h6 Item 1
													button.menu-item(ng-click="modalSideTab = 'two'" ng-class="{active: modalSideTab == 'two'}")
														.h6 Item 2
													button.menu-item(ng-click="modalSideTab = 'three'" ng-class="{active: modalSideTab == 'three'}") 
														.h6 Item 3
													button.menu-item(ng-click="modalSideTab = 'four'" ng-class="{active: modalSideTab == 'four'}") 
														.h6 Item 4
													button.menu-item(ng-click="modalSideTab = 'five'" ng-class="{active: modalSideTab == 'five'}") 
														.h6 Item 5
													button.menu-item(ng-click="modalSideTab = 'six'" ng-class="{active: modalSideTab == 'six'}") 
														.h6 Item 6
													button.menu-item(ng-click="modalSideTab = 'one'" ng-class="{active: modalSideTab == 'one'}")
														.h6 Item 1
													button.menu-item(ng-click="modalSideTab = 'two'" ng-class="{active: modalSideTab == 'two'}")
														.h6 Item 2
													button.menu-item(ng-click="modalSideTab = 'three'" ng-class="{active: modalSideTab == 'three'}") 
														.h6 Item 3
													button.menu-item(ng-click="modalSideTab = 'four'" ng-class="{active: modalSideTab == 'four'}") 
														.h6 Item 4
													button.menu-item(ng-click="modalSideTab = 'five'" ng-class="{active: modalSideTab == 'five'}") 
														.h6 Item 5
													button.menu-item(ng-click="modalSideTab = 'six'" ng-class="{active: modalSideTab == 'six'}") 
														.h6 Item 6
									.col-xs-10.scroll-container 
										div(ng-if="modalSideTab == 'one'")
											h3 Item One Content 
											p Item one paragraph
											.divider-xlg
											.divider-xlg
											.divider-xlg
											.divider-xlg
											.divider-xlg
											.divider-xlg
											.divider-xlg
											.divider-xlg
											.divider-xlg
											.divider-xlg
											.divider-xlg
											.divider-xlg
											.divider-xlg
											.divider-xlg
											.divider-xlg
											.divider-xlg
											.divider-xlg
											.divider-xlg
											.divider-xlg
											.divider-xlg
											.divider-xlg
											.divider-xlg
											.divider-xlg
											.divider-xlg
											.divider-xlg
											.divider-xlg
											.divider-xlg
											.divider-xlg
											.divider-xlg
											.divider-xlg
											button.power-btn.pull-right Power Button
											button.power-btn.secondary-btn.error-btn.pull-right Cancel
											.clearfix
											.divider
										div(ng-if="modalSideTab == 'two'")
											h3 Item Two Content 
											p Item two paragraph
										div(ng-if="modalSideTab == 'three'")
											h3 Item Three Content 
											p Item Three paragraph
			.modal
				.modal-dialog.modal-lg
					.modal-content
						//for modal templates, start html here, above classes are generated from angular bootstrap
						.modal-header
							.row.vert-align
								.col-xs-8
									h6 Large Modal With right side panel
								.col-xs-4.vert-align.right
									button.close-btn
										span.icon &times;
						.modal-body
							.container-fluid
								.list-wrapper
									.summary-btn.vert-align(ng-click="showMetaList = !showMetaList")
										i.fa.fa-ellipsis-h
									.list.animate(ng-class="{'col-xs-8': showMetaList, 'col-xs-12': !showMetaList}")
										h4 List of Items
										.row.border-section.title-style
											.col-xs-12
												h4 List Item
										.row.border-section.title-style
											.col-xs-12
												h4 List Item
										.row.border-section.title-style
											.col-xs-12
												h4 List Item
										.row.border-section.title-style
											.col-xs-12
												h4 List Item
										.row.border-section.title-style
											.col-xs-12
												h4 List Item
										.row.border-section.title-style
											.col-xs-12
												h4 List Item
										.row.border-section.title-style
											.col-xs-12
												h4 List Item
										.row.border-section.title-style
											.col-xs-12
												h4 List Item
										.row.border-section.title-style
											.col-xs-12
												h4 List Item
										.row.border-section.title-style
											.col-xs-12
												h4 List Item
										.row.border-section.title-style
											.col-xs-12
												h4 List Item
										.row.border-section.title-style
											.col-xs-12
												h4 List Item
										.row.border-section.title-style
											.col-xs-12
												h4 List Item
										.row.border-section.title-style
											.col-xs-12
												h4 List Item
										.row.border-section.title-style
											.col-xs-12
												h4 List Item
										.row.border-section.title-style
											.col-xs-12
												h4 List Item
										.row.border-section.title-style
											.col-xs-12
												h4 List Item
										.row.border-section.title-style
											.col-xs-12
												h4 List Item
									.meta-list.col-xs-4.animate-to-left(ng-show="showMetaList")
										h4 Right List Title
										.row.border-section.title-style
											.col-xs-12
												span Some Content
										.row.border-section.title-style
											.col-xs-12
												span Some Other Content
	.divider-xlg
	.pl-container
		.pl-heading 
			h3.no-margin Large Lists
		.pl-body.no-padding
			.page.page-projectlist.list-lg
				.panel 
					ul.list-group 
						li.list-group-item(ng-mouseleave="showListMenuOne = false; showListMenuOneExpanded = false;" ng-mouseenter="showListMenuOne = true;")
							.row.vert-align 
								.col-xs-4.vert-align
									i.fa-1-5x.icon-network.list-icon 
									h6 List title 
								.col-xs-2
									.vert-align 
										h7 Modified:
										button.user-circle.vert-align
											h6.width-100.text-center.no-margin S
								.col-xs-4
									.vert-align 
										h7 Created:
										button.user-circle.vert-align.you
											h6.width-100.text-center.no-margin S
								.col-xs-2
									.nowrap.pull-right.width-1000.pointer-none.animate-fade(ng-show="showListMenuOne")
										ul.pointer-auto.action-list.list-inline.vert-align.right.pull-right.animate-to-left-no-fade-in.nowrap(ng-show="showListMenuOneExpanded")
											li
												button
													i.fa.fa-1-5x.fa-list.toggle-icon
											li
												button
													i.fa.fa-1-5x.fa-file.toggle-icon
											li
												button
													i.fa.fa-1-5x.fa-upload.toggle-icon
										ul.pointer-auto.list-inline.action-list.vert-align.right.pull-right.nowrap(ng-class="{'animate-to-left-no-fade-in': showListMenuOneExpanded, 'animate-to-right-no-fade-in': (!showListMenuOneExpanded && !showListMenuOne)}")
											li
												button
													i.fa.fa-1-5x.fa-trash-o.toggle-icon
											li
												button
													i.fa.fa-1-5x.fa-pencil.toggle-icon
											li
												button
													i.fa.fa-1-5x.fa-cloud-download.toggle-icon
											li(ng-hide="showListMenuOneExpanded")
												button(ng-click="showListMenuOneExpanded = true")
													i.fa.fa-1-5x.fa-ellipsis-h.toggle-icon
						li.list-group-item(ng-mouseleave="showListMenuTwo = false; showListMenuTwoExpanded = false;" ng-mouseenter="showListMenuTwo = true;")
							.row.vert-align 
								.col-xs-10.vert-align
									i.fa-1-5x.icon-network.list-icon 
									h6 List title 
								.col-xs-2
									.nowrap.pull-right.width-1000.pointer-none.animate-fade(ng-show="showListMenuTwo")
										ul.pointer-auto.action-list.list-inline.vert-align.right.pull-right.animate-to-left-no-fade-in.nowrap(ng-show="showListMenuTwoExpanded")
											li
												button
													i.fa.fa-1-5x.fa-list.toggle-icon
											li
												button
													i.fa.fa-1-5x.fa-file.toggle-icon
											li
												button
													i.fa.fa-1-5x.fa-upload.toggle-icon
										ul.pointer-auto.list-inline.action-list.vert-align.right.pull-right.nowrap(ng-class="{'animate-to-left-no-fade-in': showListMenuTwoExpanded, 'animate-to-right-no-fade-in': (!showListMenuTwoExpanded && !showListMenuTwo)}")
											li
												button
													i.fa.fa-1-5x.fa-trash-o.toggle-icon
											li
												button
													i.fa.fa-1-5x.fa-pencil.toggle-icon
											li
												button
													i.fa.fa-1-5x.fa-cloud-download.toggle-icon
											li(ng-hide="showListMenuTwoExpanded")
												button(ng-click="showListMenuTwoExpanded = true")
													i.fa.fa-1-5x.fa-ellipsis-h.toggle-icon
						li.list-group-item(ng-mouseleave="showListMenuThree = false; showListMenuThreeExpanded = false;" ng-mouseenter="showListMenuThree = true;")
							.row.vert-align 
								.col-xs-10.vert-align
									i.fa-1-5x.icon-network.list-icon 
									h6 List title 
								.col-xs-2
									.nowrap.pull-right.width-1000.pointer-none.animate-fade(ng-show="showListMenuThree")
										ul.pointer-auto.action-list.list-inline.vert-align.right.pull-right.animate-to-left-no-fade-in.nowrap(ng-show="showListMenuThreeExpanded")
											li
												button
													i.fa.fa-1-5x.fa-list.toggle-icon
											li
												button
													i.fa.fa-1-5x.fa-file.toggle-icon
											li
												button
													i.fa.fa-1-5x.fa-upload.toggle-icon
										ul.pointer-auto.list-inline.action-list.vert-align.right.pull-right.nowrap(ng-class="{'animate-to-left-no-fade-in': showListMenuThreeExpanded, 'animate-to-right-no-fade-in': (!showListMenuThreeExpanded && !showListMenuThree)}")
											li
												button
													i.fa.fa-1-5x.fa-trash-o.toggle-icon
											li
												button
													i.fa.fa-1-5x.fa-pencil.toggle-icon
											li
												button
													i.fa.fa-1-5x.fa-cloud-download.toggle-icon
											li(ng-hide="showListMenuThreeExpanded")
												button(ng-click="showListMenuThreeExpanded = true")
													i.fa.fa-1-5x.fa-ellipsis-h.toggle-icon
	.divider-xlg
	.pl-container
		.pl-heading
			h3.no-margin Right Panel 
		.pl-body.pl-right-panel-body(style="height: 700px;")
			#right-panel
				.accordion.height-100.flex-vert-container
					.accordion-panel.panel-container.flex-transclude(ng-class="{'flex-fill': (panelOpen == 1)}")
						.flex-vert-container.width-100
							.header(ng-click="panelOpen = 1;")
								.row.vert-align.main
									.col-xs-12
										h6.title.text-uppercase Header Section 
							.list-content.panel-scroll.flex-fill(ng-if="panelOpen == 1")
								.width-100.flex-vert-container
									uib-accordion.flex-transclude(close-others="true")
										uib-accordion-group
											uib-accordion-heading
												h6.no-margin Sub-accordion
											div
												p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec lacinia cursus lacus, commodo dictum sapien aliquet quis. Aliquam volutpat orci vel leo fermentum iaculis. Etiam vitae ante velit. Aenean porta nisl a lacus tincidunt cursus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Curabitur sit amet rhoncus orci. Etiam interdum leo in urna lobortis, ac cursus ex maximus. Donec justo enim, elementum non dolor et, congue maximus velit.
												p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec lacinia cursus lacus, commodo dictum sapien aliquet quis. Aliquam volutpat orci vel leo fermentum iaculis. Etiam vitae ante velit. Aenean porta nisl a lacus tincidunt cursus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Curabitur sit amet rhoncus orci. Etiam interdum leo in urna lobortis, ac cursus ex maximus. Donec justo enim, elementum non dolor et, congue maximus velit.
												p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec lacinia cursus lacus, commodo dictum sapien aliquet quis. Aliquam volutpat orci vel leo fermentum iaculis. Etiam vitae ante velit. Aenean porta nisl a lacus tincidunt cursus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Curabitur sit amet rhoncus orci. Etiam interdum leo in urna lobortis, ac cursus ex maximus. Donec justo enim, elementum non dolor et, congue maximus velit.
										uib-accordion-group
											uib-accordion-heading
												h6.no-margin Sub-accordion
											div
												p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec lacinia cursus lacus, commodo dictum sapien aliquet quis. Aliquam volutpat orci vel leo fermentum iaculis. Etiam vitae ante velit. Aenean porta nisl a lacus tincidunt cursus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Curabitur sit amet rhoncus orci. Etiam interdum leo in urna lobortis, ac cursus ex maximus. Donec justo enim, elementum non dolor et, congue maximus velit.
												p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec lacinia cursus lacus, commodo dictum sapien aliquet quis. Aliquam volutpat orci vel leo fermentum iaculis. Etiam vitae ante velit. Aenean porta nisl a lacus tincidunt cursus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Curabitur sit amet rhoncus orci. Etiam interdum leo in urna lobortis, ac cursus ex maximus. Donec justo enim, elementum non dolor et, congue maximus velit.
												p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec lacinia cursus lacus, commodo dictum sapien aliquet quis. Aliquam volutpat orci vel leo fermentum iaculis. Etiam vitae ante velit. Aenean porta nisl a lacus tincidunt cursus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Curabitur sit amet rhoncus orci. Etiam interdum leo in urna lobortis, ac cursus ex maximus. Donec justo enim, elementum non dolor et, congue maximus velit.
										uib-accordion-group(is-open="true")
											uib-accordion-heading
												h6.no-margin Sub-accordion
											div
												p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec lacinia cursus lacus, commodo dictum sapien aliquet quis. Aliquam volutpat orci vel leo fermentum iaculis. Etiam vitae ante velit. Aenean porta nisl a lacus tincidunt cursus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Curabitur sit amet rhoncus orci. Etiam interdum leo in urna lobortis, ac cursus ex maximus. Donec justo enim, elementum non dolor et, congue maximus velit.
												p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec lacinia cursus lacus, commodo dictum sapien aliquet quis. Aliquam volutpat orci vel leo fermentum iaculis. Etiam vitae ante velit. Aenean porta nisl a lacus tincidunt cursus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Curabitur sit amet rhoncus orci. Etiam interdum leo in urna lobortis, ac cursus ex maximus. Donec justo enim, elementum non dolor et, congue maximus velit.
												p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec lacinia cursus lacus, commodo dictum sapien aliquet quis. Aliquam volutpat orci vel leo fermentum iaculis. Etiam vitae ante velit. Aenean porta nisl a lacus tincidunt cursus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Curabitur sit amet rhoncus orci. Etiam interdum leo in urna lobortis, ac cursus ex maximus. Donec justo enim, elementum non dolor et, congue maximus velit.

					.accordion-panel.panel-container.flex-transclude(ng-class="{'flex-fill': (panelOpen == 2)}")
						.flex-vert-container.width-100
							.header(ng-click="panelOpen = 2;")
								.row.vert-align.main
									.col-xs-12
										h6.title.text-uppercase Header Section 
							.list-content.panel-scroll.flex-fill(ng-if="panelOpen == 2")
								.width-100
									ul.panel-list.list-unstyled.over-hidden
										// Ordinal Legend display
										li.panel-item.pointable-cursor.animate-repeat(ng-repeat="item in rightPanelListItems")
											.row.flex-container.pointable-cursor
												.col-xs-12
													h6 An Item


					.accordion-panel.panel-container.flex-transclude(ng-class="{'flex-fill': (panelOpen == 3)}")
						.flex-vert-container.width-100
							.header(ng-click="panelOpen = 3;")
								.row.vert-align.main
									.col-xs-12
										h6.title.text-uppercase Header Section 
							.list-content.panel-scroll.flex-fill(ng-if="panelOpen == 3")
								.width-100
									ul.panel-list.list-unstyled.over-hidden
										// Ordinal Legend display
										li.panel-item.pointable-cursor.animate-repeat(ng-repeat="item in rightPanelListItems")
											.row.flex-container.pointable-cursor
												.col-xs-12
													h6 An Item
			#right-panel(style="right: 340px;")
				.accordion.height-100.flex-vert-container
					.accordion-panel.panel-container.flex-transclude.flex-fill
						.flex-vert-container.width-100
							.header
								.row.vert-align.main
									.col-xs-12
										h6.title.text-uppercase Panel with Tab Sections
							.panel-scroll.flex-fill.flex-vert-container
								uib-tabset.flex-vert-container(justified="true" progressive-render="", render-processes="7", render-gap="150")
									uib-tab
										uib-tab-heading
											span
												i.fa.fa-circle
										.panel.width-100
											.header
												h6 Items
											.panel-list
												.panel-item.no-hover
													h6.title.text-uppercase Main Section Nodes
													ul.panel-sublist.list-unstyled
														li.panel-subitem
															h6 Subitem
														li.panel-subitem
															h6 Subitem
														li.panel-subitem
															h6 Subitem
														li.panel-subitem
															h6 Subitem
											.header
												h6 Items
											.panel-list
												.panel-item.no-hover
													h6.title.text-uppercase Main Section Nodes
													ul.panel-sublist.list-unstyled
														li.panel-subitem
															h6 Subitem
														li.panel-subitem
															h6 Subitem
														li.panel-subitem
															h6 Subitem
														li.panel-subitem
															h6 Subitem
											.header
												h6 Items
											.panel-list
												.panel-item.no-hover
													h6.title.text-uppercase Main Section Nodes
													ul.panel-sublist.list-unstyled
														li.panel-subitem
															h6 Subitem
														li.panel-subitem
															h6 Subitem
														li.panel-subitem
															h6 Subitem
														li.panel-subitem
															h6 Subitem
									uib-tab
										uib-tab-heading
											span
												i.fa.fa-expand
										.panel.width-100
											.header
												h6 Items
											.panel-list
												.panel-item.no-hover
													h6.title.text-uppercase Main Section Links
													ul.panel-sublist.list-unstyled
														li.panel-subitem
															h6 Subitem
														li.panel-subitem
															h6 Subitem
														li.panel-subitem
															h6 Subitem
														li.panel-subitem
															h6 Subitem

									uib-tab
										uib-tab-heading
											span
												i.fa.fa-font
										.panel.width-100
											.header
												h6 Items
											.panel-list
												.panel-item.no-hover
													h6.title.text-uppercase Main Section Labels
													ul.panel-sublist.list-unstyled
														li.panel-subitem
															h6 Subitem
														li.panel-subitem
															h6 Subitem
														li.panel-subitem
															h6 Subitem
														li.panel-subitem
															h6 Subitem
	.divider-xlg
	.divider-xlg
	style.

		* {
			font-family: 'europa' !important;

		}
		i {

			font: normal normal normal 14px/1 FontAwesome !important;
		}
		.pl-scroll-container {
			height: 100%;
			overflow: auto;
		}

		.pl-container {
			width: 1050px;
			margin: 10px auto;
			border: 1px solid #d3d3d3;
		}

		.pl-heading {
			background: #eee;
			padding: 10px;
		}

		.pl-body {
			position: relative;
			padding: 10px;
		}

		.pl-dd-filter:hover {
			color: #199bfc;
		}

		.pl-container .modal {
			display: block;
			position: relative;
		}

		#app.dark-theme pre {
			color: #ccc;
			background-color: #000;
		}

		#app.dark-theme .pl-scroll-container {
			background: #000;
		}

		#app.dark-theme .pl-right-panel-body {
			background: #000;
			border: 1px solid #30343C;
		}

		#app.dark-theme .pl-container {
			border-color: #000;
			background: #1b1e22;
		}

		#app.dark-theme .pl-heading {
			background: #30343c;
		}
