.info-item
	.row
		.col-xs-6
			.prev-btn(ng-click="selectPrevGroup();") 
				i.fa.fa-arrow-left
			.next-btn(ng-click="selectNextGroup();") 
				i.fa.fa-arrow-right
		.col-xs-6
			h6.text-right.no-margin {{nodeGroups.length}} nodes selected
		.clearfix
		.divider
	.row
		.col-xs-2
			.legend-icon
				i.fa-1-3x.icon-legend-dots(style="color: {{selGroup.colorStr}};")
		.col-xs-8
			.less-gutter(uib-dropdown dropdown-append-to-body)
				span(uib-dropdown-toggle auto-close="outsideClick") 
					h6.text-link
						span(ng-text-truncate="selGroup.name"  ng-tt-chars-threshold="30" ng-tt-more-label=" " ng-tt-less-label=" ") 
						i.fa.fa-angle-down
				.uib-dropdown-menu.uib-dropdown-menu-flexing(uib-dropdown-menu)
					.uib-dropdown-click-close
					//inline style to center dropdowns
					.uib-dropdown-flex-content(style="margin-left: 25px;")
						.uib-dropdown-triangle
						.uib-dropdown-flex.center.wide
							ul.dd-list.list-unstyled
								li.row.vert-align(ng-repeat="group in nodeGroups" ng-click="selectGroup(group);")
									.col-xs-12.pointable-cursor
										//- h6.no-margin {{group.name}}
										h6(ng-text-truncate="group.name" ng-tt-chars-threshold="100" ng-tt-more-label=" " ng-tt-less-label=" ")
		.col-xs-2
			i.fa.fa-plus.pointable-cursor(ng-show="!ui.showClusterProps", ng-click="ui.showClusterProps = true;")
			i.fa.fa-minus.pointable-cursor(ng-show="ui.showClusterProps", ng-click="ui.showClusterProps = false;")
	.row
		.col-xs-12
			.row
				.col-xs-2
				.col-xs-10
					h6.less-gutter(ng-show="selGroupInfo.group.type == 'cluster'" style="color: {{selGroup.colorStr}};") {{selGroup.name}}
					ul.list-unstyled.less-gutter(ng-if="ui.showClusterProps")
						li.no-margin
							.row 
								.col-xs-6 
									h6 nIntraClus
								.col-xs-6
									h6 {{selGroup.clusterInfo.nIntraClus}}
						li.no-margin
							.row 
								.col-xs-6 
									h6 Nodes Count
								.col-xs-6
									h6 {{selGroup.clusterInfo.nNodes}}
						li.no-margin
							.row 
								.col-xs-6 
									h6 Links Count
								.col-xs-6
									h6 {{selGroup.clusterInfo.nLinks}}
						li.no-margin
							.row 
								.col-xs-6 
									h6 Significance
								.col-xs-6
									h6 {{selGroup.clusterInfo.significance | number: 2}}
