.info-item(ng-show="nodeNeighbors.length != 0")
	ul.list-unstyled.panel-list
		li.panel-item.list-item.no-hover
			.vert-align
				dir-sort-menu(sort-types="sortTypes" sort-config="sortInfo")
			.row.vert-align.m-t-10
				.col-xs-12
					h6 {{nodeNeighbors.length}} First Degree Neighbors:
					
		li.panel-item.list-item.no-hover
			.row.vert-align
				.col-xs-6.vert-align
					.neighbor-search.flex-container.vert-align(ng-show="viewLimit < nodeNeighbors.length")
						input.animate-open-right.h6.no-margin(ng-show="showSearch" type="text" ng-model="neighborSearchQuery" ng-model-options="{debounce: 300}" placeholder="search neighbors...")
						button(ng-show="!showSearch" ng-click="showSearch = true"  uib-tooltip="Search neighbors" tooltip-append-to-body="true")
							i.fa.fa-search
						button.close-btn(ng-show="showSearch" ng-click="showSearch = false; neighborSearchQuery = '';")
							i.fa.fa-times
				.col-xs-6(ng-show="viewLimit < nodeNeighbors.length || numShowGroups !== 0" )
					a.more-text.h6.pull-right.text-right.pointable-cursor(ng-show="viewLimit < nodeNeighbors.length", ng-click='viewMore(); $event.stopPropagation();') 
						em show more neighbors&hellip;
					a.more-text.h6.pull-right.text-right.pointable-cursor(ng-show="numShowGroups !== 0", ng-click='viewLess(); $event.stopPropagation();') 
						em show less neighbors&hellip;
		li.panel-item.list-item.pointable-cursor.no-animate(ng-repeat="neighbor in nodeNeighbors | filter:{label: neighborSearchQuery} | orderBy: scope.sortInfo.sortType : order : neighborsSort | limitTo: viewLimit" ng-click="selectNode(neighbor.id)" ng-mouseenter="hoverNode(neighbor.id, $event)" ng-mouseleave="unHoverNode(neighbor.id, $event);")
			.row.vert-align
				.col-xs-2
					.big-circle(style="background: {{neighbor.colorStr}};")
				.col-xs-8
					h6.less-gutter.truncate(uib-tooltip-html="getNeighborInfoHtml(neighbor)" tooltip-placement="right" tooltip-append-to-body="true") {{neighbor.label}}
				.col-xs-2
					//- i.icon-link(uib-tooltip-html="neighbor.linkedByStr" tooltip-placement="bottom-left" tooltip-append-to-body="true")
