.info-item
	.row
		.col-xs-6(ng-show="selGroup.nodeIds.length > 1")
			.prev-btn(ng-click="selectPrevNode();") 
				i.fa.fa-arrow-left
			.next-btn(ng-click="selectNextNode();") 
				i.fa.fa-arrow-right
			.clearfix
		.col-xs-6
			//- h6.text-right.no-margin(ng-show="!selBrowsing && selGroup.nodeIds.length > 1") {{selNodeIdx + 1}} of {{selGroup.nodeIds.length}}
			//- h6.text-right.no-margin(ng-show="selBrowsing") {{selNodeIdx + 1}} of {{selNodes.length}}
	.divider
	.row
		.col-xs-2
			.info-icon
				.big-circle(style="background: {{selNode.colorStr}};")
		.col-xs-10
			h6.less-gutter {{selNode.attr[labelAttr]}}
