.modal-header
    .row.vert-align
        .col-xs-6
            h6
                span Recipe File Upload
        .col-xs-6
            button.close-btn(type="button", ng-click="closeModal()")
                span.icon &times;
.modal-body
    .row
        .col-xs-12.text-center(ngf-drop="uploadArtifact($files)", ngf-multiple="false", ngf-drag-over-class="'over'" accept=".xls, .xlsx, .csv, .gexf")
            //- h3 Drag your file here
            //- p or if you prefer
            h3.drag-and-drop.vert-align Drag &amp; Drop a File Here
                i.fa.fa-file
            h3.muted or
            button.power-btn(ngf-select="uploadArtifact($files)" accept=".xls, .xlsx, .csv, .gexf") Choose File
            .divider
            .divider
            .divider
            h6
                strong File Notes:&nbsp;
                | We currently support .xls, .xlsx, .csv and .gexf files only.
            //- .row(ng-show="upload_file_started")
            //-     h3 Upload Progress
            //-     p
            //-         div Status: {{upload_file_status}}
