.modal-header
	.row.vert-align
		.col-xs-3
			h6
				span Snapshot Settings
		.col-xs-6.vert-align 
			button.header-btn(ng-click="settingsTab = 'nodes'" ng-class="{'active':(settingsTab == 'nodes')}")
				.h7 Nodes
			button.header-btn(ng-click="settingsTab = 'links'" ng-class="{'active':(settingsTab == 'links')}")
				.h7 Links
			button.header-btn(ng-click="settingsTab = 'labels'" ng-class="{'active':(settingsTab == 'labels')}")
				.h7 Labels
			button.header-btn(ng-click="settingsTab = 'layout'" ng-class="{'active':(settingsTab == 'layout')}")
				.h7 Layout
			button.header-btn(ng-click="settingsTab = 'settings'" ng-class="{'active':(settingsTab == 'settings')}")
				.h7 Settings
		.col-xs-3.vert-align.right
			button.header-btn(ng-click="saveSettings()")
				i.fa.fa-cloud-upload
				span.h7 Save
			button.close-btn(type="button", ng-click="closeModal()")
				span.icon &times;
.modal-body
	.container-fluid
		.row
			.col-xs-2.border-right
				.scroll-list 
					.row
						.col-xs-12
							.menu-item(ng-class="{active: defaultSnapConfigActive, disabled: !recipe.snapshot_gen.genDefaultForNetwork}")
								.row.vert-align
									.col-xs-8
										.h6.item-btn(ng-click="makeDefaultSnapCurrent()" uib-tooltip="Creates 1 default snapshot per network" tooltip-append-to-body="true") Default Snapshot
									.col-xs-4
										.bool.pull-right(uib-tooltip="Generate a default snapshot per network" tooltip-placement="top" tooltip-append-to-body="true" ng-click="$event.stopPropagation();")
											.onoffswitch
												input.onoffswitch-checkbox(id='default-snaps', type='checkbox', ng-model='recipe.snapshot_gen.genDefaultForNetwork', ng-change="defaultSnapshotsToggled()")
												label.onoffswitch-label(for='default-snaps')
													.onoffswitch-inner
													.onoffswitch-switch
							.menu-item(ng-repeat="snap in recipe.snapshot_gen.snapshots" ng-class="{active: currSnapInd == $index}" ng-click="setCurrSnap($index)")
								span.row.vert-align
									.col-xs-9
										.h6(ng-if="snap.snapName") {{snap.snapName}}
										.h6.truncate(ng-if="!snap.snapName") Snapshot {{$index+1}}
									.col-xs-3
										button.power-btn.secondary-btn.error-btn.pull-right(ng-click="removeSnapshot($index); $event.stopPropagation();" uib-tooltip="Delete Snapshot" tooltip-append-to-body="true")
											i.fa.fa-times.fa-2x
							button.menu-item(ng-click="createSnapshot()")
								.h6 Create New Snaphot
			.col-xs-10.scroll-container 
				div(ng-if="currSnap")
					//nodes
					.width-100.over-hidden(ng-if="settingsTab == 'nodes'")
						.header
							.row.vert-align
								.col-xs-5
									h6.title.text-uppercase {{settingsUI.nodeTab.header.title}}
								.col-xs-7
									.bool(uib-tooltip="Show/Hide {{settingsUI.nodeTab.header.title}}" tooltip-placement="left" tooltip-append-to-body="true")
										.onoffswitch
											input.onoffswitch-checkbox(id='settings-switch-{{settingsUI.nodeTab.header.title}}', type='checkbox', ng-model='currSnap.mapprSettings[settingsUI.nodeTab.header.key]', ng-change='settingsUI.setupLayoutChange(settingsUI.nodeTab.header);')
											label.onoffswitch-label(for='settings-switch-{{settingsUI.nodeTab.header.title}}')
												.onoffswitch-inner
												.onoffswitch-switch
						.panel-list.flex-fill.panel-scroll.flex-vert-container(ng-if="currSnap.mapprSettings[settingsUI.nodeTab.header.key]")
							.panel-item.no-hover(ng-repeat = "section in settingsUI.nodeTab.renderSettings | toArray")
								h6.title.text-uppercase {{section.$key}}
								ul.panel-sublist.list-unstyled
									li.panel-subitem(ng-repeat="opt in section", ng-mouseenter='settingsUI.setHoverSetting(opt)', ng-show='opt.enabled', ng-class='settingsUI.getClass(opt)', ng-click="$event.stopPropagation()")
										.row.vert-align(ng-if='opt.type != "color-p"')
											.col-xs-5.vert-align
												h6.pull-left(ng-if='opt.title!=""') {{opt.title}}&nbsp;&nbsp;&nbsp;
												.pull-left
													i.fa.fa-info-circle(uib-tooltip="{{opt.tooltip}}" tooltip-placement="left" tooltip-append-to-body="true")
											.col-xs-7(ng-if='opt.type != "color-p"')
												settings-input(opt="opt", attrs="nodeAttrs" attr-filter="filterNodeAttrs(opt)" ng-model="currSnap.mapprSettings[opt.key]")
										div(ng-if='opt.type == "color-p"')
											.row.vert-align
												.col-xs-5.vert-align
													h6.pull-left(ng-if='opt.title!=""') {{opt.title}}
													.pull-left
														i.fa.fa-info-circle(uib-tooltip="{{opt.tooltip}}" tooltip-placement="left" tooltip-append-to-body="true")
												.col-xs-7
													color-picker(colors='currSnap.mapprSettings[opt.key]', editable='true' ng-if='opt.type == "color-p"')
										.divider
					//links
					.width-100.over-hidden(ng-if="settingsTab == 'links'")
						.header
							.row.vert-align
								.col-xs-5
									h6.title.text-uppercase {{settingsUI.edgeTab.header.title}}
								.col-xs-7
									.bool(uib-tooltip="Show/Hide {{settingsUI.edgeTab.header.title}}" tooltip-placement="left" tooltip-append-to-body="true")
										.onoffswitch
											input.onoffswitch-checkbox(id='settings-switch-{{settingsUI.edgeTab.header.title}}', type='checkbox', ng-model='currSnap.mapprSettings[settingsUI.edgeTab.header.key]', ng-change='settingsUI.setupLayoutChange(settingsUI.edgeTab.header);')
											label.onoffswitch-label(for='settings-switch-{{settingsUI.edgeTab.header.title}}')
												.onoffswitch-inner
												.onoffswitch-switch
						.panel-list.flex-fill.panel-scroll.flex-vert-container(ng-if="currSnap.mapprSettings[settingsUI.edgeTab.header.key]")
							.panel-item.no-hover(ng-repeat = "section in settingsUI.edgeTab.renderSettings | toArray")
								h6.title.text-uppercase {{section.$key}}
								ul.panel-sublist.list-unstyled
									li.panel-subitem(ng-repeat="opt in section", ng-mouseenter='settingsUI.setHoverSetting(opt)', ng-show='opt.enabled', ng-class='settingsUI.getClass(opt)', ng-click="$event.stopPropagation()")
										.row.vert-align(ng-if='opt.type != "color-p"')
											.col-xs-5.vert-align
												h6.pull-left(ng-if='opt.title!=""') {{opt.title}}&nbsp;&nbsp;&nbsp;
												.pull-left
													i.fa.fa-info-circle(uib-tooltip="{{opt.tooltip}}" tooltip-placement="left" tooltip-append-to-body="true")
											.col-xs-7(ng-if='opt.type != "color-p"')
												settings-input(opt="opt", attrs="edgeAttrs" attr-filter="filterEdgeAttrs(opt)" ng-model="currSnap.mapprSettings[opt.key]")
										div(ng-if='opt.type == "color-p"')
											.row.vert-align
												.col-xs-5.vert-align
													h6.pull-left(ng-if='opt.title!=""') {{opt.title}}
													.pull-left
														i.fa.fa-info-circle(uib-tooltip="{{opt.tooltip}}" tooltip-placement="left" tooltip-append-to-body="true")
												.col-xs-7
													color-picker(colors='currSnap.mapprSettings[opt.key]' editable='true' ng-if='opt.type == "color-p"')
										.divider
					//labels
					.width-100.over-hidden(ng-if="settingsTab == 'labels'")
						.header
							.row.vert-align
								.col-xs-5
									h6.title.text-uppercase {{settingsUI.labelTab.header.title}}
								.col-xs-7
									.bool(uib-tooltip="Show/Hide {{settingsUI.labelTab.header.title}}" tooltip-placement="left" tooltip-append-to-body="true")
										.onoffswitch
											input.onoffswitch-checkbox(id='settings-switch-{{settingsUI.labelTab.header.title}}', type='checkbox', ng-model='currSnap.mapprSettings[settingsUI.labelTab.header.key]', ng-change='settingsUI.setupLayoutChange(settingsUI.labelTab.header);')
											label.onoffswitch-label(for='settings-switch-{{settingsUI.labelTab.header.title}}')
												.onoffswitch-inner
												.onoffswitch-switch
						.panel-list.flex-fill.panel-scroll.flex-vert-container(ng-if="currSnap.mapprSettings[settingsUI.labelTab.header.key]")
							.panel-item.no-hover(ng-repeat = "section in settingsUI.labelTab.renderSettings | toArray")
								h6.title.text-uppercase {{section.$key}}
								ul.panel-sublist.list-unstyled
									li.panel-subitem(ng-repeat="opt in section", ng-mouseenter='settingsUI.setHoverSetting(opt)', ng-show='opt.enabled', ng-class='settingsUI.getClass(opt)', ng-click="$event.stopPropagation()")
										.row.vert-align
											.col-xs-5.vert-align
												h6.pull-left(ng-if='opt.title!=""') {{opt.title}}&nbsp;&nbsp;&nbsp;
												.pull-left
													i.fa.fa-info-circle(uib-tooltip="{{opt.tooltip}}" tooltip-placement="left" tooltip-append-to-body="true")
											.col-xs-7
												settings-input(opt="opt", attrs="nodeAttrs" attr-filter="filterNodeAttrs(opt)" ng-model="currSnap.mapprSettings[opt.key]")
										.divider
					//layouts
					.width-100.over-hidden(ng-if="settingsTab == 'layout'")
						.header
							.row.vert-align 
								.col-xs-5
									h6.title.text-uppercase Layout
								.col-xs-7 
									div(uib-dropdown dropdown-append-to-body)
										span.uib-dropdown-toggle(uib-dropdown-toggle, auto-close="outsideClick" uib-tooltip="Choose Layout" tooltip-placement="top" tooltip-append-to-body="true")
											span.text-uppercase.h6.text-link {{currSnap.layout.name || "Choose Layout Type"}}&nbsp;
											i.fa.fa-caret-down
										.uib-dropdown-menu.uib-dropdown-menu-flexing(uib-dropdown-menu)
											.uib-dropdown-click-close
											.uib-dropdown-flex-content
												.uib-dropdown-flex
													ul.list-unstyled.dd-list
														li.row.vert-align(ng-repeat="layout in layouts" ng-click="setCurrLayout(layout);" ng-class="{active: layout.name == 'currSnap.layout.name'}")
															.col-sm-12
																h6.no-margin.pointable-cursor
																	span.no-text-transform {{layout.name}}
						.panel-list.flex-fill.panel-scroll.flex-vert-container
							div(ng-show="currSnap.layout.plotType == layout.plotType", ng-repeat="layout in layouts")
								div(ng-if="layout.options.primary.length > 0")
									.section-body.panel-list
										ul.panel-sublist.list-unstyled
											li.panel-item.no-hover(ng-if="layout.name == 'Cluster'")
												h6.title.text-uppercase Create New Cluster Layout
											li.panel-subitem(ng-repeat = "opt in layout.options.primary", ng-mouseenter='settingsUI.setHoverSetting(opt)', ng-show='opt.enabled', ng-class='settingsUI.getClass(opt)', ng-click="$event.stopPropagation()")
												.row.vert-align
													.col-xs-5(uib-tooltip="{{opt.tooltip}}" tooltip-placement="left" tooltip-append-to-body="true")
														h6(ng-if='opt.title!=""') {{opt.title}}
													.col-xs-7
														settings-input(opt="opt", attrs="nodeAttrs", ng-model="currSnap.layout[opt.key]")
												.clearfix
												.divider
								div(ng-if="layout.options.optional.length > 0 && layout.showOptional")
									.row.vert-align
										.col-xs-12
											h6.title.text-uppercase Settings
									ul.panel-sublist.list-unstyled
										li.panel-subitem(ng-repeat = "opt in layout.options.optional", ng-mouseenter='settingsUI.setHoverSetting(opt)', ng-show='opt.enabled', ng-class='settingsUI.getClass(opt)', ng-click="$event.stopPropagation()")
											.row.vert-align
												.col-xs-5(uib-tooltip="{{opt.tooltip}}" tooltip-placement="left" tooltip-append-to-body="true")
													h6(ng-if='opt.title!=""') {{opt.title}}
												.col-xs-7
													settings-input(opt="opt", attrs="nodeAttrs", ng-model="currSnap.layout[opt.key]")
											.divider
								div(ng-if="layout.options.optional.length > 0")
									ul.panel-sublist.list-unstyled
										li.panel-subitem
											.row
												.col-xs-12
													a.h6.pointable-cursor.pull-right.no-margin(ng-if="!layout.showOptional" type="button" ng-click="layout.showOptional = true;")
														em Advanced Options&hellip;
													a.h6.pointable-cursor.pull-right.no-margin(ng-if="layout.showOptional" type="button" ng-click="layout.showOptional = false;")
														em Hide Options&hellip;
											.clearfix
											.divider
					.width-100.over-hidden(ng-if="settingsTab == 'settings'")
						.panel-list.flex-fill.panel-scroll.flex-vert-container
							.panel-item.no-hover
								h6.title.text-uppercase Settings
								ul.panel-sublist.list-unstyled
									li.panel-subitem
										.row.vert-align
											.col-xs-5 
												h6.pull-left Snapshot Name 
											.col-xs-7 
												input(type="text" ng-model="currSnap.snapName")
				div(ng-if="!currSnap && recipe.snapshot_gen.snapshots.length === 0")
					h5 Create a snapshot for this recipe.
					button.power-btn(ng-click="createSnapshot()") Create Snapshot
					.divider
