.modal-header
	.row.vert-align
		.col-xs-10
			h6
				span Recipe Network Settings
		.col-xs-2.vert-align.right
			button.close-btn(type="button", ng-click="closeModal()")
				span.icon &times;
.modal-body
	h6.text-uppercase Networks
	.top-align
		h6.height-100.pull-left 1
		.pull-left.width-100
			.col-xs-9.vert-align
				label.h6.pull-left.nowrap Network Name:&nbsp;
				input.form-control.width-100(type="text", ng-model="recipe.network_gen.defNetworkName")
				//- button.power-btn.error-btn.secondary-btn.pull-right(ng-click="removeNetwork($index);", uib-tooltip="Remove Network" tooltip-append-to-body="true") 
					i.fa.fa-2x.fa-times
			.col-xs-9
				h6 (Predefined)
	.top-align(ng-repeat="network in recipe.network_gen.networks")
		h6.height-100.pull-left {{$index+2}}
		.pull-left.width-100
			.col-xs-9.vert-align
				label.h6.pull-left.nowrap Network Name:&nbsp;
				input.form-control.width-100(type="text", ng-model="network.name")
				button.power-btn.error-btn.secondary-btn.pull-right(ng-click="removeNetwork($index);", uib-tooltip="Remove Network" tooltip-append-to-body="true") 
					i.fa.fa-2x.fa-times
			.col-xs-9
				h6 Algorithm: 
					span.active Athena Network Generation
			.col-xs-9
				.divider
				div(ng-repeat="question in network.algo_config.options.questions")
					.row.vert-align
						.col-xs-5.vert-align
							label.h6.pull-left.no-margin Attribute:&nbsp;&nbsp;
							settings-input.pull-left(opt="nodeAttrOpt", attrs="nodeAttrs" ng-model="question.Question")
						.col-xs-7.vert-align
							label.h6.pull-left.no-margin.nowrap Analysis Type:&nbsp;&nbsp;
							.ui-select.width-100
								select(ng-model="question.qAnalysisType" ng-options="item.value as item.name for item in analysisTypeOptions")
							button.power-btn.error-btn.secondary-btn.pull-right(ng-click="removeQuestion($parent.$index, $index);", uib-tooltip="Remove Attribute" tooltip-append-to-body="true") 
								i.fa.fa-2x.fa-times
					.divider
				button.power-btn.secondary-btn.left(ng-click="addQuestion($index)") 
					i.fa.fa-plus 
					| &nbsp;Add Attribute
		.clearfix
	.clearfix
	.divider
	button.power-btn(ng-click="addNetwork();") Add Network
	.clearfix
	.divider-lg
	button.power-btn.pull-right.right(ng-click="saveSettings()") Save Network Settings
	button.power-btn.secondary-btn.pull-right(ng-click="closeModal()") Cancel
