// post process phase
.recipe-block
    .recipe-block-item.row
        .item-desc.col-xs-1 
            .pull-right ETL
            .pull-right.text(ng-if="inProgress && !run_finished && finalCompletion > 0") {{finalCompletion | number : 2}}%
        .col-xs-1
            div(ng-include="'#{server_prefix}#{view_path}/components/dashboard/recipes/phase_modals/phase_indicator.html'")
        .item-body.col-xs-9(ng-click="phasevm.onClick()")
            button.power-btn.secondary-btn.pull-right 
                i.fa.fa-pencil
                | &nbsp;Edit
            div(ng-repeat="proc in phasevm.cfg")
                h6 {{::proc.algoType}} - 
                    span.text-qualify Attr: {{::proc.config.queryAttrId}}, Relevance: {{::proc.config.relevance}}, Algos: &nbsp;
                        span(ng-repeat="algo in proc.config.selectedAlgos") [{{algo}}] &nbsp;
        //- .item-action.col-xs-1.soft-color
        //-     i.fa.fa-2x.fa-pencil
