header.header-bar(ng-controller="HeaderCtrl")
	.top-nav(ng-class="{minimum: ui.getPage() != 'user-profile' && ui.getPage() != 'user-projects' && ui.getPage() != 'user-surveys' && ui.getPage() != 'user-orgs' && ui.getPage() != 'user-recipes'} && ui.getPage() != 'recipe_panel'")
		//LEFT
		ul.list-unstyled.vert-align.left-menu
			//LOGO + TEXT
			li.menu-nav.vert-align(ng-mouseleave="showProjMenu = false;")
				a.vert-align(href="", ng-if="ui.getPage() != 'recipe_panel'", data-toggle-min-nav='data-toggle-min-nav', uib-tooltip="Menu", tooltip-placement="right")
					i.icon-mappr-logo
				div.btn-group(ng-if="ui.getPage() == 'recipe_panel'" ng-mouseenter="showProjMenu = true;" uib-tooltip="Recipes" tooltip-placement="right" tooltip-append-to-body="true")
					a.proj-logo.text-center.vert-align(href="/recipes")
						i.icon-mappr-logo(ng-if="!showProjMenu")
						i.fa.fa-arrow-left.fa-2x(ng-if="showProjMenu")
			//CREATE NEW BUTTON
			//new projects
			li.menu-nav
				button.power-btn.wide(ng-if="ui.getPage() == 'user-projects'" ng-click="project.createProjAndEnter();" uib-tooltip="New Project", tooltip-placement="bottom" tooltip-append-to-body="true") New Project
				button.power-btn.wide(ng-if="ui.getPage() == 'user-surveys'" ng-click="surveyTemplate.addNewSurveyTemplate(); ui.enterSurveyTemplateEditMode();" uib-tooltip="New Survey", tooltip-placement="bottom" tooltip-append-to-body="true") New Survey
				button.power-btn.wide(ng-if="ui.getPage() == 'user-orgs'" ng-click="org.addNewOrg = true;" uib-tooltip="Create an Org Folder", tooltip-placement="bottom" tooltip-append-to-body="true") New Organization
				button.power-btn.wide(ng-if="ui.getPage() == 'user-recipes'" ng-click="recipeDash.create()" uib-tooltip="Create a Recipe", tooltip-placement="bottom" tooltip-append-to-body="true") New Recipe
			//SEARCH PROJECTS
			li.search(ng-if="ui.getPage() == 'user-projects' || ui.getPage() == 'user-surveys' || ui.getPage() == 'user-orgs' || ui.getPage() == 'user-recipes'")
				.square-btn.pull-left.search-input
					input.h4.form-control(ng-if="ui.getPage() == 'user-projects'" type="text" ng-model="org.projectSearchKey", ng-model-options="{debounce: 500}" dir-select-all)
					input.h4.form-control(ng-if="ui.getPage() == 'user-surveys'" type="text" ng-model="org.surveySearchKey", ng-model-options="{debounce: 500}" dir-select-all)
					input.h4.form-control(ng-if="ui.getPage() == 'user-orgs'" type="text" ng-model="org.orgSearchKey", ng-model-options="{debounce: 500}" dir-select-all)
					input.h4.form-control(ng-if="ui.getPage() == 'user-recipes'" type="text" ng-model="recipeDash.searchKey", ng-model-options="{debounce: 500}" dir-select-all)
					i.fa.fa-search
				
			//SORT
			li.uib-dropdown.search-sort(uib-dropdown dropdown-append-to-body ng-if="ui.getPage() == 'user-projects' || ui.getPage() == 'user-surveys' || ui.getPage() == 'user-recipes'")
				span.uib-dropdown-toggle(uib-dropdown-toggle, auto-close="outsideClick" uib-tooltip="Sort" tooltip-placement="bottom")
					button
						i.fa.fa-sort-alpha-asc
				.uib-dropdown-menu.uib-dropdown-menu-flexing(uib-dropdown-menu)
					.uib-dropdown-click-close
					.uib-dropdown-flex-content
						.uib-dropdown-flex
							ul.list-unstyled.dd-list
								li.row.vert-align(ng-click="org.setSort('alpha')" ng-class="{active: org.getCurSortType() == 'alpha'}")
									.col-sm-12
										h6.no-margin.pointable-cursor
											span.no-text-transform Sort Alphabetically
								li.row.vert-align(ng-click="org.setSort('date')" ng-class="{active: org.getCurSortType() == 'date'}")
									.col-sm-12
										h6.no-margin.pointable-cursor
											span.no-text-transform Sort by Creation Date
		//RIGHT
		ul.list-unstyled.vert-align.pull-right.no-margin
			li.vert-align(ng-if="ui.getPage() == 'user-projects' && project.batchAr.length != 0")
				button.batch-btn(type="button" dir-delete-confirm="" title="Delete Projects" obj-name="{{project.batchAr.length}} Selected Projects" obj-info="project.batchInfo" get-obj-info="project.getBatchInfo()" action='project.batchDelete();' uib-tooltip="Batch Delete" tooltip-placement="bottom" tooltip-append-to-body="true")
					i.fa.fa-1-5x.fa-trash.active
				button.batch-btn(ng-if="user.isOrgOwner" type="button" ng-click="project.batchMove();" uib-tooltip="Batch Move" tooltip-placement="bottom" tooltip-append-to-body="true")
					i.fa.fa-1-5x.fa-folder-open.active
			//ORGANIZATION
			li#orgDropdown.uib-dropdown(uib-dropdown dropdown-append-to-body ng-if="ui.getPage() == 'user-projects' || ui.getPage() == 'user-surveys' || ui.getPage() == 'user-recipes'")
				span.uib-dropdown-toggle(uib-dropdown-toggle, auto-close="outsideClick" uib-tooltip="{{user.current.orgs.length}} org{{{true:'s', false:''}[user.current.orgs.length > 1]}}", tooltip-placement="bottom" tooltip-append-to-body="true") 
					.circle-btn
						i.fa.fa-folder.fa-1-5x
						span.h5 {{org.selected.orgName.substr(0,1)}}
				.uib-dropdown-menu.uib-dropdown-menu-flexing(uib-dropdown-menu)
					.uib-dropdown-click-close
					.uib-dropdown-flex-content(style="margin-left:40px;")
						.uib-dropdown-flex.right
							ul.list-unstyled.dd-list
								li.row.vert-align(ng-click="org.selectByRef(orgItem.ref, ui.goToOrgAssetList)", ng-repeat="orgItem in user.current.orgs | orderBy: 'dateJoined' : true", ng-class="{true: 'active', false: ''}[orgItem.orgName == org.selected.orgName]")
									.vert-align(ng-show="orgItem.isPending")
										.col-xs-12
											h6.no-margin.truncate
												i.fa.fa-folder-o
												| &nbsp;&nbsp;{{orgItem.orgName}}
									a.vert-align(ng-hide="orgItem.isPending", href='#')
										.col-xs-11
											h6.no-margin.truncate
												i.fa.fa-folder-o
												| &nbsp;&nbsp;{{orgItem.orgName}}
										.col-xs-1 
											h6.no-margin(uib-tooltip="Owner" tooltip-append-to-body="true" tooltip-placement="right")
												i.fa.fa-shield.pull-right(ng-if="orgItem.role == 'owner' || orgItem.role == 'isOwner'")
								//- li.row.vert-align
								//- 	.col-xs-12
								//- 		.media-body
								//- 			a(href='/user-orgs')
								//- 				.row
								//- 					.col-xs-12
								//- 						h6.no-margin
								//- 							i.fa.fa-folder-open-o
								//- 							| &nbsp;&nbsp;New Folder
			
			
			li(ng-if="user.isOrgOwner && ui.getPage() != 'user-profile'")
				a(ng-href="/owner" uib-tooltip="Invite Collaborators" tooltip-placement="bottom") 
					.circle-btn
						i.fa.fa-group
						.plus +
			li(ng-if="user.current.role.title == 'admin' ")
				a(ng-href="/admin" uib-tooltip="Admin Dash" tooltip-placement="bottom") 
					.circle-btn
						i.fa.fa-lock.fa-1-3x
					
			li.uib-dropdown.text-normal.nav-profile.menu-nav(uib-dropdown dropdown-append-to-body ng-if="ui.getPage() == 'user-projects'")
				a(uib-dropdown-toggle auto-close="outsideClick" href='javascript:;' uib-tooltip="profile", tooltip-placement="bottom")
					//img.img-circle.img35_35(ng-src='{{user.current.picture}}', alt='{{user.current.name}}')
					.circle-btn
						span.h4 {{user.current.name | limitTo: 1}}
				.uib-dropdown-menu.uib-dropdown-menu-flexing(uib-dropdown-menu)
					.uib-dropdown-click-close
					.uib-dropdown-flex-content(style="margin-left:43px;")
						.uib-dropdown-flex.right
							ul.list-unstyled.dd-list
								//- ng-repeat here
								li.row.vert-align
									a(href="/user-profile") 
										.col-xs-12
											.h6.no-margin Profile
								
								li.row
									a.vert-align(ng-click="logout()")
										.col-xs-7
											h6.no-margin.truncate {{user.current.email}}
										.col-xs-5
											.h6.no-margin.truncate Log Out
		.clearfix
script#inviteToOrgModal.html(type='text/ng-template')
