#nav-wrapper
	ul#nav(data-collapse-nav='data-collapse-nav', data-slim-scroll='data-slim-scroll', data-highlight-active='data-highlight-active')
		li
			a(href='/recipes')
				i.fa.fa-magic(data-open-min-nav='data-open-min-nav')
					span.icon-bg.active-bg
				span.h6(data-i18n='Recipes') Recipes
		li
			a(href='/user-projects')
				i.fa.fa-bullseye(data-open-min-nav='data-open-min-nav')
					span.icon-bg.active-bg
				span.h6(data-i18n='Mapps') Mapps
		//- li.nav-task
		//- 	a(href='/user-surveys')
		//- 		i.fa.fa-th-list(data-open-min-nav='data-open-min-nav')
		//- 			span.icon-bg.bg-info
		//- 		span.text-thin(data-i18n='Surveys')
		//TODOs 
		//- li
		//- 	a(href='#players')
		//- 		i.fa.fa-youtube-play(data-open-min-nav='data-open-min-nav')
		//- 			span.icon-bg.bg-orange
		//- 		span.text-thin(data-i18n='Players (todo)')
		//- 	ul
		//- 		li
		//- 			a(href='#players-draft')
		//- 				i.fa.fa-caret-right
		//- 				span(data-i18n='Drafts')
		//- 				span.badge.badge-dark 14
		//- 		li
		//- 			a(href='#players-pub')
		//- 				i.fa.fa-caret-right
		//- 				span(data-i18n='Published')
		//- 				span.badge.badge-dark 12
		//- li.nav-task
		//- 	a(href='#datasets')
		//- 		i.fa.fa-table(data-open-min-nav='data-open-min-nav')
		//- 			span.icon-bg.bg-info
		//- 		span.text-thin(data-i18n='Datasets (todo)')
		//- li.nav-task
		//- 	a(href='#members')
		//- 		i.fa.fa-users(data-open-min-nav='data-open-min-nav')
		//- 			span.icon-bg.bg-info
		//- 		span.text-thin(data-i18n='Members (todo)')
