.button {
  padding: 10px;
  font-size: 15px;
  text-transform: uppercase;
  border-radius: 4px;
  transition: all .25s;
  cursor: pointer;

  &:disabled {
    pointer-events: none;
    opacity: .7;
  }

  &_wide {
    display: block;
    width: 100%;
  }

  &_type {
    &_primary {
      background: #BA3665;
      color: #fff;

      &:hover {
        background: darken($color: #BA3665, $amount: 8);
      }

      &:focus,
      &:active {
        background: darken($color: #BA3665, $amount: 8);
        box-shadow: inset 0 0 8px rgba($color: darken($color: #BA3665, $amount: 24), $alpha: .6);
      }
    }

    &_ghost {
      background: none;
      color: #BA3665;
      text-transform: initial;
      font-weight: 500;
      font-size: 13px;

      &:hover {
        color: darken($color: #BA3665, $amount: 8);
      }
    }

    &_play-toolbar {
      display: block;
      width: 26px;
      height: 100%;
      padding: 0;
      font-size: 0;
      position: relative;
      background-color: #fff;
      border-radius: 2px;
      text-transform: none;

      &:disabled {
        opacity: .3;
      }

      &.button_with-text {
        width: auto;
        font-weight: 400;
        font-size: 14px;
        line-height: 26px;
        padding: 0 10px 0 20px;

        &::before {
          width: 20px;
        }
      }

      &:hover {
        background-color: lighten(lighten(#000, 90%), 8);
      }

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: 50%;
      }

      &.button {
        &_icon {
          &_check::before {
            background-image: deployedUrl('/img/play-toolbar/check.svg');
          }

          &_chevron-left::before {
            background-image: deployedUrl('/img/play-toolbar/arrow-left.svg');
          }

          &_chevron-right::before {
            background-image: deployedUrl('/img/play-toolbar/arrow-right.svg');
          }

          &_cancel::before {
            background-image: deployedUrl('/img/play-toolbar/cancel.svg');
          }

          &_target::before {
            background-image: deployedUrl('/img/play-toolbar/target.svg');
          }

          &_plus::before {
            background-image: deployedUrl('/img/play-toolbar/plus.svg');
          }

          &_minus::before {
            background-image: deployedUrl('/img/play-toolbar/minus.svg');
          }

          &_search::before {
            background-image: deployedUrl('/img/play-toolbar/search.svg');
          }

          &_help::before {
            background-image: deployedUrl('/img/play-toolbar/help.svg');
          }
        }
      }
    }
  }
}
