.page
	.page-signin.width-100(data-ng-controller='ResetPswdCtrl')
		.modal-dialog
			.panel.panel-profile
				.panel-heading(style="padding:0;")
					a.logo.logo_type_sign-in(href="/")
						span 123
						img.logo__image(alt="Vibrant Data Logo" src="img/logo.svg" width="98")/
					.clearfix

					h4.page-signin__title Reset Password
				.panel-body
					section
						form.form-horizontal
							.form-group
								.col-sm-12
									.form-field
										.form-field__content
											input.form-field__input(ng-model='user.email', type='email', placeholder='email', name="email", disabled="disabled" dir-select-all)/

							.form-group
								.col-sm-12
									.form-field
										.form-field__content
											input.form-field__input(ng-model='user.newPswd', type='password', placeholder='password', name="password" dir-select-all)/

							.form-group
								.col-sm-12
									.input-group.input-group-lg
										span.input-group-addon
											span.fa.fa-key.fa-fw
										input.form-control(ng-model='user.newPswdConfirm', type='password', placeholder='password confirm', name="password" dir-select-all)
							p.text-center.text-muted.text-small
							.divider

							button.button.button_type_primary.button_wide(type="submit", ng-click='resetPassword()')
								span.button__text Reset Password

							h5.text-danger {{message}}
			.text-center.modal-dialog__note
				p Vibrant Data, Inc. All Rights Reserved.
