.page.page-profile(ng-controller="MapprAdminCtrl")
	.top-header
		header.header-bar
			.top-nav
				ul.list-unstyled.vert-align.left-menu.pull-left
					//LOGO + TEXT
					li.menu-nav.vert-align(ng-mouseleave="showProjMenu = false;")
						div.btn-group(ng-mouseenter="showProjMenu = true;" uib-tooltip="Back to Projects", tooltip-placement="right")
							a.proj-logo.text-center.vert-align(href="/user-projects")
								i.icon-mappr-logo(ng-if="!showProjMenu")
								i.fa.fa-arrow-left.fa-2x(ng-if="showProjMenu")
					li.menu-nav
						h5 Share settings for {{selOrgVM.orgName}} 
				//- .row.width-100.vert-align
				//- 	.col-xs-12.vert-align
				//- 		a.proj-logo.text-center.vert-align(href="/user-projects")
				//- 			i.icon-mappr-logo(ng-if="!showProjMenu")
				//- 			i.fa.fa-arrow-left.fa-2x(ng-if="showProjMenu")
				//- 		h5.pull-left.no-margin &nbsp;&nbsp;Share settings for {{selOrgVM.orgName}} 
	.page-projectlist.list-lg
		ul.list-group 
			li.list-group-item.no-hover
				.row
					.col-xs-12
						.h4 Invite Users
				.row.vert-align
					.col-sm-3
						input.h5.form-control(type='text', ng-model='newOrgUser.first_name', placeholder='FirstName' dir-select-all)
					.col-sm-3
						input.h5.form-control(type='text', ng-model='newOrgUser.last_name', placeholder='LastName' dir-select-all)
					.col-sm-4
						input.h5.form-control(type='email', ng-model='newOrgUser.email', placeholder='Email' dir-select-all)-all)
					.col-xs-2
						button.power-btn(type="button", ng-click="selOrgVM.addUser()") Invite User
			//- .row
			//- 	.col-xs-12
			//- 		.h4 Users
			//- .row.vert-align
			//- 	.col-sm-5
			//- 		input.h5.search.form-control(type="text", placeholder="search users...", ng-model="userSearchText" dir-select-all)
			li.list-group-item.no-hover
				.row
					.col-xs-12
						h4 Members
				.row
					.col-xs-12
						ul.sublist-lg(ng-if="selOrgVM.users.members.length > 0")
							li.list-group-item.list-group-header.no-hover
								.row.vert-align
									.col-xs-1 
									.col-xs-2
										h6.no-margin Name 
									.col-xs-3 
										h6.no-margin Email 
									.col-xs-2 
										h6.no-margin.sortable Role
									.col-xs-2
										h6.no-margin Date Joined
							li.list-group-item.no-hover(ng-repeat="user in selOrgVM.users.members | filter:userSearchText")
								.row.vert-align 
									.col-xs-1 
										img.img-circle.avatar.hidden-phone(src="http://placehold.it/50x50")
									.col-xs-2
										h6.no-margin.name {{ user.name }}
									.col-xs-3
										h6.no-margin.subtext {{ user.email }}
									.col-xs-2
										h6.no-margin.subtext {{ user.role == 'isOwner' ? 'Owner' : 'Member' }}
									.col-xs-2
										h6.no-margin {{ user.dateJoined | date : medium }}
									.col-xs-2(ng-if="user.ref != loggedInUser._id")
										button.power-btn.error-btn(type="button", dir-delete-confirm="" title="Remove user from {{selOrgVM.orgName}}" obj-name="{{user.name}} from {{selOrgVM.orgName}}" action="selOrgVM.removeUser(user);") Remove
									.col-xs-2(ng-if="user.ref == loggedInUser._id")
										h6.no-margin You
											button.power-btn.secondary-btn.error-btn(dir-delete-confirm="" title="You want to leave {{selOrgVM.orgName}}" obj-name="yourself from {{selOrgVM.orgName}}" action="selOrgVM.removeUser(user);") Leave Org
				.row(ng-if="selOrgVM.users.members.length === 0")
					.col-xs-12
						h4 No members yet
			li.list-group-item.no-hover
				.row
					.col-xs-12
						h4 Pending
				.row
					.col-xs-12
						ul.sublist-lg
							li.list-group-item.list-group-header.no-hover
								.row.vert-align
									.col-xs-1 
									.col-xs-2
										h6.no-margin Name 
									.col-xs-3 
										h6.no-margin Email 
									.col-xs-2 
										h6.no-margin.sortable Role
									.col-xs-2
							li.list-group-item.no-hover(ng-repeat="user in selOrgVM.users.pending | filter:userSearchText")
								.row.vert-align
									.col-xs-1 
										img.img-circle.avatar.hidden-phone(src="http://placehold.it/50x50")
									.col-xs-2
										h6.no-margin.name {{ user.name }}
									.col-xs-3
										h6.no-margin.subtext {{ user.email }}
									.col-xs-2
										h6.no-margin.subtext {{ user.role }}
									.col-xs-2
									.col-xs-2
										button.power-btn.error-btn(type="button", ng-click="selOrgVM.cancelUserInvite(user)") Cancel Invite
