.modal-header
	.row.vert-align
		.col-xs-8
			h6
				span {{selUserVM.name}}'s Orgs
		.col-xs-4
			button.close-btn(type="button", ng-click="$close()")
				span.icon &times;
.modal-body
	.container-fluid
		.list-group-item.no-border
			.row.vert-align
				.col-xs-1
					i.fa.fa-2x.fa-fw.fa-users.hidden
				.col-xs-5.sortable 
					h6.no-margin Name
				.col-xs-2.sortable 
					h6.no-margin Joined
				.col-xs-1 
					h6.no-margin Role
				.col-xs-1.sortable
				.col-xs-2
		.list-group-item(ng-repeat="org in selUserVM.orgs | filter:orgSearchText | orderBy: '-createdAt' ")
			.row.vert-align
				.col-xs-1
					i.fa.fa-2x.fa-fw.fa-users
					//- img.img-circle.avatar.hidden-phone(src="http://placehold.it/50x50")
				.col-xs-5
					h6.name {{ org.orgName }}
				.col-xs-2
					h6 {{ org.dateJoined | date : medium }}
				.col-xs-1 
					h6 {{ org.role}}
