.modal-header
	.row.vert-align
		.col-xs-8
			h6
				span Add User To System
		.col-xs-4.vert-align.right
			//- button.header-btn(type="button", ng-if="newUserVM.email !== ''" ng-click="selUserVM.createUser()" uib-tooltip="Add user to system" tooltip-placement="left")
			//- 	i.fa.fa-envelope-o
			//- 	span.h7 Create User
			button.close-btn(type="button", ng-click="$close()")
				span.icon &times;
.modal-body
	.container-fluid
		.row
			.col-xs-12
				.row.vert-align
					.col-sm-3
						input.h5.form-control(type='text', ng-model='newUserVM.first_name', placeholder='FirstName' dir-select-all)
					.col-sm-3
						input.h5.form-control(type='text', ng-model='newUserVM.last_name', placeholder='LastName' dir-select-all)
					.col-sm-6
						input.h5.form-control(type='email', ng-model='newUserVM.email', placeholder='Email' dir-select-all)
		.row(ng-if="newUserVM.error")
			.col-xs-11(ng-class="{'error': 'alert-danger', 'success': 'alert-info', 'info': 'alert-info', 'warning':'alert-warning'}[response.type]")
				div
					.h4 {{response.message}}
				.divider
		.row 
			.col-xs-12 
				button.power-btn.pull-right(type="button" , ng-if="newUserVM.email !== ''" ng-click="selUserVM.createUser()" uib-tooltip="Add user to system" tooltip-placement="left") Create User
