.modal-header
	.row.vert-align
		.col-xs-8
			h6
				span Edit User
		.col-xs-4.vert-align.right
			button.close-btn(type="button", ng-click="$close()")
				span.icon &times;
.modal-body
	.container-fluid
		.row
			.list-group-item(ng-init="showPswdField = false;")
				.row.vert-align
					.col-xs-3 
						h6 User Name
					.col-xs-8
						input.form-control(type="text", placeholder="Org Name", ng-model="selUserVM.name" dir-select-all)
				.row.vert-align
					.col-xs-3 
						h6 User Email
					.col-xs-8
						input.form-control(type="text", ng-model="selUserVM.email")
				.row.vert-align(ng-if="selUserVM.localUser")
					.col-xs-3
						.tag-checkbox
							input(id="set-pass" type="checkbox", ng-model="showPswdField")
							label(for="set-pass")
						label.h6 Set new password
					.col-xs-8(ng-show="showPswdField")
						input.form-control(type="password", ng-model="selUserVM.password", placeholder="password")
				.row.vert-align
					.col-xs-3 
						h6 Active
					.col-xs-8
						.onoffswitch.left 
							input.onoffswitch-checkbox(id="user-active" type="checkbox", ng-model="selUserVM.isActive")
							label.onoffswitch-label(for='user-active')
								.onoffswitch-inner
								.onoffswitch-switch
				.row
					.col-xs-9
					.col-xs-3
						button.power-btn.pull-right(ng-click="selUserVM.edit()")| Update
