.page.height-100.vert-align
	.page-signin.width-100(data-ng-controller='LoginCtrl')
		.modal-dialog
			.panel.panel-profile
				.panel-heading
					a.logo.logo_type_sign-in(href="/")
						img.logo__image(alt="Vibrant Data Logo" src="img/logo.svg" width="98")/
					.clearfix
					h4.page-signin__title {{ui.showPswdResetPanel && 'Reset Password' || 'Sign in to Openmappr'}}
				.panel-body
					//- Hiding from UI to restrict free logins
					//- section.text-center
					//- 	a.btn-facebook-round(ng-click='auth.viaOauth("facebook")')
					//- 		i.fa.fa-facebook.fa-2x
					//- 	.space-md-inline
					//- 	a.btn-google-plus-round(ng-click='auth.viaOauth("google")')
					//- 		i.fa.fa-google-plus.fa-2x
					//- span.line-thru OR
					section
						form.form-horizontal(ng-if="!ui.showPswdResetPanel")
							.form-group
								.col-sm-12
									.form-field
										.form-field__content
											input.form-field__input(ng-model='credentials.email', type='email', placeholder='email', name="email" dir-select-all)/

							.form-group
								.col-sm-12
									.form-field
										.form-field__content
											input.form-field__input(ng-model='credentials.password', type='password', placeholder='password', name="password" dir-select-all)/

							h5.text-danger.text-center {{message}}
							p.text-center.text-muted.text-small

							//input.power-btn.width-100.big(type="submit" ng-click='auth.login()', value="Sign in")

							button.button.button_type_primary.button_wide(type="submit", ng-click='auth.login()')
								span.button__text Sign in

							.divider
							.row
								.col-xs-12
									button.button.button_type_ghost.button_wide(ng-click="ui.showPswdResetPanel = true;")
										span.button__text Forgot Password?

									//button.power-btn.secondary-btn.error-btn(ng-click="ui.showPswdResetPanel = true;") Forgot Password?

						form.form-horizontal(ng-if="ui.showPswdResetPanel")
							.form-group
								.col-sm-12
									.form-field
										.form-field__content
											input.form-field__input(ng-model='reset.email', type='email', placeholder='email', name="email" dir-select-all)/

							p.text-center.text-muted.text-small
							.divider
							button.button.button_type_primary.button_wide(type="submit" ng-click='auth.resetPassword()')
								span.button__text Reset Password

							h5.text-danger.text-center {{message}}
					//- Hiding from UI to restrict free signups
					//- section
					//- 	.divider
					//- 	p.text-center.text-muted.text-small
					//- 		| Dont have an account?
					//- 		a(href='#', ng-click='auth.regViaLocal()') Sign up!
			.text-center.text-small.modal-dialog__note
				p Vibrant Data, Inc. All Rights Reserved.
