ul.list-unstyled.info-item(dir-attr-modifiers="", ng-if="ui.loadInfoAttrs && nodeInfoAttrs.length != 0")
	li.row.info-list-item(ng-repeat="attr in nodeInfoAttrs track by attr.id", ng-if="attr.visible && attr.principalVal != null", ng-class="{'attr-hidden':!attr.visible}", ng-mouseenter="ui.activeAttrIdx = $index;" ng-mouseleave="attrActive=false;" id="infoattr-{{attr.id | space_to_underscore}}" style="display: 'block', 'border-bottom': '1px solid black'")
		.col-xs-12
			.row.vert-align
				.col-xs-10.vert-align
					.text-muted.text-small.pull-left.h6(uib-tooltip="{{::attr.metadata.descr}}" tooltip-placement='top' tooltip-append-to-body="true") {{attr.title}}
					.text-small.color-primary.truncate(ng-if="attr.attrType === 'integer' || attr.attrType ==='boolean' || attr.attrType === 'float'", style="color:{{nodeColorStr}}") &nbsp;{{attr.principalVal}}
				.col-xs-2(ng-if="MAPP_EDITOR_OPEN && ui.activeAttrIdx == $index")
					dir-attr-mod(attr="::attr", placement="selection")
		.col-xs-12
			.row(ng-if="attr.attrType === 'string' && (!attr.renderType || attr.renderType == 'default' || attr.renderType == 'text' || attr.renderType == 'categorybar' || attr.renderType == 'categorylist' || attr.renderType == 'barchart' || categorybar == 'categorylist' || categorybar == 'tags' || attr.renderType == 'piechart')")
				.col-xs-1
				.col-xs-11 
					div
						.text-small(style="color:{{nodeColorStr}};" ng-text-truncate="attr.principalVal" ng-tt-chars-threshold="200" ng-tt-more-label="more..." ng-tt-less-label="...less")
			dir-attr-renderer(ng-if="attr.showRenderer", attr-to-render="attr", node-color-str="nodeColorStr", is-node="true" is-small="false" theme="appUi.theme" pinned-media="pinnedMedia")
		.divider
