.info-item.flex-fill-column
	div.panel-list.panel-list--scrollable
		.panel-list-info(ng-if="isShowInfo")
			.panel-list-info__head
				.panel-list-info__photo
					img(ng-src="{{PanelListInfo.photo}}", ng-if="PanelListInfo.photo")
				h4.panel-list-info__name {{PanelListInfo.name}}
			.panel-list-info__body
				.panel-list-info__text {{PanelListInfo.description}}
				.panel-list-info__tags
					h5.panel-list-info__tags-title Tags:
					div
						span.panel-list-info__tag(ng-repeat="tag in PanelListInfo.tags") {{tag}}

		ul.list-unstyled
			li.panel-item.list-item.pointable-cursor(id="item-{{node.id}}" ng-style="{'background': (node.id == singleNode.id ? getHighlightColor(node): '#fff') }" ng-class="{'highlighted':node.id == singleNode.id}" ng-repeat="node in nodes | filter: filterNode track by node.id" ng-click="selectNode(node, $event)" ng-mouseenter="debounceHoverNode(node)" ng-mouseleave="unHoverNode(node.id, $event)")
				.row.vert-align.truncate
					.col-xs-2
						.big-circle(style="background: {{::getNodeColor(node)}};")
					.col-xs-10
						h6.less-gutter.list-item__title.truncate	{{node.attr[labelAttr]}}
