.right-panel__selection
  .right-panel__selection-item{{selInfo.genericSelNodes.length | number}} {{nodesStatus}}
  .right-panel__selection-item{{selInfo.genericSelLinks.length | number}} {{linksStatus}}