.right-panel__selection
  .right-panel__selection-item{{selInfo.genericSelNodes.length | number}} {{nodesStatus}}
  .right-panel__selection-item(ng-if="selInfo.genericSelLinks.length > 1"){{selInfo.genericSelLinks.length | number}} {{linksStatus}}