doctype html
html(lang='en', data-ng-app='hcApp')
    head
        meta(charset='utf-8')
        link(rel="shortcut icon", href="/img/favicon.ico")
        meta(name="viewport", content="initial-scale=.7, user-scalable=no, minimal-ui")
        meta(name="apple-mobile-web-app-capable" content="yes")
        meta(property="fb:app_id", content="1389717224632761")
        meta(property="og:image", content="#{player_prefix_index_source}/img/vibrantdata-logo.png")
        meta(property="og:title", content="Mappr")
        meta(property="og:description", content="Redefine Browse")
        title Mappr
        meta(name="description", content="Platform for Network Visualization and Data storytelling.")
    body
        h4 Nothing here!
