@mixin vert-align {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
}

@mixin top-align {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: start;
            align-items: flex-start;
    -ms-flex-align: flex-start;
    -webkit-align-items: flex-start;
}

@mixin flex-fill {
    -moz-box-flex: 1;
    -ms-flex: 1;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex-line-pack: stretch;
        align-content: stretch;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex: 1;
}

@mixin flex-display {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

@mixin flex-vert-container {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-line-pack: stretch;
        align-content: stretch;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
}

@mixin break-word {
    -ms-hyphens: auto;
        hyphens: auto;
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
}
