.pinned-media {
    position: absolute;
    z-index: 10000;
    top: 50px;
    left: 10px;
    width: 300px;
    /* height: 225px; */
    box-shadow: 0 2px 5px rgba(0, 0, 0, .5);

    .media-bkgrnd {
      background: #000;
    }

    .close-btn {
      position: absolute;
      right: -9px;
      top: -9px;
      color: #fff;
      background: #000;
      width: 20px;
      height: 20px;
      border-radius: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid #fff;
      box-shadow: 0 2px 5px rgba(0, 0, 0, .5);
      cursor: pointer;

      &:hover {
        color: $link-hover-color;
      }
    }
}
