.right-panel__tabs {
  font-weight: 500;
  width: $right-panel-width;
  z-index: 1000;
  position: relative;
}

.tabs-menu {
  list-style: none;
  display: flex;
  background: #F0F2F5;
  border-radius: 6px;
  border: 1px solid #E0DFE6;
  margin: 5px 10px 10px;
  padding: 3px;
  list-style: none;

  &__item {
    cursor: pointer;
    transition: background-color .2s;
    flex: 1 0 auto;
    font: 400 14px/21px "Poppins";
    text-align: center;
    border-radius: 6px;
    position: relative;

    &:hover {
      .tabs-menu__link {
        opacity: 1;
      }
    }

    &_active {
      background: rgba(245, 246, 248, .15);
      border-radius: 0 4px 4px 0;

      .tabs-menu__link {
        color: #323C47;
        background: #fff;
        border-radius: 5px;
        border: 1px solid #cecece;
      }

      .tabs-menu__badge {
        background: #C2CFE1;
        color: #333;
      }

      .tabs-menu__badge {
        background: #C2CFE1;
        color: #333;
      }


    }

    .tooltip {
      max-width: 350px;
      width: 200px;
      font-size: 12px;
    }
  }

  &__text {
    display: block;
    white-space: nowrap;
    opacity: 1;
    text-overflow: ellipsis;
    transition: all .3s;
    transition-delay: .2s;
  }

  &__badge {
    position: absolute;
    right: 7px;
    padding: 0 5px;
    min-width: 15px;
    background: #ba3665;
    color: #fff;
    line-height: 15px;
    font-size: 10px;
    border-radius: 20px;
    top: 8px;
  }

  &__link {
    position: relative;
    z-index: 10;
    display: block;
    height: 100%;
    padding: 5px 6px 4px;
    cursor: pointer;
    border: 1px solid transparent;
    
    &::before {
      content: '';
      position: absolute;
      width: 18px;
      height: 18px;
      left: 19px;
      top: 50%;
      transform: translateY(-50%);
      background-position: 50%;
      background-repeat: no-repeat;
      transition: all .3s;
    }

    &_info {
      &::before {
        background-image: deployedUrl('/img/tabs-menu/fa-info-circle_white.svg');
      }
    }

    &_slides {
      &::before {
        background-image: deployedUrl('/img/tabs-menu/fa-play-circle-o_white.svg');
      }
    }

    &_filter {
      &::before {
        background-image: deployedUrl('/img/tabs-menu/fa-filter_white.svg');
      }
    }

    &_legend {
      &::before {
        background-image: deployedUrl('/img/tabs-menu/legend_white.svg');
      }
    }

    &_list {
      &::before {
        background-image: deployedUrl('/img/tabs-menu/fa-list-ul_white.svg');
      }
    }

    &_knowledge-base {
      &::before {
        background-image: deployedUrl('/img/tabs-menu/knowledge-base_white.svg');
      }
    }

    &_settings {
      &::before {
        background-image: deployedUrl('/img/tabs-menu/settings_white.svg');
      }
    }

    &_report {
      &::before {
        background-image: deployedUrl('/img/tabs-menu/report_white.svg');
      }
    }

    &_bug {
      &::before {
        background-image: deployedUrl('/img/tabs-menu/bug_white.svg');
      }
    }

    &_support {
      &::before {
        background-image: deployedUrl('/img/tabs-menu/support_white.svg');
      }
    }

    &_groups {
      &::before {
        background-image: deployedUrl('/img/tabs-menu/groups_white.svg');
      }
    }

    &_style {
      &::before {
        background-image: deployedUrl('/img/tabs-menu/style_white.svg');
      }
    }

    &_database {
      &::before {
        background-image: deployedUrl('/img/tabs-menu/database_white.svg');
      }
    }

    &_player {
      &::before {
        background-image: deployedUrl('/img/tabs-menu/player_white.svg');
      }
    }

    &_snapshots {
      &::before {
        background-image: deployedUrl('/img/tabs-menu/snapshots_white.svg');
      }
    }

    &_feedback {
      &::before {
        background-image: deployedUrl('/img/tabs-menu/feedback.svg');
      }
    }

    &_export {
      &::before {
        background-image: deployedUrl('/img/tabs-menu/export_white.svg');
      }
    }

    &.toggle {
      font-size: 11px;
      line-height: 17px;
      margin: 0 0 10px;
      opacity: 1;

      &::before {
        background-image: deployedUrl('/img/tabs-menu/toggle_white.svg');
      }
    }
  }
}
