.row.vert-align.attr(ng-mouseenter="rowActive = true;", ng-mouseleave="rowActive = false;" ng-class="{'selected': attr_mod._isMetaEditing}")
	.col-xs-1
		a.select-btn.btn-icon-round.btn-icon-round-sm.btn-line-default(ng-click="attr_mod._isChecked = !attr_mod._isChecked; attrSelected()")
			i.fa(ng-class = "attr_mod._isChecked ? 'fa-check' : {true:'fa-globe globe-style', false:'fa-check white'}[attr_mod.__isDataset]")
	.col-xs-3
		.row.vert-align
			.col-xs-9
				h5.truncate.pointable-cursor(ng-hide="attr_mod._isTitleEditable", uib-tooltip="{{attr_mod.attr.id}}" tooltip-append-to-body="true" tooltip-placement="top" class="{{attrClass}}") {{attr_mod.attr.title}}&nbsp;
				.truncate(ng-show="attr_mod._isTitleEditable", class = "{{attrClass}}")
					input.h6.form-control(ng-model="attr_mod.title", ng-minlength='1')
				//h6.count(ng-if="attr_mod.attr.valuesCount > -1 && !attr_mod._isTitleEditable" ng-class = "{true:'', false:'text-muted-light'}[attr.visible]") {{::attr_mod.attr.id}}
				h6.count(ng-if="attr_mod.attr.valuesCount > -1 && !attr_mod._isTitleEditable" class = "{{attrClass}}") {{::attr_mod.attr.valuesCount}} values
			.col-xs-3
				.h6.visible-btn(ng-show="attr_mod._isTitleEditable" uib-tooltip="Save" type="button", ng-click="updateTitle(attr_mod);setAttrDirty(attr_mod)") 
					i.fa.fa-check
	.col-xs-2
		.ui-select
			select(ng-model = "attr_mod.new_type", ng-change="changeType(attr_mod);", ng-options="atype for atype in attrTypes")
				option(value='{{attr_mod.new_type}}')
	.col-xs-2
		.ui-select
			select(ng-model = "attr_mod.new_render_type", ng-change="changeRenderType(attr_mod);", ng-options="renderType for renderType in attrRenderTypes")
				option(value='{{attr_mod.new_render_type}}')
	.col-xs-4(ng-if="rowActive && !attrsSelected()")
		.row.vert-align.right
			.col-xs-12
				h6.no-margin.no-wrap.text-center
					a.power-btn.secondary-btn.grey-btn(ng-if="rowActive && !attr_mod._isTitleEditable" uib-tooltip="Edit" tooltip-append-to-body="true" type="button", ng-click="attr_mod._isTitleEditable = true") 
						i.fa.fa-fw.fa-2x.fa-pencil
					//- a.power-btn.secondary-btn(ng-show="attr_mod._isTitleEditable" uib-tooltip="Save" type="button", ng-click="updateTitle(attr_mod);setAttrDirty(attr_mod)") 
					//- 	i.text-muted-light.fa.fa-floppy-o
					a.power-btn.secondary-btn.grey-btn(uib-tooltip="{{{true:'hide', false:'show'}[attr.visible]}}" tooltip-append-to-body="true" ng-click="attr_mod.toggleVisibility(); setAttrDirty(attr_mod);")
						i.fa.fa-fw.fa-2x(ng-class = "{true:'fa-lightbulb-o', false:'fa-lightbulb-o text-muted-light'}[attr.visible]")
					a.power-btn.secondary-btn.grey-btn(uib-tooltip="{{{true:'remove from search', false:'include in search'}[attr.searchable]}}" tooltip-append-to-body="true" ng-click="changeSearchable(attr_mod);")
						i.fa.fa-fw.fa-2x(ng-class = "{true:'fa-search', false:'fa-search text-muted-light'}[attr.searchable]")
					a.power-btn.secondary-btn.grey-btn(uib-tooltip="{{{true:'remove from profile', false:'include in profile'}[attr.visibleInProfile]}}"
						ng-class="{'disabled': !attr.visible}" tooltip-append-to-body="true" type="button" ng-click="changeVisibleInProfile(attr_mod)") 
						i.fa.fa-fw.fa-2x(ng-class = "{true:'fa-info', false:'fa-info text-muted-light'}[attr.visibleInProfile && attr.visible]")
					a.power-btn.secondary-btn.grey-btn(ng-if="rowActive" uib-tooltip="Edit Meta Info" tooltip-append-to-body="true" type="button", ng-click="editMetaInfo(attr_mod); makeAttrDirty(); attr_mod._isMetaEditing = true;") 
						i.fa.fa-fw.fa-2x.fa-bars
	.col-xs-3(ng-if="rowActive && attrsSelected()")
