#footer-menu.footer-menu(ng-show="snapInfo.snapsLoaded" ng-class="{'clear': (player.snapshots.length == 1)}" ng-click="triggerInteraction();")
	.logo
		a.vert-align(href="http://vibrantdata.io",target="_blank")
			em powered by
			.powered-by
