.graph-controls(ng-if="layout.plotType != 'list' && layout.plotType != 'grid'")
  //- .shadow-btn.shadow-btn--icon-btn
  //-   i.material-icons my_location
  //- br
  //- .shadow-btn.shadow-btn--icon-btn.shadow-btn--tall
  //-   div(uib-tooltip="Zoom in" tooltip-append-to-body="true" tooltip-placement="left")
  //-     button.no-margin.vert-align(ng-click="zoomInfo.zoomIn()")
  //-       i.material-icons add
  //-   div(uib-tooltip="Zoom out" tooltip-append-to-body="true" tooltip-placement="left")
  //-     button.bottom-btn.vert-align(ng-click="zoomInfo.zoomOut()")
  //-       i.material-icons remove
