#header.header.player-header(ng-if="snapInfo.snapsLoaded" ng-click="triggerInteraction();")
	div
		ul.list-unstyled.pull-right.vert-align.no-margin
			li.shadow-btn.pull-right.facebook.vert-align(ng-if="player.settings.facebookShare" dir-social-share="facebook" share-title="{{player.settings.shareTitle}}")
			li.shadow-btn.pull-right.twitter.vert-align(ng-if="player.settings.twitterShare" dir-social-share="twitter" share-title="{{player.settings.shareTitle}}")
