.modal-header
	.row.vert-align
		.col-xs-6
			h6
				span Your Browser is Out of Date
		.col-xs-6.vert-align.right
			button.close-btn(type="button", ng-click="$close()")
				span.icon &times;
.modal-body
	p In order for mappr to run correctly, you need to update your browser. Please update your browser and then return to this page.
