.focus-overlay(ng-show="beginOverlayAnim" ng-class="{'content-overlay': (mapprSettings.nodeFocusRenderTemplate == 'content')}")
	.animate-fade(ng-if="showOverlay")
		.node-gradient.animate-fade-out-overlay(ng-if="mapprSettings.nodeFocusRenderTemplate != 'content'")
			.top
			.bottom
			.left
			.right
		.overlay-content-background.animate-fade-out-overlay(ng-if="mapprSettings.nodeFocusRenderTemplate == 'content'")
		//TODO: fix style issue
		.back-btn.row.vert-align.toggle-icon(ng-click='cancelOverlay(); triggerInteraction();')
			//- i.icon-neighbors
			h6.no-margin Close
		.neighbor-line.animate-fade-in(ng-show="showNeighborLine")
		div
			div.focuspanel
				.contentoverlay.scrolloverlay(ng-if="showFocusNode && mapprSettings.nodeFocusRenderTemplate == 'content'" )
					//- .share-btns(style="margin-top:{{shareMarginTop}}px;" ng-if="player.settings.shareEnableSelect")
					//- 	h5 Share!
					//- 	.share-btn.vert-align(ng-if="player.settings.twitterShare" dir-social-share="twitter" share-title="{{player.settings.shareTitleSelect}}")
					//- 	.share-btn.vert-align(ng-if="player.settings.facebookShare" dir-social-share="facebook" share-title="{{player.settings.shareTitleSelect}}")
					#detailbox-scroll.detailbox-container(ng-class="{transparent: hideContent}" style="padding-top:{{scrollPaddingTop}}px" dir-kill-tooltip-on-scroll)
						.content-center
							div(ng-hide="hideContent" ng-click="$event.stopPropagation();")
								.detailbox-card
									h3(style="color:{{focusNode.colorStr}};" ng-bind-html="focusNode.attr[mapprSettings.labelAttr] | highlight_query : searchQuery")
							div(ng-repeat="attr in nodeInfoAttrs" data-attr-id="{{::attr.id}}" ng-click="$event.stopPropagation();" ng-if="attr && attr.visible && attr.principalVal != null" id="overlayattr-{{attr.id}}")
								.detailbox-card
									.row(ng-if="attr.attrType != 'integer' && attr.attrType != 'float' && attr.attrType != 'boolean' ")
										.col-xs-12
											h5(uib-tooltip="{{::attr.metadata.descr}}" tooltip-placement='left' tooltip-append-to-body="true") {{::attr.title}}
											//- span.h5(ng-if="attr.attrType === 'integer' || attr.attrType ==='boolean' || attr.attrType === 'float'", style="color:{{focusNode.colorStr}};") &nbsp;&nbsp;&nbsp;{{attr.principalVal}}
									div(ng-if="attr.attrType == 'string' && (!attr.renderType || attr.renderType == 'default' || attr.renderType == 'text' || attr.renderType == 'categorybar' || attr.renderType == 'categorylist' || attr.renderType == 'barchart' || categorybar == 'categorylist' || categorybar == 'tags' || attr.renderType == 'piechart')")
										h3.text-attr-content(style="color:{{focusNode.colorStr}};" ng-text-truncate="attr.principalVal | highlight_query : searchQuery" ng-tt-chars-threshold="200" ng-tt-more-label="more..." ng-tt-less-label="...less")
									dir-attr-renderer(ng-if="!attr.isInfoAttr || attr.showRenderer" attr-to-render="attr", node-color-str="focusNode.colorStr", show-aggregation="false", is-node="true", is-node-focus="true" is-in-Overlay="true" cancel-overlay-fctn="attrRenderClicked();" show-filter="attr.showFilter" render-width="600" theme="appUi.theme" pinned-media="pinnedMedia" focus-node="focusNode")
									.row
										.col-xs-3
											h6.no-margin {{::attr.metadata.minLabel}}
										.col-xs-6(style="color:{{focusNode.colorStr}};")
											h4.no-margin.text-center.truncate(ng-if="attr.attrType === 'integer' || attr.attrType ==='boolean' || attr.attrType === 'float'" uib-tooltip="{{attr.metadata.descr || attr.title}}" tooltip-placement='top' tooltip-append-to-body="true")
												strong
													span {{::attr.title}}:&nbsp;
													span {{attr.principalVal}}
										.col-xs-3
											h6.no-margin.text-right {{::attr.metadata.maxLabel}}
									.graph-squares(ng-if="attr.attrType === 'integer' || attr.attrType ==='boolean' || attr.attrType === 'float' || attr.renderType == 'piechart' || attr.renderType == 'barchart'")
										.pull-right
											.square(uib-tooltip="Population" tooltip-append-to-body="true")
											.square(uib-tooltip="Group" tooltip-append-to-body="true")
												.color(style="background: {{focusNode.colorStr}}; opacity: .4;")
											.square(uib-tooltip="Node" tooltip-append-to-body="true")
												.color(style="background: {{focusNode.colorStr}};")
										.clearfix
				.scrolloverlay(ng-if="showFocusNode && mapprSettings.nodeFocusRenderTemplate == 'scroll'" )
					dir-scroll-overlay-anchors(color-str="{{focusNode.colorStr}}", scroll-container="#detailbox-scroll" scroll-data-id="data-attr-id" show-neighbors="{{mapprSettings.nodeFocusNeighborsButton}}")
					.focusnode-label(ng-hide="hideContent" style="color:{{focusNode.colorStr}};")
						h4 {{focusNode.attr[mapprSettings.labelAttr]}}
					//- .share-btns(style="margin-top:{{shareMarginTop}}px;" ng-if="player.settings.shareEnableSelect")
					//- 	h5 Share!
					//- 	.share-btn.vert-align(ng-if="player.settings.twitterShare" dir-social-share="twitter" share-title="{{player.settings.shareTitleSelect}}")
					//- 	.share-btn.vert-align(ng-if="player.settings.facebookShare" dir-social-share="facebook" share-title="{{player.settings.shareTitleSelect}}")
					#detailbox-scroll.detailbox-container(ng-class="{transparent: hideContent}" style="padding-top:{{scrollPaddingTop}}px" dir-kill-tooltip-on-scroll)
						div(dir-neighbors-detail ng-repeat-start="attr in nodeInfoAttrs" ng-click="$event.stopPropagation();" ng-if="showFocusNode && mapprSettings.nodeFocusShowNeighbors && (mapprSettings.nodeFocusNeighborsBefore == attr.id || ($first && !mapprSettings.nodeFocusNeighborsBefore))" grid-size="12" data-attr-id="Neighbors")
						div(ng-repeat-end data-attr-id="{{::attr.id}}" ng-click="$event.stopPropagation();" ng-if="attr && attr.visible && attr.principalVal != null" id="overlayattr-{{attr.id}}")
							.detailbox-card
								.row(ng-if="attr.attrType != 'integer' && attr.attrType != 'float' && attr.attrType != 'boolean' ")
									.col-xs-12
										h5(uib-tooltip="{{::attr.metadata.descr}}" tooltip-placement='left' tooltip-append-to-body="true") {{::attr.title}} 
										//- span.h5(ng-if="attr.attrType === 'integer' || attr.attrType ==='boolean' || attr.attrType === 'float'", style="color:{{focusNode.colorStr}};") &nbsp;&nbsp;&nbsp;{{attr.principalVal}}
								div(ng-if="attr.attrType == 'string' && (!attr.renderType || attr.renderType == 'default' || attr.renderType == 'text' || attr.renderType == 'categorybar' || attr.renderType == 'categorylist' || attr.renderType == 'barchart' || categorybar == 'categorylist' || categorybar == 'tags' || attr.renderType == 'piechart')")
									h3.text-attr-content(style="color:{{focusNode.colorStr}};" ng-text-truncate="attr.principalVal | highlight_query: searchQuery" ng-tt-chars-threshold="200" ng-tt-more-label="more..." ng-tt-less-label="...less")
								dir-attr-renderer(ng-if="!attr.isInfoAttr || attr.showRenderer" attr-to-render="attr", node-color-str="focusNode.colorStr", show-aggregation="false", is-node="true", is-node-focus="true" is-in-Overlay="true" cancel-overlay-fctn="attrRenderClicked();" show-filter="attr.showFilter" theme="appUi.theme" pinned-media="pinnedMedia" focus-node="focusNode")
								.row
									.col-xs-3
										h6.no-margin {{::attr.metadata.minLabel}}
									.col-xs-6(style="color:{{focusNode.colorStr}};")
										h4.no-margin.text-center(ng-if="attr.attrType === 'integer' || attr.attrType ==='boolean' || attr.attrType === 'float'" uib-tooltip="{{::attr.metadata.descr}}" tooltip-placement='top' tooltip-append-to-body="true")
											strong
												span {{::attr.title}}:&nbsp;
												span {{attr.principalVal}}
									.col-xs-3
										h6.no-margin.text-right {{::attr.metadata.maxLabel}}
								.graph-squares(ng-if="attr.attrType === 'integer' || attr.attrType ==='boolean' || attr.attrType === 'float' || attr.renderType == 'piechart' || attr.renderType == 'barchart'")
									.pull-right
										.square(uib-tooltip="Population" tooltip-append-to-body="true")
										.square(uib-tooltip="Group" tooltip-append-to-body="true")
											.color(style="background: {{focusNode.colorStr}}; opacity: .4;")
										.square(uib-tooltip="Node" tooltip-append-to-body="true")
											.color(style="background: {{focusNode.colorStr}};")
									.clearfix
	dir-focus-node(ng-show="!appUi.openExtUserOverlay" ng-if="showFocusNode && mapprSettings.nodeFocusRenderTemplate != 'content'" node="focusNode" img-attr="nodeImageAttr" start="nodeStartData" end="nodeEndData" duration="500" ease="" finish="finishAnimation()")
	dir-focus-node(ng-if="showNeighborNode" node="neighborNode" img-attr="nodeImageAttr" start="neighborNodeStartData" end="neighborNodeEndData" duration="600" ease="" finish="finishNeighborAnimation()")
