# Docker specific
# ###############
.DS_STORE
.editorconfig
.eslintrc.js
.gitignore
.git


# Athena server #
#########################
venv
.idea
*.pyc
*.csv
algorithms/NetworkAnalysis/ForceDirected/BHTree/dist/
algorithms/NetworkAnalysis/ForceDirected/RunBHTree/dist/
algorithms/NetworkAnalysis/ForceDirected/bhTree.cpp
