.col-xs-12(ng-controller="AlchemyCtrl")
	.row
		.col-xs-12
			h3 Text Analysis
	.row
		.col-xs-6 Select attribute to generate tags from:
		.col-xs-6
			.ui-select
				select(ng-model='queryAttr', ng-options='attr.title for attr in nodeAttrList', ng-change="updateAttrTitles();")
	.divider
	.row
		.col-xs-6 Relevance:
		.col-xs-6
			input.form-control(ng-model='relevance' dir-select-all)
	.divider
	.row
		.col-xs-6 Features to extract:
		.col-xs-6
			.row.vert-align
				.col-xs-1
				.col-xs-5 
					h6 Features
				.col-xs-6 
					h6 New Attribute Title
			.row.vert-align(ng-repeat-start="algo in alchemyAlgos")
				.col-xs-1
					input(type="checkbox", ng-model="algo.selected")
				.col-xs-5 
					span {{::algo.title}}
				.col-xs-6
					input(ng-class="{invisible: !algo.selected}", ng-model='algo.newAttrTitle', ng-change="validateNewTitle(algo)", ng-model-options="{debounce: 500}", dir-select-all)
			.row(ng-repeat-end="", ng-show="algo.titleInvalid")
				h5.bg-warning Attribute title already exists, please use another!
	.divider
