.modal-header
	.row.vert-align
		.col-xs-8
			h6
				span(ng-if="title") {{title}}
				span(ng-if="!title") Remove Mapp
		.col-xs-4.vert-align.right
			//- button.header-btn(ng-click="deleteAction()") 
			//- 	span.h7 Confirm
			button.close-btn(type="button", ng-click="closeModal()")
				span.icon &times;

.modal-body
	.container-fluid
		.row
			.col-xs-12
				h5 This step cannot be undone. Are you sure you want to remove 
					span.text-danger {{objName}}
					| ?
		div(ng-if="objInfo")
			.row
				.col-xs-12
					h4 Details:
			.row(ng-repeat="info in objInfo")
				.col-xs-4 {{info.name}}
				.col-xs-8(ng-bind-html="info.val")
		.clearfix
		.space
		.space
		button.power-btn.pull-right.error-btn(ng-click="deleteAction();") Confirm

		
