//trickery because the ng-ifs break the ng-model binding, so use this hidden field for two way binding
input(type="hidden", ng-model="ngModel")
//- input(ng-model='$parent.ngModel')
span(uib-dropdown dropdown-append-to-body)
    button.square-btn(ng-if="isButton" uib-dropdown-toggle auto-close="outsideClick" ng-click="checkUp()")
        i(class="{{btnIconClass}}")
    span.toggle(ng-if="!isButton" uib-dropdown-toggle auto-close="outsideClick" ng-click="checkUp()") 
        span.filter.pointable-cursor(ng-class="ddClass")
            span.truncate(ng-if="!ngModel") {{defaultTitle}}&nbsp;
            span.truncate(ng-if="ngModel.title") {{ngModel.title}}&nbsp;
            //in case ngModel is not an object, but just a string
            span.truncate(ng-if="ngModel && !ngModel.title") {{ngModel}}&nbsp;
            //only show if not emulating normal select option element
            i.fa.fa-angle-down(ng-if="ddClass != 'ui-select'")
    .uib-dropdown-menu.uib-dropdown-menu-flexing(uib-dropdown-menu ng-class="{'dropup': dropUp}")
        .uib-dropdown-click-close
        //inline style to center dropdowns
        .uib-dropdown-flex-content(style="margin-left: {{leftMargin}}")
            .uib-dropdown-triangle(ng-if="showTriangle == 'true'" ng-class="{'right': isRight == 'true'}")
            .dd-search.row.vert-align.no-hover(ng-click="$event.stopPropagation();" ng-class="{'right': isRight == 'true'}")
                input.form-control.h6.no-margin(ng-model="searchKey" placeholder="Search")
                i.fa.fa-search
            .uib-dropdown-flex(ng-class="{'right': isRight == 'true'}")
                ul.dd-list.list-unstyled(style="min-width:{{minWidth}}px;")
                    li.row.pointable-cursor.vert-align(ng-repeat="val in valsList | filter: {title : searchKey} track by $index" ng-click="setVal(val)" ng-class="{active: (ngModel == val.title || ngModel == val)}")
                        .col-xs-2(ng-if="val.icon")
                            i(ng-class="val.icon")
                        div(ng-class="{'col-xs-10': val.icon, 'col-xs-12': !val.icon}")
                            h6.no-margin.truncate {{val.title}}
