div
	//trickery because the ng-ifs break the ng-model binding, so use this hidden field for two way binding
	input(type="hidden", ng-model="ngModel")
	//if BOOLEAN (switch)
	.bool(ng-if='opt.type == "bool"')
		.onoffswitch
			input.onoffswitch-checkbox(id='st-settings-switch-{{opt.key}}', type='checkbox', ng-model='$parent.valModel')
			label.onoffswitch-label(for='st-settings-switch-{{opt.key}}')
				.onoffswitch-inner
				.onoffswitch-switch
	//if RADIO
	.radio(ng-if='opt.type == "radio"')
		div(ng-repeat='option in layoutUI.getValues(opt)')
			input(id='{{option.val}}', type='radio', name='{{opt.key}}', value='{{option.val}}', ng-model='$parent.valModel')
			label(for='{{option.val}}') {{option.title}}
	//if ATTR-SELECT(select dropdown or if can't find attrs, then input)
	div(ng-if='opt.type == "attr-select"') 
		dir-filter-dropdown(ng-model="$parent.valModel", default-title="'Choose Attribute'", change-val="setAttr(val)" vals-list="attrsSelect", show-triangle="false", dd-class="ui-select" is-right="true" left-margin="140px")

		//- .ui-select.select-attr(ng-show="attrs && attrs.length > 0")
		//- 	select(ng-model = '$parent.valModel', ng-options="attr.id as attr.title for attr in attrsSelect")
			//- option {{mapprSettings[opt.key]}}
		input.form-control(ng-show="!attrs || attrs.length == 0" name="input" ng-model='$parent.valModel' placeholder="attribute name" dir-select-all)
	//if SELECT OPTION (uib-dropdown)
	.ui-select.select-attr(ng-if='opt.type == "select"')
		select(ng-model='$parent.valModel', ng-options="val for val in opt.values")
			//option(ng-repeat='options in opt.values', value='{{options.val}}', ng-selected='opt.value == options.val') {{options.val}}
	//if SELECT COLOR OPTION (uib-dropdown but changes color)
	.ui-select.select-attr(ng-if='opt.type == "select-color"')
		select(ng-model='$parent.valModel', ng-options="val for val in opt.values", ng-change="updateProjectSetting()")
			//option(ng-repeat='options in opt.values', value='{{options.val}}', ng-selected='opt.value == options.val') {{options.val}}
	// if SCALE (slider)
	.scale(ng-if='opt.type == "scale"')
		//- .slider(ui-slider, min="{{opt.min}}", max="{{opt.max}}", step="0.1" use-decimals="", ng-model='$parent.valModel')
		div(dir-slider-input opt="opt" ng-model="$parent.valModel")
	// if COLOR (input box)
	form(ng-if='opt.type == "color"', name="{{'fm' + opt.key}}")
		input.form-control(type="color", name="input", ng-model='$parent.valModel', ng-change="colorChange()")
	// if NUMBER-INPUT (input box)
	form(name="{{'fm' + opt.key}}", ng-if='opt.type == "input"')
		input.form-control(type="text", name="input", ng-model='$parent.valModel', ng-pattern="number" dir-select-all)
		span.error(ng-show="{{'fm' + opt.key}}.input.$error.pattern") Number Only
	// if TEXT-INPUT (input box)
	form(name="{{'fm' + opt.key}}", ng-if='opt.type == "text-input"')
		input.form-control(type="text", name="input", ng-model='$parent.valModel' dir-select-all)
