//
// Dots Loader Style
// Style for the main loader for the player and app

.dots-loader {
    ul {
        left: 50%;
        position: absolute;
        top: 50%;
        transform: rotate(45deg) translate(-50%, -50%);
    }

    li {
        background: $panel-text-dark;
        border-radius: 50%;
        height: 20px;
        left: 0;
        list-style-type: none;
        position: absolute;
        top: 0;
        width: 20px;
    }
    #a {
        animation: a 1s ease-in-out infinite;
        background: $active-color;
        left: -40px;
        top: -40px;
    }
    #b {
        animation: b 1s ease-in-out infinite;
        left: 0;
        top: -40px;
    }
    #c {
        animation: c 1s ease-in-out infinite;
        background: $active-color;
        left: 40px;
        top: -40px;
    }
    #d {
        animation: d 1s ease-in-out infinite;
        background: $active-color;
        left: -40px;
        top: 0;
    }
    #e {
        animation: e 1s ease-in-out infinite;
        background: $active-color;
        left: 0;
        top: 0;
    }
    #f {
        animation: f 1s ease-in-out infinite;
        background: $active-color;
        left: 40px;
        top: 0;
    }
    #g {
        animation: g 1s ease-in-out infinite;
        left: -40px;
        top: 40px;
    }
    #h {
        animation: h 1s ease-in-out infinite;
        left: 0;
        top: 40px;
    }
    #i {
        animation: i 1s ease-in-out infinite;
        left: 40px;
        top: 40px;
    }
}
