.filter-list {
  margin: 0;
  padding: 10px 0 0;
  list-style: none;
  background: #fff;
  display: none;

  &_shown {
    display: block;
  }
  
  &__item {
    display: block;
    height: auto;

    h6.title {
      color: #BC3364;
      font: 400 13px/20px 'Poppins';
    }

    &:not(:last-child) {
      margin-bottom: 10px;
    }

    &:hover {
      .card__tooltip {
        opacity: 1;
      }
    }
  }
}

.filter-list-category {
  

  &__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10px;
    cursor: pointer;
  }

  &__title {
    color: #296591;
  }

  &__btn {
    width: 20px;
    height: 20px;
    border-radius: 3px;
    border: 1px solid #eee;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    background: #F5F6F8;

    &:before {
      content: "";
      background: url(../../../img/arrow.svg);
      display: block;
      width: 10px;
      height: 10px;
      background-size: 100%;
      background-repeat: no-repeat;
      transform: rotate(90deg);
      padding: 0;
    }

    &_active {
      &:before {
        transform: rotate(180deg);
      }
    }
  }
}
.sort-options {
  margin-left: 10px;
}

.card {
  &_type {
    &_filter {
      padding: 0 10px;

      &.card_expanded {
        .card__action-search {
          display: none;
        }

        .card__search-box {
          visibility: visible;
          display: block;
          width: 50%;
          margin-left: auto;
        }

        .card__search-wrap {
          .card__search-box { 
            width: 100%;
          }
        }
      }

      &.attr-visibility.truncate {
        padding: 0;
        margin-left: -5px;
        display: flex;
        align-items: center;
      }

      &.card_collapsed {
        & + h6 {
          &:hover {
            background-color: #F7F7F7;
            border-radius: 5px;
          }
        }
        .card__header {
          &:hover {
            background-color: #F7F7F7;
            border-radius: 5px;
          }
        }
      }

      .card__header {
        display: flex;
        align-items: center;
        padding: 0;
        transition: all .5s ease;
        cursor: pointer;

        + .card__body {
          margin-top: 4px;
          padding: 0;
        }
      }

      .card__title {
        margin: 0 0 0 9px;
        color: #BC3364;
        font: 500 15px/24px 'Poppins';
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .card__action-sort {
        order: -1;
      }

      .card__search-wrap {
        margin: 0 5px 0 auto;
        max-width: 50%;
      }

      .card__action-search {
        margin-left: auto;
        transition: transform 450ms ease;

        button {
          width: 24px;
          height: 24px;
          background: deployedUrl('/img/filter-panel/search.svg') 50% no-repeat;
          background-size: 16px;
          font-size: 0;
          padding: 0;
          opacity: .6;
          transition: opacity .2s;

          &:hover {
            opacity: 1;
          }
        }
      }

      .card__action-sort {
        cursor: pointer;
        min-width: 16px;
        height: 16px;
        font-size: 0;
        background-image: deployedUrl('/img/filter-panel/numeric-sort-desc.png');
        background-size: 16px;
        padding: 0;
        opacity: .8;
        transition: all .2s;

        &:hover {
          opacity: 1;
        }

        &:not(.card__action-sort-alphabet).up {
          background-image: deployedUrl('/img/filter-panel/numeric-sort-asc.png');
        }

        &.disabled {
          opacity: .3;
        }

        &-alphabet {
          background-image: deployedUrl('/img/filter-panel/alphabet-sort-asc.png');

          &.desc {
            background-image: deployedUrl('/img/filter-panel/alphabet-sort-desc.png')
          }
        }
      }

      .card__search-box {
        position: relative;
        background: #fff;
        visibility: hidden;
        display: none;

        &::before {
          position: absolute;
          content: '';
          width: 16px;
          height: 16px;

          top: 50%;
          transform: translateY(-50%);
          left: 12px;
          opacity: .6;
        }

        input {
          width: 100%;
          border: 1px solid #EBEFF2;
          transition: background-color .2s;
          font: 400 15px/1 'Poppins';
          border-radius: 4px;
          background: #fff deployedUrl('/img/filter-panel/search.svg') 12px 50% no-repeat;
          padding-left: 2em;
          &:hover {
            border-color: darken(#EBEFF2, 10%);
          }

          &:focus {
            border-color: rgba(#BA3665, .5);
            background-image: deployedUrl('/img/filter-panel/search-purple.svg');
            color: #000;
          }
        }

        .close {
          width: 24px;
          height: 24px;
          position: absolute;
          top: 50%;
          padding: 0;
          font-size: 0;
          transform: translateY(-50%);
          background: deployedUrl('/img/play-toolbar/cancel.svg') 50% no-repeat;
          background-size: 10px;
          right: 5px;
          opacity: .4;
        }
      }

      .card__body {
        padding: 20px 0 0;
      }

      .card__footer {
        margin-top: 8px;
      }

      .card-pagination {
        font-size: 12px;
        line-height: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #F5F6F8;
        border-radius: 4px;
        padding: 8px;

        &__button {
          color: #C02D62;
          cursor: pointer;

          &:first-child {
            margin-right: .5em;
          }

          &:last-child {
            margin-left: .5em;
          }

          &:hover {
            color: darken(#C02D62, 10%);
          }

          &.disabled {
            pointer-events: none;
            color: #C2CFE1;
          }
        }

        &__total {
          color: #6A707E;
          padding: 0 10px;
        }

      }

      &--short {
        .sort-options {
          margin-left: 4px;

          .text-link {
            text-decoration: none;
            border-radius: 4px;
            padding: 5px;
            border: 2px solid #EBEFF2;
            display: block;
            transition: border-color 0.2s, color 0.2s;            

            &:hover {
              border-color: #ccd6de;
              color: #444;
            }            
          }
        }

        .card__action-sort {
          margin-right: 2px;
          
          background-image: deployedUrl('/img/filter-panel/sort-desc.png');
  
          &:not(.card__action-sort-alphabet).up {
            background-image: deployedUrl('/img/filter-panel/sort-asc.png');
          }
  
          &-alphabet {
            background-image: deployedUrl('/img/filter-panel/sort-asc.png');
  
            &.desc {
              background-image: deployedUrl('/img/filter-panel/sort-desc.png')
            }
          }
        }        
      }

    }
  }

  &__head-wrap {
    display: flex;
    flex: 1;
    align-items: center;
    max-width: 95%;
  }

  &_collapsed {
    .card__body {
      display: none;
    }

    .card__action-collapse {
      &:before {
        transform: rotate(90deg);
      }
    }

    + h6 {
      margin-top: -20px !important;
      text-align: left;
      padding: 0 0 0 20px;
      font: 500 15px/20px "Poppins" !important;
      cursor: pointer;
      transition: background-color .5s ease;
    }

    .card__action-sort,
    .card__action-search {
      transform: scale(0);
    }

    .card__action-sort {
      margin-left: -16px;
    }
  }

  &__action-collapse {
    width: 20px;
    height: 20px;
    border-radius: 3px;
    border: 1px solid #eee;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    background: #F5F6F8;
    margin-left: auto;

    &:before {
      content: '';
      background: url('../../../img/arrow.svg');
      display: block;
      width: 10px;
      height: 10px;
      background-size: 100%;
      background-repeat: no-repeat;
      transform: rotate(180deg);
      padding: 0;
    }
  }

  &__title-full {
    color: #BC3364;
    font: 500 15px/24px "Poppins";
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-flex;
    cursor: pointer;
  }

  &:hover {
    .card__tooltip {
      display: block;
      opacity: 1;
    }
  }

  &__tooltip {
    margin-left: .5em;
    width: 24px;
    height: 24px;
    display: none;

    &.tooltip {
        &__colored-by {
          position: relative;
          display: inline;
          opacity: 0;
          top: 0.2em;
        }
    
        &__histogram {
          position: relative;
          top: 0.4em;
          display: inline;
          opacity: 0;
        }

        &__scatterplot {
          opacity: 0;
          display: inline-block;
        }
      }

    &::before {
      content: deployedUrl('/img/play-toolbar/info-information-circle.svg');
    }
  }
}
