.m-r-5 {
  margin-right: 5px;
}

.m-l-auto {
  margin-left: auto;
}

.m-t-10 {
  margin-top: 10px !important;
}

.dark-grey-font {
  color: #444;
}

.m-0 {
  margin: 0;
}

.p-0 {
  padding: 0;
}

.p-r-6 {
  padding-right: 6px;
}