

.list-layout {
    background: $body-bg;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;

    .list-layout-content {
        bottom: 0px;
        left: 400px;
        position: absolute;
        right: 5px;
        top: 80px;
    }

    .pagination {
        position: absolute;
        right: 0;
        top: -17px;
    }


    .controls {
        position: absolute;
        right: 0;
        top: 0;


        .circle-btn {
            background: $panel-border;
            float: right;
            font-size: 14px;
            height: 19px;
            padding: 0;
            width: 19px;

            &.setting-btn {
                background: $panel-tab-background;
                border: 1px solid $panel-border;
                color: $text-color;
            }

            &.plus-btn {
                margin-right: 0;
            }

            &.left-btn {
                margin-right: 2px;
            }

            &:hover {
                color: $active-color;
            }

            i {
                line-height: 19px;
            }

            .fa-times {
                font-size: 16px;
                line-height: 15px;
            }
        }
    }

    .header {
        background: $body-bg;
        height: 30px;
        left: 0;
        overflow: hidden;
        padding-top: 4px;
        position: absolute;
        right: 2px;
        text-align: right;
        top: 20px;
        white-space: nowrap;
        z-index: 1;

        .column {
            display: inline-block;
            padding-left: 5px;
            text-align: left;
            width: 300px;

            .sort {
                margin: 1px 5px 0 0;
            }
        }

        .name-column {
            background: $body-bg;
            height: 100%;
            min-width: 300px;
            padding-left: 0;
            text-align: left;
            z-index: 1;
            margin-top: 5px;
            overflow: hidden;
        }

        .attr-columns {
            @include transition(margin-left .3s ease-out);
            float: right;
            white-space: nowrap;
        }
    }

    .content {
        bottom: 0;
        left: 0;
        overflow: auto;
        position: absolute;
        top: 50px;
        width: 100%;
    }

    .compared {
        margin: 0 0 20px;
    }

    .nodes {
        margin: 0 0 50px;
    }

    .category-header {
        margin-bottom: -2px;
        padding-top: 8px;

        button {
            padding: 3px 7px 0 5px;
        }

        .icon-legend-dots {
            display: block;
            margin-right: 10px;
        }
    }

    .card {
        @include transition(opacity .3s ease-out);
        background: $panel-background;
        border: 1px solid $panel-border;
        color: $text-color;
        height: 50px;
        margin: 0 0 -1px;
        opacity: 1;
        overflow: hidden;
        position: relative;
        user-select: none;
        width: 100%;

        &:hover,
        &.selected {
            background: darken($panel-background, 5%);

            .node {
                background: darken($body-bg, 5%);
            }
        }

        &:hover {
            .attr-dd {
                display: block;
            }
        }


        .node,
        .attr {
            // overflow: hidden;
            padding: 5px 5px 5px 10px;
            position: relative;
            width: 300px;

            & > div {
                overflow: hidden;
            }
        }

        .node {
            background: $body-bg;
            border-bottom: 0;
            border-right: 1px solid $panel-border;
            box-shadow: 0 0 15px $shadow-color;
            cursor: pointer;
            height: 100%;
            min-width: 300px;
            z-index: 101;

            &:hover {
                h4 {
                    padding-right: 60px;
                }
            }

            h4 {
                padding-right: 0;
                width: 100%;
            }

            .circle {
                @include transition(all .3s ease-out);
                border-radius: 100%;
                height: 20px;
                margin-right: 15px;
                width: 20px;
            }

            .btns {
                color: $switch-bg;
                opacity: 0;
                overflow: hidden;
                position: absolute;
                right: 10px;
                top: 16px;
                width: 0;

                &.hovered {
                    @include transition(opacity .3s ease-out);
                    opacity: 1;
                    width: auto;
                }

                .dropdown {
                    opacity: 0;
                    margin-right: 20px;

                    &.hovered {
                        @include transition(opacity .3s ease-out);
                        opacity: 1;
                    }
                }


            }

            .tag-checkbox {
                margin-top: -1px;
                margin-right: 10px;
                border: 1px solid $switch-bg;
            }
        }

        .attrs {
            float: right;
            height: 100%;
            text-align: right;

            &.animating {
                @include transition(margin-left .3s ease-out);
            }

            .resizer {
                width: 10px;
                height: 100%;
                position: absolute;
                top: 0px;
                right: -5px;
                cursor: col-resize;
            }
        }

        .attr {
            @include transition(background .3s ease-out);
            background: transparent;
            border-left: 1px solid $panel-border;
            cursor: pointer;
            display: inline-block;
            height: 50px;
            padding: 3px 5px;
            position: relative;
            text-align: left;
            vertical-align: top;

            &:hover {
                background: $shadow-color-light;

                .attr-modal-btn {
                    opacity: 1;
                }
            }

            .text-value {
                padding: 0 5px;
            }
        }

        .attr-modal-btn {
            @include transition(opacity .3s ease-out);
            opacity: 0;
            position: absolute;
            right: 5px;
            top: 5px;
            z-index: 1;
        }

        .attr-dd {
            background: $panel-tab-background;
            display: none;
            padding: 2px 5px;
            position: absolute;
            right: 1px;
            top: 1px;
        }

        .cat-list {
            display: block;
            margin: 0;
            white-space: normal;
        }

        .cat-text {
            font-size: 12px;
        }

        .cat-info {
            display: none;
        }

        .attr-renderers {
            img {
                display: block;
                height: 41px;
                margin: auto;
                width: auto;
            }
        }
    }
}
