.pagination {
  font-size: 12px;
  line-height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #F5F6F8;
  border-radius: 4px;
  padding: 8px;

  &__button {
    color: #001C29;
    cursor: pointer;

    &:first-child {
      margin-right: .5em;
    }

    &:last-child {
      margin-left: .5em;
    }

    &:hover {
      color: darken(#001C29, 10%);
    }

    &.disabled {
      pointer-events: none;
      color: #C2CFE1;
    }
  }

  &__total {
    color: #6A707E;
    padding: 0 10px;
  }
}