.project-info {
  background: #fff;
  color: #616161;
  height: 100%;
  display: flex;
  flex-direction: column;

  &__onboarding {
    display: flex;
    align-items: baseline;
    cursor: pointer;
    padding-left: 10px;
    text-decoration: underline;
    &:hover {
      color: #30adbf;
      text-decoration: none;
    }
  }

  &__content {
    padding: 10px 20px;
    background: #fff;
  }

  &__footer-wrap {
    text-align: center;
    margin-bottom: 10px;
    background: #fff;
    padding: 0 10px 10px;
    margin-top: auto;
  }

  &__footer {
    display: inline-flex;
    margin: 0 auto;
    align-items: center;
    padding: 4px 10px;
    border: 1px solid #e4eaef;
    border-radius: 4px;
    font-size: 14px;
    color: rgba(97, 97, 97, 0.7);
    white-space: nowrap;
  }

  &__footer-img {
    margin: 0 10px;
    max-height: 20px;
  }

  &__footer-link {
    color: #5885e1;
  }
}

.blobs-container {
  display: flex;
}

.blob {
  background: #001C29;
  border-radius: 50%;
  box-shadow: 0 0 0 0 rgba(188, 51, 100, 1);
  margin: 10px;
  height: 10px;
  width: 10px;
  transform: scale(1);
  animation: pulse-project-color 2s infinite;
}

@keyframes pulse-project-color {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(188, 51, 100, 0.7);
  }
  
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(188, 51, 100, 0);
  }
  
  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(188, 51, 100, 0);
  }
}
