div(ng-style="getSizeStyle()")
	.media-embed.text-left.width-100(ng-class="{'small-media':(isSmall == 'true')}")
		.overlay.animate-fade.vert-align(ng-if="activeImg" ng-click="killActiveEmbed();")
			span.close-btn.text-ultralight &times;
			.media
				div.text-center(ng-if="activeEmbed" ng-bind-html="activeEmbed")
				.img-container.vert-align(ng-if="activeImg")
					img(ng-src="{{activeImg}}")
		div.width-100(ng-class="{'animate-fade':(isSmall != 'true')}")
			.bkgrnd-image.width-100.height-100(ng-if="isSmall" style="background-image:url('{{url | trustUrl}}')")
			img(ng-if="!isSmall" ng-src="{{url | trustUrl}}", width="100%")
