.tooltip-positioner(uib-tooltip="{{tooltipText}}" tooltip-placement="right" tooltip-append-to-body="true" tooltip-is-open="openTooltip")
.flex-container
	.more-btn(ng-click='showLess()' ng-show="distrData.numShowGroups > 1")
		.h6 less
	.more-btn(ng-click='showMore()', ng-show="distrData.numShownCats < catListData.data.length")
		.h6 more ({{distrData.numShownCats}}/{{::catListData.data.length}})
.cat-list.h6(ng-mouseleave="outCat()", ng-mouseover="overCat(catData, $event)")
	.cat-item(ng-class="{'filter':showFilter}" ng-repeat="catData in catListData.data | limitTo: distrData.numShownCats track by catData.id")
		.cat-checkbox-background(ng-class="{'cat-item-subsetted': catData.isSubsetted }")
		.cat-bar-container
			.cat-global-bar.transition(style="width:{{catData.globalpercent}}%")
			//- .cat-global-bar.transition(ng-if="catData.isCurrent" style="width:{{(catData.globalpercent - catData.selPercent).toFixed(2)}}%; background-color:{{catData.colorStr}};")
			.cat-selfreq-bar.transition(style="width:{{catData.selPercent}}%; background-color:{{catData.colorStr}}")
		.row.vert-align.m-0.tag-checkbox-container(ng-click="onCatClick(catData);")
			div.transition.p-0(ng-class="{'col-xs-2':showFilter, 'col-xs-1':!showFilter}")
				.tag-checkbox(ng-if="showFilter" ng-class="{{catData.checkboxClass}}")
					input(id="checkbox-{{$index}}-{{attrId}}" type="checkbox", ng-model="catData.isChecked", ng-disabled="catData.checkboxClass == 'cat-checkbox-disable'")
					label(for="checkbox-{{$index}}-{{attrId}}")
			div.transition.col-xs-10(ng-mouseover="onCatMouseover(catData, $event);")
				.cat-text.truncate.h6(ng-class="{'no-filter':!showFilter}") {{::catData.text}}
		.cat-percent.text-right.h6 {{::catData.globalpercent.toFixed(0)}}%
