#header.header.simple.vert-align
	.vert-align.pull-left.pointer-auto.height-100.logo-container()
		a.proj-logo.text-center.vert-align(href="/user-projects" ng-mouseenter="showProjMenu = true;" ng-mouseleave="showProjMenu = false;" uib-tooltip="Back to Project List" tooltip-placement="right" tooltip-append-to-body="true")
			i.icon-mappr-logo(ng-if="!showProjMenu")
			i.fa.fa-arrow-left.fa-2x(ng-if="showProjMenu")
		#project-header-name.h1.pull-left.h6.no-margin.vert-align(ng-mouseenter="overProjName = true;" ng-mouseleave="overProjName = false;")
			input.pull-left(ng-show="editingProjName" ng-model="tempProjName")
			.pull-left.truncate(ng-show="!editingProjName")
				.proj-name.truncate {{project.selected.projName}}&nbsp;
			//- .blue.pull-left(ng-hide="editingProjName") 
			//- 	.snap-name.nowrap(ng-if="currSnapName") {{currSnapName}}
			.pull-left(ng-show="!editingProjName && overProjName")
				button.text-link.inline.edit-proj-btn(ng-click="editProjName($event)")
					i.fa.fa-pencil
			.pull-left.animate-fade.nowrap(ng-show="editingProjName" ng-click="$event.stopPropagation();")
				button.text-link(ng-click="saveProjectName(tempProjName)")
					i.fa.fa-check
				button.text-link(ng-click="cancelProjEdit()")
					i.fa.fa-times
	ul.list-unstyled.pull-left.vert-align.no-margin
		li.square-btn.pull-right(ng-if="(!mapprSettings.zoomLock || !mapprSettings.panLock) && player.settings.showHeader && !appUi.showResetBtn", ng-click="zoomInfo.zoomExtents();" uib-tooltip="Zoom to Selection" tooltip-placement="bottom")
			i.fa.fa-fw.fa-crosshairs
		//- li.square-btn.pull-right(ng-if="appUi.theme == 'dark'" ng-click="changeTheme('light', $event);" uib-tooltip="Change to Light Theme" tooltip-placement="bottom")
		//- 	i.fa.fa-fw.fa-sun-o
		//- li.square-btn.pull-right(ng-if="appUi.theme == 'light'" ng-click="changeTheme('dark', $event);" uib-tooltip="Change to Dark Theme" tooltip-placement="bottom")
		//- 	i.fa.fa-fw.fa-moon-o
		//- li.square-btn.pull-right(ng-click="" uib-tooltip="Print Graph (Disabled)" tooltip-placement="bottom")
		//- 	i.fa.fa-fw.fa-print
		//- li.square-btn.pull-right(ng-click="appUi.resetSelection()", ng-show="appUi.showResetBtn", uib-tooltip="Reset Selections" tooltip-placement="bottom" tooltip-append-to-body="true")
		//- 	i.fa.fa-times
		//- dir-filter-dropdown.pull-right(ng-show="appUi.showListSortBtn" ng-click="$event.stopPropagation();" change-val="appUi.sortLayout(val);" ng-model="appUi.layoutSort", vals-list="appUi.nodeAttrs", show-triangle="false", is-button="true", btn-icon-class="fa fa-sort-amount-asc" uib-tooltip="Sort Layout"  tooltip-placement="right" tooltip-append-to-body="true")
		//- //- li.square-btn.pull-right
		//- //- 	i.fa.fa-sort-amount-asc
		//- li.square-btn.sort-direction-btn.pull-right.text-center(ng-show="appUi.showListSortBtn" ng-click="appUi.toggleLayoutSortDirection()" uib-tooltip="Sort Layout {{reverseSort ? 'Ascending' : 'Descending'}}" tooltip-placement="right" tooltip-append-to-body="true")
		//- 	i.fa.fa-long-arrow-up(ng-if="appUi.reverseSort")
		//- 	i.fa.fa-long-arrow-down(ng-if="!appUi.reverseSort")
		li.pull-right.search-list(ng-controller="SearchPanelCtrl" ng-include=' "#{server_prefix}#{view_path}/components/project/panels/search/search.html" ')
		//- li.square-btn.pull-right(ng-click="panelUI.openPanel('summary', false); closeOverlay();" ng-hide="panelUI.summaryPanelOpen || panelUI.filterPanelOpen || panelUI.infoPanelOpen || panelUI.selectionPanelOpen" uib-tooltip="Show Network Info" tooltip-placement="bottom" tooltip-append-to-body="true")
		//- 	i.fa.fa-fw.fa-list-ul
		//- li.square-btn.pull-right(ng-click="panelUI.openPanel('filter', true); closeOverlay();" ng-hide="panelUI.filterPanelOpen" uib-tooltip="Show Properties" tooltip-placement="bottom" tooltip-append-to-body="true")
		//- 	i.fa.fa-fw.fa-pie-chart
		//- li.square-btn.pull-right(ng-click="panelUI.openPanel('style'); closeOverlay();" ng-hide="panelUI.stylePanelOpen" uib-tooltip="Style Network" tooltip-placement="bottom" tooltip-append-to-body="true")
		//- 	i.fa.fa-fw.fa-paint-brush
		//- li.square-btn.pull-right(ng-click="panelUI.openPanel('layout'); closeOverlay();" ng-hide="panelUI.layoutPanelOpen" uib-tooltip="Change Layout" tooltip-placement="bottom" tooltip-append-to-body="true")
		//- 	i.icon-scatter
		//- li.square-btn.pull-right(ng-click="panelUI.openPanel('player');" ng-hide="panelUI.playerPanelOpen" uib-tooltip="Edit Player" tooltip-placement="bottom" tooltip-append-to-body="true")
		//- 	i.fa.fa-fw.fa-play
