.page.page-recipelist.list-lg(ng-init="ui.setPage('user-recipes')")
	.recipe-list(ng-controller="recipeListCtrl")
		// RECIPE LIST
		.panel
			ul.list-group
				li.animate-fade-out.list-group-item(ng-repeat="recipe in recipes | orderBy: recipeDash.sortType : recipeDash.sortReverse | filter:{name: recipeDash.searchKey}" ng-class="{'dark-scheme' : recipe.showPanel==true}" ng-mouseenter="recipe.showMenu = true;" ng-mouseleave="recipe.showMenu = false;")
					a.row.vert-align(ng-href="/recipes/{{recipe._id}}")
						.col-xs-1 
							i.fa.fa-2x.fa-list-alt(ng-class="{'active': recipe.showMenu}")
						.col-xs-3
							h6.truncate(ng-class="{'active': recipe.showMenu}") {{recipe.name}}
						.col-xs-2
							.vert-align
								h7 Created By 
								//filtering all users by owner (cheap way, maybe better way)
								img.user-img-circle(ng-if="recipe.createdBy.picture" ng-src="{{recipe.createdBy.picture}}")
								.user-circle.vert-align(ng-if="!recipe.createdBy.picture" ng-class="{'you': (user.current._id == recipe.createdBy.ref)}")
									h6.width-100.text-center {{recipe.createdBy.name | limitTo: 1}}

						.col-xs-2
							.vert-align
								h7 Last Edited By 
								img.user-img-circle(ng-if="recipe.lastEditedBy.picture" ng-src="{{recipe.lastEditedBy.picture}}")
								.user-circle.vert-align(ng-if="!recipe.lastEditedBy.picture" ng-class="{'you': (user.current._id == recipe.lastEditedBy.ref)}")
									h6.width-100.text-center {{recipe.lastEditedBy.name | limitTo: 1}}

						.col-xs-4
							ul.action-list.list-inline.animate-fade.vert-align(ng-click="$event.stopPropagation(); $event.preventDefault();")
								li(ng-show="recipe.showMenu" ng-click="cloneRecipe(recipe);" uib-tooltip="Clone" tooltip-append-to-body="true")
									i.fa.fa-1-5x.fa-copy.toggle-icon
								li(ng-show="recipe.showMenu" dir-delete-confirm obj-name="{{recipe.name}}" title="Delete Recipe" action="deleteRecipe(recipe);" uib-tooltip="Delete" tooltip-append-to-body="true")
									i.fa.fa-1-5x.fa-trash-o.toggle-icon
								li(ng-show="recipe.showMenu" ng-click="toggleIsHidden(recipe);" uib-tooltip="Hide" tooltip-append-to-body="true")
									i.fa.fa-1-5x.fa-eye-slash.toggle-icon

						//- .col-xs-12
						//- 	//RIGHT - BUTTONS
						//- 	.proj-list-menu.pull-right(ng-click="recipe.showShortcutBtns = true; $event.stopPropagation();" ng-mouseleave="recipe.showShortcutBtns = false;")
						//- 		.toggle.animate-fade-out.text-light(ng-show="!recipe.showShortcutBtns")
						//- 			i.fa.fa-ellipsis-h.fa-4x()
						//- 		ul.list-inline.animate-fade-right(ng-show="recipe.showShortcutBtns")
						//- 			li(ng-click="cloneRecipe(recipe);$event.stopPropagation();")
						//- 				.background.bg-warning
						//- 				i.fa.fa-3x.fa-copy
						//- 				.h6 Duplicate
						//- 			li(ng-click="deleteRecipe(recipe);$event.stopPropagation();")
						//- 				.background.bg-info
						//- 				i.fa.fa-3x.fa-share-square-o
						//- 				.h6 Delete
						//- 			li(ng-click="toggleIsHidden(recipe);$event.stopPropagation();")
						//- 				.background.bg-info
						//- 				i.fa.fa-3x.fa-share-square-o
						//- 				.h6 Hide
						//- 	//LEFT - TITLE
						//- 	.truncate.accelerate()
						//- 		.thumb.pull-left
						//- 			.circle.text-dark-light
						//- 				i.fa.fa-list-alt
						//- 				//img(width=120 height=120 src="")
						//- 		.title.text-ultralight.h2.no-text-transform.truncate(ng-if="true")
						//- 			| {{recipe.name}}
						//- 			.space
						//- 		.owner.text-small.vert-align
						//- 			img.img-circle.img30_30(ng-src="{{user.current.picture}}")
						//- 			.space
						//- 			.pull-left.h6 {{::proj.owner.name}} {{{true:'(you)', false:''}[user.current._id == proj.owner.ref]}}
						//- 			.col-xs-1
						//- 				.placeholder
						//- 					img(width=15 height=15 src="")
						//- 			span {{::recipe.createdAt}}

		//RECIPE PANEL --- recipe viewer----------------------------------------------------------------------------------------------
		//- .panel.recipe-panel.dark-scheme.animate-fade-right(ng-if="recipeInFocus" ng-controller="recipeViewerCtrl")
			//div {{recipeInFocus._id}}
			//HEADER
			.row
				.col-xs-6
					h3.pull-left.no-margin {{recipeInFocus.name}}
				.col-xs-6
					a.no-margin.h1.pull-right(ng-click="closeRecipePanel()" style="line-height:.2em; font-size: 50px;") &times;
			.divider
			.row
				.col-xs-12
					ul.nav-tabs.nav
						li(ng-class="{'active': !showArtifactTab}")
							a(ng-click="showArtifactTab = false;") View Recipe
						li(ng-class="{'active': showArtifactTab}")
							a(ng-click="showArtifactTab = true;") View Artifacts
					.clearfix
					//- button.power-btn(ng-click="toggleViewTab()") View {{ showArtifactTab ? 'Recipe' : 'Artifacts'}}
					.divider
			.divider
			//BODY
			// Artifacts ------------------------------------------------------------------------------------------
			.artifacts(ng-if="showArtifactTab && selectedRun")
				.network-item
					.row.vert-align
						.col-xs-12(ng-if="vm.recipeRuns.length == 0")
							h6 No networks generated yet. Run Recipe.
						.col-xs-7
							h6.pull-left.ui-select.width-100
								select(ng-model="selectedRun", ng-options="run.name for run in vm.recipeRuns track by run._id")
						.col-xs-5
							h6(ng-class="{'error': !selectedRun.isSuccessful}") {{selectedRun.isSuccessful ? "Successful!" : "Failed"}}
					//- p.text {{selectedRun.name}}
				.divider
				.row
					.col-xs-12
						h4 Maps
				.network-item
					.row(ng-repeat="project in selectedRun.projects track by project.ref")
						.col-xs-12.vert-align
							h6.network-title {{project.name}}
							a.power-btn.secondary-btn(ng-href="/projects/{{project.ref}}") open
				.divider
				h4 Network{{(selectedRun.networks.length > 1) ? 's' : ''}}
				.network-item(ng-repeat="nw in selectedRun.networks track by nw.ref")
					.row
						.col-xs-12 
							h5 Network {{$index+1}}
					.row
						.col-xs-12
							ul
								li
									h6
										span API Base:&nbsp;
										a(href="{{apiBaseUrl}}{{nw.ref}}", target="_blank") {{apiBaseUrl}}{{nw.ref}}
								li
									h6 Nodes: {{::nw.stats.numNodes}}
								li
									h6 Links: {{::nw.stats.numLinks}}
								li
									h6 Clusters: {{::nw.stats.numClusters || 0}}
									div(ng-if="nw.stats.clusterInfos.length > 0")
										dir-cluster-view(clusters="nw.stats.clusterInfos", total-nodes-count="nw.stats.numNodes")
					.divider
						//- div(ng-repeat="cluster in nw.stats.clusterInfos | limitTo:5")
						//- 	p.text {{cluster.linkingAttrName}}
						//- 	.row
						//- 		.col-xs-offset-1.col-xs-5 numNodes
						//- 		.col-xs-5 {{cluster.numNodes}}
						//- 	.row
						//- 		.col-xs-offset-1.col-xs-5 numBridgers
						//- 		.col-xs-5 {{cluster.numBridgers}}
						//- 	.row
						//- 		.col-xs-offset-1.col-xs-5 numMostCentral
						//- 		.col-xs-5 {{cluster.numMostCentral}}
						//- 	.row
				.divider
				.row
					.col-xs-12
						h4 API endpoints
				.network-item
					.row
						.col-xs-12
							h6 All Nodes: "/nodes"
							h6 Single Node: "/nodes/:nodeId"
							h6 Node With Neighbors: "/nodes/:nodeId/neighbours"
							.divider
							h6 All Links: "/links"
							h6 Single Link: "/links/:linkId"
							.divider
							h6 All Clusters: "/clusters"
							h6 Single Cluster: "/clusters/:clusterId"
							h6 Cluster bridgers: "/clusters/:clusterId/bridgers"
							h6 Cluster archetypes: "/clusters/:clusterId/archetypes"
							h6 Cluster Nodes: "/clusters/:clusterId/nodes" 
				.divider
			// Recipe
			.recipe(ng-if="!showArtifactTab")
				.recipe-config
					//title block
					.recipe-block
						.recipe-block-item.row
							.col-xs-offset-1.col-xs-1
								.title-icon
									i.fa.fa-magic(style="margin: 7px 0px 0px 7px;")
							.col-xs-8(ng-click="")
								.recipe-title.pull-left RECIPE {{vm.recipe.name}}
								.recipe-title-action.pull-right
									button.power-btn.secondary-btn(ng-hide="showRecipeCode" ng-click="showRecipeCode=true")
										i.fa.fa-fw.fa-code &nbsp;
										span edit json
										
									button.power-btn.secondary-btn(ng-show="showRecipeCode" ng-click="showRecipeCode=false;")
										span cancel
									button.power-btn(ng-show="showRecipeCode" ng-click="vm.onUpdate(); showRecipeCode=false;")
										i.fa.fa-fw.fa-check &nbsp;
										span save
									//- button.btn.btn-xs.btn-default
									//- 	i.fa.fa-plus &nbsp;add
									button.power-btn(ng-hide="showRecipeCode" ng-click="vm.executeRecipe()")
										i.fa.fa-play.fa-fw &nbsp;
										span run
					//code block
					div(ng-if="showRecipeCode")
						.recipe-block
							.recipe-block-item.row
								.item-desc.col-xs-1 CODE
								.col-xs-9
									textarea.pre.recipe-config-edit(ng-model="vm.code") {{vm.code}}
					// phase diagram
					div(ng-if="!showRecipeCode")
						.error-block(ng-show="vm.failureData")
							.recipe-block
								.recipe-block-item.row
									.item-desc.col-xs-1.error-text ERROR
									.col-xs-1
										div.error-text(ng-include="'#{server_prefix}#{view_path}/components/dashboard/recipes/phase_modals/phase_indicator.html'")
									.item-body.col-xs-9
										p.text error `{{vm.failureData.failureType}}` in phase `{{vm.failureData.phase}}`
										p.text {{vm.failureData.message}}
						dir-data-source-phase(ng-if="vm.phases.data_source", phasevm = "vm.phases.data_source", recipevm="vm")
						dir-dataset-gen-phase(ng-if="vm.phases.dataset_gen", phasevm = "vm.phases.dataset_gen", recipevm="vm")
						dir-dataset-post-proc-phase(ng-if="vm.phases.dataset_post_proc", phasevm = "vm.phases.dataset_post_proc", recipevm="vm")
						dir-project-gen-phase(ng-if="vm.phases.project_gen", phasevm = "vm.phases.project_gen", recipevm="vm")
						dir-network-gen-phase(ng-if="vm.phases.network_gen", phasevm = "vm.phases.network_gen", recipevm="vm")
						dir-snap-gen-phase(ng-if="vm.phases.snapshot_gen", phasevm = "vm.phases.snapshot_gen", recipevm="vm")
						dir-layout-gen-phase(ng-if="vm.phases.layout_gen", phasevm = "vm.phases.layout_gen", recipevm="vm")

						//layouts
						//- .recipe-block(ng-if="recipeInFocus.layout_gen.layout.length")
							.recipe-block-item.row(ng-repeat="layout in recipeInFocus.layout_gen.layouts")
								.item-desc.col-xs-1 LAYOUT
								.col-xs-1
									img.item-icon(src="https://cdn3.iconfinder.com/data/icons/shadcon/512/circle-tick-512.png" width="20" height="20")
								.item-body.col-xs-9(ng-click="")
									p.text {{::layout.name}}
									p.text-qualify
								.item-action.col-xs-1.soft-color
									i.fa.fa-2x.fa-pencil
						//snapshots
						//- .recipe-block
							.recipe-block-item.row(ng-repeat="snap in recipeInFocus.snapshot_gen.snapshots")
								.item-desc.col-xs-1 SNAPSHOT
								.col-xs-1
									img.item-icon(src="https://cdn3.iconfinder.com/data/icons/shadcon/512/circle-tick-512.png" width="20" height="20")
								.item-body.col-xs-9(ng-click="")
									p.text {{::snap.name}}
									p.text-qualify
								.item-action.col-xs-1.soft-color
									i.fa.fa-2x.fa-pencil
							.recipe-block-item.row(ng-if="recipeInFocus.snapshot_gen.genDefaultForNetwork")
								.item-desc.col-xs-1 SNAPSHOT
								.col-xs-1
									img.item-icon(src="https://cdn3.iconfinder.com/data/icons/shadcon/512/circle-tick-512.png" width="20" height="20")
								.item-body.col-xs-9(ng-click="")
									p.text Default Snapshot
									p.text-qualify Autogenerated
								.item-action.col-xs-1.soft-color
									i.fa.fa-2x.fa-pencil
				// recipe runs
				.recipe-runs
					.run.row
						.col-xs-offset-1.col-xs-1
							.title-icon
								i.fa.fa-repeat(style="margin: 7px 0px 0px 7px;")
						.col-xs-1
							.run-title-text RUNS
					.run.row(ng-repeat="run in vm.recipeRuns | orderBy: '-createdAt'")
						.col-xs-offset-1.col-xs-1
							.run-img(ng-if="run.isSuccessful")
								i.fa.fa-fw.fa-check-circle
							.run-img(ng-if="!run.isSuccessful")
								i.fa.fa-fw.fa-exclamation-triangle.error-text
							//img(src="http://fightworkshop.com/wp-content/uploads/2015/05/success-icon.png" alt="" width="50" height="50")
						.run-body.col-xs-8(ng-click="run.toggleLogs()")
							button.power-btn.secondary-btn.pull-right(ng-hide="run.showLogs")
								i.fa.fa-search
								| &nbsp;Show Details
							button.power-btn.secondary-btn.pull-right(ng-show="run.showLogs")
								i.fa.fa-search-minus
								| &nbsp;Hide Details
							p.text {{::run.name}}
							p.text Sources: {{::run.dataSources.length}} 
							p.text Networks: {{::run.networks.length}} 
							p.text Projects: {{::run.projects.length}}
							//- .run-stats-block(ng-repeat="nw in run.networks")
							//- 	p.text numNodes {{::nw.stats.numNodes}}
							//- 	p.text numLinks {{::nw.stats.numLinks}}
							//- 	p.text numClusters {{::nw.stats.numClusters}}
							//- 	p.text Per Cluster Stats
							//- 	div(ng-repeat="cluster in nw.stats.clusterInfos | limitTo:5")
							//- 		p.text {{cluster.linkingAttrName}}
							//- 		p.text numNodes {{cluster.numNodes}}
							//- 		p.text numBridgers {{cluster.numBridgers}}
							//- 		p.text numMostCentral {{cluster.numMostCentral}}

							div(ng-show="run.showLogs && (run.isLogLoaded || run.isLogLoading)")
								span(ng-if="run.isLogLoading") Loading logs...
								span(ng-if="run.isLogLoaded") Logs
									.col-xs-12
										.row.log-text(ng-repeat="log in run.logs track by $index")
											.col-xs-1 {{::log.logType}}
											.col-xs-2 {{::log.formattedDate}}
											.col-xs-6 {{::log.msg}}
