.panel.width-100(ng-if="vm.runsLoaded" ng-controller="RecipeLeftPanelCtrl")
	ul.list-group
		li.animate-fade-out.list-group-item(ng-class="{active: !selectedRun}" ng-click="loadRecipeConfig(); $event.stopPropagation();")
			.row.vert-align
				.col-xs-6
					h6.truncate(ng-class="{'active': recipe.showMenu}") Edit Recipe
				.col-xs-2
					i.fa.fa-spinner.fa-pulse.fa-2x(ng-show="vm.exec_started && !(vm.exec_finished && vm.exec_failed)")
				.col-xs-4
					button.power-btn.pull-right(type="button" ng-disabled="vm.exec_started" ng-click="startNewRun();") Start New Run
			div(ng-show="vm.exec_started && !(vm.exec_finished && vm.exec_failed)")
				.row
					.col-xs-12(ng-show="newRunProgress.currPhase")
						h6 Current task: 
							span.active {{newRunProgress.currPhase}}
					//- .col-xs-6
						//- h6 Tasks: {{newRunProgress.finishedTasks.length}}/{{newRunProgress.totalTasks.length}}
				.row(ng-show="newRunProgress.finishedTasks.length > 0")
					.col-xs-12
						h6 Finished tasks: 
						ul
							li.active(ng-repeat="task in newRunProgress.finishedTasks") {{task}}				
		li.animate-fade-out.list-group-item(ng-repeat="run in recipeRuns | orderBy: '-createdAt'" ng-if="!run.isRunning" ng-class="{active: (selectedRun._id == run._id)}" ng-click="loadRunInfo(run); $event.stopPropagation();")
			.row.vert-align
				.col-xs-1
					i.fa.fa-2x.fa-list-alt(ng-class="{'active': recipe.showMenu}")
				.col-xs-11
					h6.truncate(ng-class="{'active': recipe.showMenu}") {{run.name}}
