.row.vert-align
	.col-xs-12
		h4 Run Info
.network-item
	.row.vert-align
		.col-xs-12(ng-if="recipeRuns.length == 0")
			h6 No networks generated yet. Run Recipe.
		.col-xs-12
			h6(ng-class="{'error': !selectedRun.isSuccessful}")
				span(ng-if="selectedRun.isSuccessful")
					i.fa.fa-fw.fa-check-circle
				span(ng-if="!selectedRun.isSuccessful")
					i.fa.fa-fw.fa-exclamation-triangle.error-text
				span &nbsp;{{selectedRun.isSuccessful ? "Successful!" : "Failed"}}
	.row.vert-align
		h6 started on : {{selectedRun.createdAt | date:'medium'}}
	.row.vert-align
		h6 finished on : {{selectedRun.modifiedAt | date:'medium'}}
	.row.vert-align
		h6 time taken : {{(selectedRun.modifiedAt - selectedRun.createdAt) / (1000 * 60)}} mins
	//- p.text {{selectedRun.name}}
.divider
.row
	.col-xs-12
		h4 Maps
.network-item
	.row(ng-repeat="project in projectsForRun track by project.ref")
		.col-xs-12.vert-align
			h6.network-title {{project.name}}
			a.power-btn.secondary-btn(ng-href="/projects/{{project.ref}}") open
.divider
h4 Network{{(networksForRun.length > 1) ? 's' : ''}}
.network-item(ng-repeat="nw in networksForRun track by nw.ref")
	.row
		.col-xs-12 
			h5 Network {{$index+1}}
	.row
		.col-xs-12
			ul
				li
					h6
						span API Base:&nbsp;
						a(href="{{apiBaseUrl}}{{nw.ref}}", target="_blank") {{apiBaseUrl}}{{nw.ref}}
				li
					h6 Nodes: {{::nw.stats.numNodes}}
				li
					h6 Links: {{::nw.stats.numLinks}}
				li
					h6 Clusters: {{::nw.stats.numClusters || 0}}
					div(ng-if="nw.stats.clusterInfos.length > 0")
						dir-cluster-view(clusters="nw.stats.clusterInfos", total-nodes-count="nw.stats.numNodes")
	.divider
		//- div(ng-repeat="cluster in nw.stats.clusterInfos | limitTo:5")
		//- 	p.text {{cluster.linkingAttrName}}
		//- 	.row
		//- 		.col-xs-offset-1.col-xs-5 numNodes
		//- 		.col-xs-5 {{cluster.numNodes}}
		//- 	.row
		//- 		.col-xs-offset-1.col-xs-5 numBridgers
		//- 		.col-xs-5 {{cluster.numBridgers}}
		//- 	.row
		//- 		.col-xs-offset-1.col-xs-5 numMostCentral
		//- 		.col-xs-5 {{cluster.numMostCentral}}
		//- 	.row
.divider
.row
	.col-xs-12
		h4 API endpoints
.network-item
	.row
		.col-xs-12
			h6 All Nodes: "/nodes"
			h6 Single Node: "/nodes/:nodeId"
			h6 Node With Neighbors: "/nodes/:nodeId/neighbours"
			.divider
			h6 All Links: "/links"
			h6 Single Link: "/links/:linkId"
			.divider
			h6 All Clusters: "/clusters"
			h6 Single Cluster: "/clusters/:clusterId"
			h6 Cluster bridgers: "/clusters/:clusterId/bridgers"
			h6 Cluster archetypes: "/clusters/:clusterId/archetypes"
			h6 Cluster Nodes: "/clusters/:clusterId/nodes" 
.divider-lg
