//
// Main Container Styling
// Styling for containing divs for app
#mappr {
    color: $text-color;
    height: 100%;
    left: 0;
    overflow: visible;
    position: absolute;
    top: 0;
    transition: left 0.3s ease-out;
    width: 100%;
}

.view-containter {
    position: relative;
}

#content {
    @include transition(none);
    -webkit-overflow-scrolling: -blackberry-touch;
    -webkit-overflow-scrolling: touch;
    // !important, avoid flikering for all pages.
    // @include transition(left .25s ease-in-out);
    // @include transition(left .3s ease-in-out);
    // overflow-y: auto;
    //for left nav when open
    // background-color: $body-bg;
    bottom: 0;
    left: 220px;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
}

#content-cover {
    background: transparent;
    height: 100%;
    left: 220px;
    position: absolute;
    top: 0;
    width: 100%;
}

// for special pages like the player, like 404, sign in, sign up
.body-full-page {
    #content {
        left: 0;
        top: 0;
        z-index: 2;
    }
}

// lock screen
.body-bg-img {
    #content {
        -moz-background-size: cover;
        -o-background-size: cover;
        -webkit-background-size: cover;
        background: url('https://s3-us-west-1.amazonaws.com/mappr-misc/backgrounds/bkgrnd-nodes-dark.jpg') no-repeat center center fixed;
        background-size: cover;
    }
}

// home screen
// .body-home {
//     #content {
//         //background: url('https://s3-us-west-1.amazonaws.com/mappr-misc/backgrounds/bkgrnd-nodes-dark.jpg') no-repeat center center fixed;
//         background-size: cover;
//     }
// }
