//
// Large list styling
// Styling for full page listings (used in projects list and recipes list)

.list-lg {
    height: 100%;
    overflow: auto;
    padding-top: 38px;

    .panel-default {
        border-color: $panel-border;
    }

    .panel {
        overflow: hidden;

        &.scroll {
            overflow: auto;
        }

        .list-group-item {
            margin: 0 -2px -1px;

            .h6 {
              font-weight: 300;
            }

            &:first-child {
                border-radius: 0;
                border-top: 1px solid $panel-border;
            }

            &:last-child {
                border-bottom: 1px solid $panel-border;
                border-radius: 0;
            }
        }
    }

    //new stuff for redesign 2/5/16
    .action-list {
        color: $text-muted;

        &:first-child {
            margin-right: 20px;
        }

        > li {
            margin: 0 3px;

            a {
                color: $text-muted;
            }
        }
    }

    .user-circle,
    .user-img-circle {
        background: $text-muted;
        border-radius: 100%;
        height: 25px;
        margin: 5px;
        text-transform: uppercase;
        width: 25px;

        &.you {
            background: $text-color;
        }

        h6 {
            color: $text-color-dark;
        }
    }

    .list-icon {
        margin: 0 20px 0 5px;
    }

    .checkbox-bkgrnd {
        padding: 10px 20px 10px 15px;

    }

    .tab-pane {
        &.active {
            color: inherit;
        }
    }

    .owner {
        bottom: 5px;
        left: 120px;
        position: absolute;
    }

    .proj-list-menu {
        height: 120px;
        min-width: 100px;

        ul {
            background: $body-bg;
            height: 132px;
            margin: -6px -15px -6px 40px;
        }

        li {
            border-left: 1px solid $border-color;
            color: $text-color-dark;
            float: left;
            height: 132px;
            padding: 20px 0 0;
            position: relative;
            text-align: center;
            width: 132px;

            .background {
                @include transition(opacity .2s ease-out);
                bottom: 0;
                left: 0;
                opacity: .5;
                position: absolute;
                right: 0;
                top: 0;
            }

            .h6 {
                position: relative;
            }

            &:hover {
                .background {
                    opacity: 1;
                }
            }
        }
    }

    .list-group-item {
        @include transition(background-color .1s ease-out);
        background-color: $panel-bg;
        border: 1px solid $panel-border;
        color: $text-color;
        cursor: pointer;
        margin: 0 -1px -1px;


        &:hover {
            background-color: $list-highlight;
            border-color: $panel-border;
            color: $active-color;
        }

        .panel-group {

            .panel-title {
                font-size: 18px;

                a {
                    display: inline-block;
                    width: 100%;
                }
            }
        }

        // .project {
        //     white-space: nowrap;
        // }
        //
        // .version{
        //     background-color: rgba(255,255,255,0.5);
        //     padding-left: 0px;
        //     padding-right: 0px;
        // }
        //
        // img {
        //     border: 2px solid white;
        // }
        //
        // .close-btn {
        //     padding-top: 0px;
        //     font-size: 30px;
        //     margin-top: -5px;
        // }
        //
        // .version:hover {
        //     a.action-btn {
        //         visibility: visible;
        //     }
        //
        //     a.action-btn-revers {
        //         visibility: hidden;
        //     }
        //
        // }

        // .thumb {
        //     padding-right: 10px;
        // }
        //
        // .thumb {
        //     width: 100px;
        //     height: 85px;
        //     padding: 17px;
        //     margin: 10px;
        // }
        //
        // .thumb-spacer {
        //     width: 125px;
        //     height: 10px;
        // }
        //
        //
        // .thumb i.fa {
        //     font-size: 60px;
        // }
        //
        // .thumb i.icon-project {
        //     font-size: 70px;
        //     display: block;
        // }
        //
        // .thumb .small-icon i.fa {
        //     position: absolute;
        //     top: 54px;
        //     left: 74px;
        //     font-size: 19px;
        // }

        // .project-detail{
        //     margin-top: 25px;
        // }
        //
        // .deleted{
        //     background-color: $color-yellow;
        //     color: #DBD9D9;
        // }

        // .form-group{
        //     margin-right: 15px;
        //     margin-bottom: 0;
        // }
        //
        // .h2.form-control {
        //     font-size: 29px;
        //     height: auto;
        //     margin-bottom: 30px;
        //     margin-top: 25px;
        //     width: 500px;
        // }
        //
        // .h2.btn {
        //     font-size: 29px;
        //     padding-top: 6px;
        //     margin-top: 25px;
        // }
        //
        // .project-expansion{
        //     .menu{
        //         background-color: rgba(0,0,0,0);
        //         color: $gray;
        //         border-left: none;
        //         border-bottom: none;
        //         border-top: none;
        //         box-shadow: none;
        //         padding-left: 0px;
        //         padding-right:0px;
        //         &:hover{
        //             background-color: rgba(0,0,0,0);
        //             border-left: none;
        //         }
        //     }
        // }

        // .category .btn-icon-round-sm {
        //     padding-top:1px;
        // }

        // .category .btn-icon-round-sm i.fa {
        //     padding-top:0;
        // }
        //
        // .category .form-control.h4 {
        //     font-size: 22px;
        //     height: 39px;
        //     margin-bottom: 15px;
        //     margin-top: 15px;
        // }
        //
        // .category-btn {
        //     cursor: pointer;
        //     margin-top: -21px;
        //     padding: 14px;
        //     border-left: none;
        //     border-right: none;
        // }
        //
        // .analytics .analytic {
        //     margin: 0 10px;
        // }
        //
        // .analytics h3 {
        //     margin-bottom: 0;
        // }
        //
        // .analytics h6 {
        //     margin-top: 0;
        // }
        //
        // .uib-dropdown-menu {
        //     margin-top: -15px;
        //     margin-right: 10px;
        // }

    }

    // .list-group-item.in-focus {
    //     cursor:auto;
    //      background-color: $gray-light;
    //
    //     a.title {
    //          @include transform(translate3d(0, 0, 0));
    //      }
    //
    // }
    // .list-group-item.no-hover {
    //     cursor: auto;
    // }
    //
    // .list-group-item.no-hover:hover {
    //     background: inherit;
    // }



    .sublist-lg {

        padding: 0;

        > .list-group-item {
            border-left: 0;
            border-right: 0;
        }

        > .list-group-header {
            border-top: 0;
        }

        > .list-group-item:last-child {
            border-bottom: 0;
        }
    }

}
