//
// Minimized Left Nav Style
// Styling for when the left navigation drawer is minimized

.nav-min {
    #nav-container {
        width: 0;
    }
    #content {
        left: 0;
    }

    #content-cover {
        display: none;
    }

    .top-header {
        left: 0;
    }

    //not sure what this is
    .slimScrollDiv {
        overflow: visible !important; // overrides slimScroll plugin
    }

    #nav {
        overflow: visible;

        > li {
            display: none; //kaustuv -> forced it
            width: 0;//50px;
            // &:first-child {
            //     > a {
            //         background-color: $brand-danger;
            //     }
            // }
            > a {
                > i {
                    &:before {
                        color: $text-color-dark;
                    }
                    > .icon-bg {
                        left: 0;
                    }
                }

                > span {
                    display: none;
                }
            }

            .icon-has-ul {
                display: none;
            }

            > ul {
                @include box-shadow(1px 0 3px $shadow-color-light);
                left: 100%;
                position: absolute;
                top: 0;
                width: 220px;
            }

            &:hover,
            &.open {
                > ul {
                    display: block !important;
                }
            }
        }
    }
}
