//
// Recipe Styling
// Styling for recipe page in app

.recipe-name {
    left: 45px;
    position: absolute;
    top: -1px;
}

.recipe-list {

    .recipe-right-panel {
        width: 700px;
    }

    .list-group-item {
        &.active {
            background: $list-highlight;
        }
    }


    .uib-dropdown-menu {
        max-height: 470px;
        overflow-y: auto;
        position: absolute;
        right: 0;


        &.panel {
            background: none;
            border: 0;
            margin-left: -150px;
            margin-top: 0;
            padding: 0;
            text-align: left;
            white-space: nowrap;

            .panel-heading {
                height: 40px;
                padding-bottom: 5px;
                padding-top: 5px;

                a {
                    color: $text-muted;

                    &:hover {
                        color: white;
                    }
                }
            }

            .panel-footer {
                padding: 10px 15px;
            }

            .list-group-item {
                @include transition(background-color .2s ease-out);
                background-color: $gray;
                padding: 5px 0;

                > a {
                    display: block;
                    margin: 0;
                }
            }

            .media {
                .media-body {
                    padding-right: 75px;
                }
            }

            .list-group {
                border: 1px solid $panel-border;

                &:hover,
                &.active {
                    .list-group-item {
                        &:hover,
                        &.active {
                            background: darken($gray, 10%);
                        }
                    }
                }

                &:first-child,
                &:last-child {
                    .list-group-item {
                        &:first-child,
                        &:last-child {
                            border-radius: 0;
                        }
                    }
                }
            }
        }
    }
}

.recipe-panel {
    margin-bottom: -38px;
    margin-top: 1px;
    overflow: auto;
    padding: 20px;

    // colors
    &.dark-scheme {
        background: $dark-background;
        color: $text-muted;

        .soft-color {
            color: $text-color;

            &:hover {
                color: $text-muted;
            }
        }


        input,
        .form-control,
        textarea {
            background: $panel-item-dark;
            border-color: $panel-bg-dark;
            color: $text-color-dark;
        }
    }

    a {
        color: $text-color-dark;

        &:hover {
            color: $active-color;
        }
    }

    .color-picker {
        margin-bottom: 40px;
    }

    // .nav-tabs {
    //     > li {
    //         > a {
    //             border: 1px solid transparent;
    //             margin-top: -1px;
    //
    //             &:hover {
    //                 background: transparent;
    //                 border: 1px solid transparent;
    //                 color: $active-color;
    //             }
    //         }
    //
    //         &.active {
    //             > a,
    //             > a:hover {
    //                 background: transparent;
    //                 border: 1px solid transparent;
    //                 border-bottom: 4px solid $active-color;
    //                 color: $active-color;
    //                 margin-bottom: -1px;
    //                 margin-top: 0;
    //             }
    //         }
    //     }
    // }



    .ui-select {
        select {
            background-color: $dark-background;
            border-color: $input-border-dark;
            color: $text-color-dark;
            padding-right: 30px;
        }
    }

    .title-icon {
        background: $dark-background;
        border: solid 1px $text-color-dark;
        border-radius: 15px;
        color: $text-color-dark;
        height: 30px;
        margin-left: -5px;
        margin-top: 10px;
        width: 30px;
    }

    .more-btn {
        color: $active-color;
        font-style: italic;

        &:hover {
            color: $text-color-dark;
        }
    }


    //cat list
    .cat-list {
        .cat-item {
            background: $body-bg-dark;
            border: 1px solid $body-bg-dark;
            color: $text-color-dark;
            margin-bottom: 4px;
        }

        .cat-bar-container {
            @include vert-align;
            cursor: auto;
            padding: 10px;
        }

        .cat-percent {
            float: right;
            margin: 5px 10px;
            position: static;
        }

        .cat-highlight {
            background: $recipe-cat-highlight;
        }

        .cat-global-bar {
            background: $recipe-cat-bar;
        }

        .cat-text {
            margin-right: 40px;
            position: relative;
            z-index: 1;
        }

        .cat-text,
        .cat-percent {
            text-shadow: 0 0 1px $body-bg-dark,
                        0 0 1px $body-bg-dark;
        }
    }


    // Recipe
    .recipe-config {
        position: relative;

        &:before {
            background: $body-bg;
            bottom: 90px;
            content: '';
            left: 76px;
            position: absolute;
            top: 27px;
            width: 1px;
        }
    }

    .recipe-config-edit {
        background-color: $dark-background;
        border: 1px solid $body-bg;
        height: 500px;
        width: 103%;

        &:hover {
            background-color:$body-bg-dark;
            border-color: $text-color-dark;
            color: $text-color-dark;
        }
    }

    .recipe-title {
        font-size: 20px;
        margin-left: -15px;
        margin-top: 12px;
    }

    .recipe-title-action {
        margin-top: 12px;
    }

    .recipe-block {
        margin: 0 0 1em;
        overflow: hidden;
        padding-left: 10px;
        position: relative;
    }

    .recipe-block-item {
        margin-top: 6px;


        .item-desc {
            font-size: 9px;
            margin: 20px -14px 0 15px;
        }

        .item-icon {
            background: $dark-background;
            color: $text-color-dark;
            height: 18px;
            margin-top: 16px;
        }

        .item-body {
            @include transition(background-color .3s ease-out);
            background: $panel-item-dark;
            border: 1px solid $body-bg-dark;
            overflow: auto;
            padding:  5px 0 5px 15px;

            &:hover {
                background-color: $dark-background;
                border-color: $body-bg-dark;
                color: $text-color-dark;
                cursor: pointer;

                .secondary-btn {
                    color: darken($active-color, 10%);
                }
            }
        }

        .text {
            color: $text-muted;
            font-size: 13px;
        }

        .text-qualify {
            color: $panel-text-dark;
            font-size: 13px;
        }

        .item-action {
            cursor: pointer;
            margin-top: 16px;
        }
    }

    .error-block {
        .item-body {
            border-color: $danger-color;
        }
    }

    //Run Segment

    .recipe-runs {
        margin-bottom: 100px;
        margin-top: 50px;
        position: relative;

        &:before {
            background: $body-bg;
            content: '';
            height: 50px;
            left: 70px;
            position: absolute;
            top: 27px;
            width: 1px;
        }
    }

    .run {
        margin-bottom: 10px;
        overflow: hidden;
        position: relative;

        &:before {
            content: '';
            left: 65px;
            position: absolute;
            top: 0;
        }

        .text {
            &:before {
                content: '';
                left: 65px;
                position: absolute;
                top: 0;
            }
        }
    }

    .run-img {
        background: $dark-background;
        border-radius: 10px;
        margin-top: 16px;
    }

    .run-body {
        background: $panel-item-dark;
        border: 1px solid $body-bg-dark;
        overflow: hidden;
        padding: 10px;

        &:hover {
            background-color: $body-bg-dark;
            border-color: $body-bg-dark;
            color: $text-color-dark;
            cursor: pointer;
        }

    }

    .attribution {
        color: $text-muted;
        font-size: 13px;
        margin: -12px 0 0;
    }

    .run-title-text {
        font-size: 20px;
        margin-left: -15px;
        margin-top: 12px;
    }

    .log-text {
        font-size: 9px;
    }

    //network viewer
    .network-item {
        background: $panel-item-dark;
        border: 1px solid $body-bg-dark;
        margin-bottom: 10px;
        padding: 10px 20px;
    }
}
