.col-xs-12(ng-controller="ImportIOCtrl")
	h3 ImportIO
	.row
		.col-xs-12
			h4 URL to Import
			input.form-control(type="text", ng-model="importioUrl", placeholder ="Complete url, with api key" dir-select-all)