.attr-renderers
	.tooltip-positioner(uib-tooltip="{{tooltipText}}" tooltip-placement="right" tooltip-append-to-body="true" tooltip-is-open="openTooltip")
	.cat-info.h6
	.cat-list.h6
		.cat-item(ng-repeat="cluster in clustersViewData | limitTo: showCount", style="height:30px; width:350px;")
			.cat-bar-container
				.cat-global-bar.transition(style="width:{{cluster.nodesPerc}}%")
				//- .transition.cat-selfreq-bar(style="width:{{catData.selPercent.toFixed(2)}}%; background-color:{{colorStr}}")
				div.transition
					.cat-text.truncate.h6 {{::cluster.linkingAttrName || cluster.id}}
			.cat-percent.text-right.h6 {{::cluster.numNodes}}

	.more-btn(ng-click='loadMore()', ng-show="showCount < clustersViewData.length")
		.h6 more ({{showCount}}/{{::clustersViewData.length}})
	//- .more-btn(ng-click='showLess()' ng-show="distrData.numShowGroups > 1")
	//- 	.h6 less
