#firstLoad.intro-overlay.animate-fade(ng-if="panelUI.modalPanelOpen")
  .hero
    .hero__background
    .hero__content
      h1.hero__header 
        {{player.player.settings.modalTitle}}
        button(ng-click="panelUI.openPanel('filter')")
          | Explore Map
      .subtitle(ng-bind-html="player.player.settings.modalSubtitle | trustHtml")

      .content(ng-bind-html="player.player.settings.modalDescription | trustHtml")

