.legend-container.flex-transclude.width-100(ng-mouseleave="rightPanelExited();")
	.flex-vert-container.width-100
		//- .header(ng-mouseenter="panelUI.summaryPanelOpen ? showLegendBtns = true : showLegendBtns = false; panelUI.summaryPanelHover = true;" ng-mouseleave="showLegendBtns = false; panelUI.summaryPanelHover = false;" ng-class="{'active': panelUI.summaryPanelOpen}")
		.header(ng-mouseenter="panelUI.summaryPanelOpen ? showLegendBtns = true : showLegendBtns = false;" ng-mouseleave="showLegendBtns = false;")
			.row.vert-align.main
				.col-xs-12
					h6.title.text-uppercase.pointable-cursor.vert-align
							.title-space.width-100
								span.inline.nowrap Sized By:&nbsp;&nbsp;
								span.inline.nowrap.width-80
									span.text-uppercase.truncate {{vm.nodeSizeAttr.title}}
									span.subtitle(ng-if="vm.nodeSizeAttr.metadata.descr" uib-tooltip="{{vm.nodeSizeAttr.metadata.descr}}" tooltip-append-to-body="true" tooltip-placement="bottom-left")
										| &nbsp;&nbsp;&nbsp;
										i.fa.fa-info-circle
				//- .col-xs-4
				//- 	span
				//- 		button.square-btn.small-btn.panel-btn(type="button", ng-click="clearSelections();") Reset
			.row.vert-align.main
				.col-xs-12
					h6.title.text-uppercase.pointable-cursor.vert-align
							.title-space.width-100
								span.inline.nowrap Colored By:&nbsp;&nbsp;
								span.inline.nowrap.width-80
									span.text-uppercase.truncate {{dataGroupsInfo.colorNodesBy.title}}
									span.subtitle(ng-if="dataGroupsInfo.colorNodesBy.metadata.descr" uib-tooltip="{{dataGroupsInfo.colorNodesBy.metadata.descr}}" tooltip-append-to-body="true" tooltip-placement="bottom-left")
										| &nbsp;&nbsp;&nbsp;
										i.fa.fa-info-circle

					.btns(ng-if="mapprSettings.edgeColorStrat == 'select' || mapprSettings.edgeColorStrat == 'attr'")
						.square-btn.small-btn(ng-if="!ui.showingLinks" uib-tooltip="View Links Summary" tooltip-placement="right" tooltip-append-to-body="true" ng-click="ui.showingLinks = true;")
							.link-mask
								.link-circle
						.square-btn.small-btn.vert-align(ng-if="ui.showingLinks" uib-tooltip="View Nodes Summary" tooltip-placement="right" tooltip-append-to-body="true" ng-click="ui.showingLinks = false;")
							i.icon-legend-dots

			.hidden-btns(ng-click="$event.stopPropagation()" ng-if="!isNodeColorNumeric && ui.showViewToggle")
				h6.text-uppercase.animate-hidden-panel-btns(ng-show="(showLegendBtns && panelUI.summaryPanelOpen) || keepDrawerOpen")
					.row.vert-align
						.col-xs-7.nowrap.vert-align
						.col-xs-5.nowrap(ng-if="ui.showViewToggle")
							span.text-link
								span(ng-if="!ui.summaryToggleOpen" ng-click="ui.summaryToggleOpen = true;")
									i.fa.fa-caret-right.fa-fw
									span Expanded View
								span(ng-if="ui.summaryToggleOpen" ng-click="ui.summaryToggleOpen = false;")
									i.fa.fa-caret-down.fa-fw
									span Compact View
		.list-content.panel-scroll.flex-fill(ng-if="panelUI.summaryPanelOpen")
			///
			/// Node Color Panel
			///
			.panel-scroll(ng-if="!ui.showingLinks && mapprSettings.nodeColorStrat != 'select' && mapprSettings.nodeColorStrat != 'fixed'", dir-kill-tooltip-on-scroll)
				.panel-list(ng-if="!isNodeColorNumeric" ng-class="{'highlighted': ui.highlightingNodes}")
					.panel-item.pointable-cursor(ng-repeat="l in dataGroupVMs | filter:searchText:false | limitTo: ui.dataGroupsViewCount", ng-class="{'highlighted' : l.highlightOnNodeHover}", uib-tooltip="{{::l.name}}", tooltip-placement="right", tooltip-append-to-body="true")
						.flex-container(ng-click='selectNodesByAttrib(l.originalTitle, $event)', ng-mouseenter='hoverNodesByAttrib(l.originalTitle, $event, 0)', ng-mouseleave='unhoverNodes($event)')
							.legend-icon(ng-style='l.color')
							div(ng-if="ui.summaryToggleOpen && (l.archetypes.length > 0 || l.bridgers.length > 0)")
								.legend-line-down.animate-fade(style="border-color: {{l.colorval}}" ng-class="{'only-one':(l.bridgers.length == 0 || l.archetypes.length == 0)}")
							h6.panel-number ({{l.num}})
							h6.less-gutter.panel-text {{l.name}}
						div.animate-fade(ng-if="ui.summaryToggleOpen")
							.row.vert-align(ng-show="l.archetypes.length > 0")
								.col-xs-3
									.legend-line-across(style="border-color: {{l.colorval}}")
								.col-xs-9
									.row.vert-align.less-gutter(ng-click='selectNodesByIds(l.archetypes, $event); $event.stopPropagation();', ng-mouseenter='hoverNodesByIds(l.archetypes, $event); $event.stopPropagation();', ng-mouseleave='hoverNodesByIds([], $event); $event.stopPropagation();')
										.col-xs-3.less-gutter.text-center
											i.fa.fa-1-3x.fa-bullseye(ng-style='l.color')
										.col-xs-9
											.h6.less-gutter {{l.archetypes.length}} Archetypes
							.row.vert-align(ng-show="l.bridgers.length > 0")
								.col-xs-3
									.legend-line-across(style="border-color: {{l.colorval}}")
								.col-xs-9
									.row.vert-align.less-gutter(ng-href="", ng-click='selectNodesByIds(l.bridgers, $event); $event.stopPropagation();', ng-mouseenter='hoverNodesByIds(l.bridgers, $event); $event.stopPropagation();', ng-mouseleave='hoverNodesByIds([], $event); $event.stopPropagation();')
										.col-xs-3.less-gutter.text-center
											i.icon-bridger(ng-style='l.color')
										.col-xs-4
											.h6.less-gutter {{l.bridgers.length}} Bridgers
										.colz-xs-1
											//- i.fa.fa-plus(ng-click='selectNodeNeighborByIds(l.bridgers, $event); $event.stopPropagation();', ng-mouseenter='hoverNodeNeighborByIds(l.bridgers, $event); $event.stopPropagation();', ng-mouseleave='hoverNodesByIds([], $event); $event.stopPropagation();')
					div
						.pointable-cursor(ng-show="dataGroupVMs.length > ui.dataGroupsViewCount", ng-click='loadMoreDataGroups(); $event.stopPropagation();')
							.h6
								a.col-xs-12.text-right.pointable-cursor.text-link.no-underline
									em more&hellip;
								.clearfix
						//- .row.pointable-cursor(ng-if='$last', ng-click='ui.showAllNodes = false; $event.stopPropagation();' ng-show='ui.showAllNodes')
						//- 	.col-xs-12
						//- 		em.text-right less&hellip;
				.panel-list(ng-if="isNodeColorNumeric")
					.panel-item.row.vert-align.pointable-cursor(ng-repeat="l in dataGroupVMs | filter:searchText:false | limitTo: ui.dataGroupsViewCount", ng-class="{'highlighted' : l.highlightOnNodeHover}", ng-click='hoverNodesByAttrib(undefined, $event); selectNodesByAttrib(l.num, $event)', ng-mouseenter='hoverNodesByAttrib(l.num, $event, 700)', ng-mouseleave='hoverNodesByAttrib(undefined, $event)', uib-tooltip="{{::l.descr}}", tooltip-placement='left', tooltip-append-to-body="true")
						.col-xs-2
							.legend-icon-numeric(ng-style='l.color')
						.col-xs-10
							h6 {{l.count}} {{l.name}}
					div
						.pointable-cursor(ng-show="dataGroupVMs.length > ui.dataGroupsViewCount", ng-click='loadMoreDataGroups(); $event.stopPropagation();')
							.h6
								a.col-xs-12.text-right.pointable-cursor.text-link.no-underline
									em more&hellip;
						//- .row.pointable-cursor(ng-if='$last', ng-click='ui.showAllNodes = false; $event.stopPropagation();' ng-show='ui.showAllNodes')
						//- 	.col-xs-12
						//- 		em.text-right less&hellip;
			.panel-scroll(ng-if="!ui.showingLinks && mapprSettings.nodeColorStrat == 'select'", dir-kill-tooltip-on-scroll)
				.panel-list
					.panel-item.row.vert-align
						.col-xs-2.vert-align
							i.fa-1-3x.icon-legend-dots(style="color:{{mapprSettings.nodeColorDefaultValue}};")
						.col-xs-10
							h6.less-gutter All Nodes
			///
			/// Edge Color Panel
			///
			.panel-scroll(ng-if="ui.showingLinks && mapprSettings.edgeColorStrat == 'attr'", dir-kill-tooltip-on-scroll)
				.panel-list(ng-if="!isEdgeColorNumeric" ng-class="{'highlighted': ui.highlightingNodes}")
					.panel-item.pointable-cursor(ng-repeat="l in dataGroupLinkVMs | filter:searchText:false | limitTo: ui.linkGroupsViewCount", ng-class="{'highlighted' : l.highlightOnNodeHover}", uib-tooltip="{{::l.descr}}", tooltip-placement='left', tooltip-append-to-body="true", ng-click="selectEdgesByAttrib(l.name, $event)")
						.row.flex-container()
							.col-xs-1.flex-fill
								.legend-icon
									.link-mask
										.link-circle(ng-style="{'border-color': l.colorval}")
							.col-xs-2
								h6.pull-right.panel-number {{l.num}}
							.col-xs-10
								h6.less-gutter {{l.name}}
					.panel-item
						.row.pointable-cursor(ng-show="linkGroupVMs.length > ui.linkGroupsViewCount", ng-click='loadMoreLinkGroups(); $event.stopPropagation();')
							.col-xs-12
								em.text-right more&hellip;
				.panel-list(ng-if="isEdgeColorNumeric")
					.panel-item.row.vert-align.pointable-cursor(ng-repeat="l in dataGroupVMs | filter:searchText:false | limitTo: ui.linkGroupsViewCount", ng-class="{'highlighted' : l.highlightOnNodeHover}", ng-click='hoverNodesByAttrib(undefined, $event); selectNodesByAttrib(l.num, $event)', ng-mouseenter='hoverNodesByAttrib(l.num, $event, 700)', ng-mouseleave='hoverNodesByAttrib(undefined, $event)', uib-tooltip="{{::l.descr}}", tooltip-placement='left', tooltip-append-to-body="true")
						.col-xs-2
							.legend-icon
								.link-mask
									//l.color needs to return border color
									.link-circle(ng-style='l.color')
						.col-xs-10
							h6.less-gutter {{l.num}} {{l.name}}
					.panel-item
						.row.pointable-cursor(ng-show="linkGroupVMs.length > ui.linkGroupsViewCount", ng-click='loadMoreLinkGroups(); $event.stopPropagation();')
							.col-xs-12
								em.text-right more&hellip;
