.slides-panel.flex-transclude.width-100(ng-mouseleave="rightPanelExited();")
	.flex-vert-container.width-100
		.header
			#slideNavigator.row.vert-align.main
				.col-xs-10
					.vert-align
						h6.title.text-uppercase.nowrap Slide {{snapInfo.curSnapInd + 1}}/{{player.snapshots.length}}:
						.vert-align
							.play-btn
								i.fa.fa-pause.fa-1-2x(ng-if="isPlaying" ng-click="stopPlaying();")
								i.fa.fa-play.fa-1-2x(ng-if="!isPlaying" ng-click="startPlaying();")
							.dots.vert-align
								i.fa.fa-circle(ng-repeat="snap in player.snapshots" ng-class="{'active': snapInfo.activeSnap.id === snap.id}" ng-click="setSnapActive(snap, true);")
				.col-xs-2
					.arrows.vert-align
						i.pull-right.material-icons(ng-class="{'disabled': snapInfo.curSnapInd === 0}" ng-click="prevSnap()") arrow_back
						i.pull-right.material-icons(ng-class="{'disabled': snapInfo.curSnapInd === player.snapshots.length - 1}" ng-click="nextSnap()") arrow_forward
			.row
				.col-xs-12
					.timer(style="width: {{((currentTime / 1000) % (player.settings.snapDuration)) / player.settings.snapDuration * 100}}%;")
		#slideDescription.left-panel-body.flex-fill
			.panel-scroll(ng-repeat="snap in player.snapshots" ng-if="snap.id === snapInfo.activeSnap.id" ng-class="snapDescClass")
				.panel-item
					.filter-item
						h3 {{snap.snapName}}
						p(ng-bind-html="snap.descr")
			.panel-scroll.panel-scroll--bottom
				.panel-item
					.filter-item
						h3 {{snapInfo.activeSnap.snapName}}
						p(ng-bind-html="snapInfo.activeSnap.descr")
