.snap-side-panel.flex-transclude.height-100
    .panel-container.flex-vert-container.width-100
        .snap-header
            .snap-title {{currentSnap.snapName}}
        .line-row
            .line
            .line-active(ng-style="getLineWidth()")
        .panel-scroll.flex-fill.flex-vert-container
            div.snap-item(ng-repeat="snap in snapshots | filter: {isEnabled: true} track by snap.id" ng-click="setSnapActive(snap, $index)")
                .snap-summary(ng-if="snapshots.length > 1" ng-class="{'snap-summary-active': snap.id === currentSnap.id}")
                    img(ng-src="{{snap.summaryImg}}")
                    .snap-info
                        .snap-info-title {{snap.snapName}}
                        .snap-info-subtitle {{snap.subtitle}}
