.page.page-profile(ng-controller="UserProfileCtrl" ng-init="ui.setPage('user-profile')")
	.clearfix
	.divider-xlg
	.divider-lg
	.holder.profile-holder
		.row
			.col-md-2.text-right
				ul.list-unstyled
					li
						a.profile(href='')
							img.img-circle.img200_200(alt='', ng-src='{{user.current.picture}}')
							.clearfix
				.divider-lg
				.divider
			.col-md-9
				ul.list-group.list-unstyled(ng-if="!profileUI.changePassword")
					li.list-group-item
						.holder
							.row.vert-align
								.col-xs-4
									label.h6 Username
									input.form-control(type="text", ng-model="userVM.name", placeholder="user name")
								.col-xs-4
									label.h6 First Name
									input.form-control(type="text", ng-model="userVM.first_name", placeholder="first name")
								.col-xs-4
									label.h6 Last Name
									input.form-control(type="text", ng-model="userVM.last_name", placeholder="last name")
					li.list-group-item
						.holder
							.row.vert-align
								.col-xs-5
									label.h6.truncate Email {{userVM.email}}
								.col-xs-4
									label.h6.truncate Last Signed in {{userVM.lastSignedIn.date | date : medium}}
								.col-xs-3
									button.power-btn.error-btn.nowrap.pull-right(ng-click="profileUI.changePassword = true;") Change Password
					li.list-group-item
						.holder
							.row
								.col-md-12
									label.h6 You subscribe to {{userVM.orgs.length}} Organization{{userVM.orgs.length > 1 ? 's' : ''}}
							.row
								.col-md-12
									ul
										li(ng-repeat="org in userVM.orgs")
											label.h6 {{::org.orgName}} [{{::org.role}}]
					//- li.list-group-item
					//- 	span.pull-left
					//- 		i.fa.fa-th-large
					//- 	.space Projects {{userVM.projects.length}}
					li
						.holder
							.row
								.col-xs-12
									button.power-btn.pull-right(type="button", ng-click="saveChanges();") Save Changes
									a.power-btn.secondary-btn.pull-right(href="/user-projects") Cancel
				ul.list-group.list-unstyled(ng-if="profileUI.changePassword")
					li.list-group-item
						.holder
							.row.vert-align
								.col-xs-4
									input.form-control(type="password", ng-model="authObj.currPassword", placeholder="current password")
									
					li.list-group-item
						.holder
							.row.vert-align
								.col-xs-4
									input.form-control(type="password", ng-model="authObj.newPassword", placeholder="new password")
									.divider
									input.form-control(type="password", ng-model="authObj.newPasswordConfirm", placeholder="confirm new password")
									
					li
						.holder
							.row
								.col-xs-12
									button.power-btn.pull-right(type="button", ng-click="updatePassword();") Save
									button.power-btn.secondary-btn.pull-right(type="button", ng-click="profileUI.changePassword = false;") Cancel
