//
// Styles for the app
// Styles specific to the app, but not needed for the player


.drag-and-drop {

    width: 260px;
    height: 260px;
    border: 5px dashed #ccc;
    border-radius: 100%;
    text-align: center;
    /* display: inline-block; */
    margin: 0 auto -10px;
    padding: 30px;
    position: relative;
    z-index: 1;
    font-weight: bold;

    i.fa-file {

        position: absolute;
        top: 50%;
        left: 50%;
        font-size: 150px;
        color: #ccc;
        margin: -78px -62px;
        z-index: -1;
    }
}

.over .drag-and-drop {
    border-color: $active-color;

    i.fa-file {
        color: $active-color;
    }
}

.muted {
    color: #ccc;
}
