.list-layout(ng-click="resetCollection();")
	.list-layout-content
		h7.pagination {{pagination}}
		
		//- h7(ng-if="MAPP_EDITOR_OPEN")
		//- 	span(ng-repeat="sort in listSortAttrAr")
		//- 		span(ng-if="$first") Sorted 
		//- 		span(ng-if="!$first") Then 
		//- 		span {{sort.direction == 'desc' ? 'Descending' : 'Ascending'}} By {{sort.val.title}}
		//- 		a.h6(ng-click="removeSortAttr($index)") &nbsp;&times;&nbsp;&nbsp;
		//- h7(ng-if="!MAPP_EDITOR_OPEN")
		//- 	span(ng-repeat="sort in listSortAttrAr")
		//- 		span(ng-if="$first") Sorted 
		//- 		span(ng-if="!$first") , Then 
		//- 		span {{sort.direction == 'desc' ? 'Descending' : 'Ascending'}} By {{sort.val.id}}
		.header.nowrap.vert-align
			.column.name-column.flex-fill
				.vert-align 
			.attr-columns(style="margin-left:{{attrScroll}}px;" ng-click="$event.stopPropagation()")        
				.column(ng-repeat="attr in listAttrs track by $index" ng-if="MAPP_EDITOR_OPEN || attr.attrType" style="width:{{colSizes[$index]}}px;")
					h7.pull-left.sort {{getSortedText(listAttrs[$index].id)}}
					dir-filter-dropdown.h7.animate-fade(ng-if="MAPP_EDITOR_OPEN" ng-click="$event.stopPropagation();" ng-model="columnModels[$index]" change-val="updateListAttrs(val, $index);" default-title="listAttrs[$index].title || 'Choose Attribute'", vals-list="getNodeAttrsList($index)", show-triangle="false", dd-class="text-link")
					h7(ng-if="!MAPP_EDITOR_OPEN && listAttrs[$index].attrType") {{listAttrs[$index].title}}
					//- button.blue-text-btn(ng-click="removeListAttr($index)") &times;
			.controls(ng-click="$event.stopPropagation()")
				button.circle-btn.setting-btn.plus-btn.pull-right(ng-if="MAPP_EDITOR_OPEN" ng-click="addColumn()" uib-tooltip="Add Column" tooltip-append-to-body="true")
					i.fa.fa-plus
				.uib-dropdown.search-sort.pull-right(uib-dropdown dropdown-append-to-body)
					.uib-dropdown-toggle(uib-dropdown-toggle, auto-close="outsideClick")
						button.circle-btn.setting-btn
							i.fa.fa-caret-down
					.uib-dropdown-menu.uib-dropdown-menu-flexing(uib-dropdown-menu)
						.uib-dropdown-click-close
						.uib-dropdown-flex-content
							.uib-dropdown-flex
								ul.list-unstyled.dd-list
									li.row.vert-align(ng-if="nodesObj.length !== totalNodesCount" ng-click="resetCollection()")
										.col-sm-12
											h6.no-margin.pointable-cursor
												span.no-text-transform Deselect Selected Nodes
									li.row.vert-align(ng-if="isSortedByCategory && !allCatsClosed" ng-click="closeAllCats();")
										.col-sm-12
											h6.no-margin.pointable-cursor
												span.no-text-transform Close All Categories
									li.row.vert-align(ng-if="isSortedByCategory && anyCatsClosed" ng-click="openAllCats();")
										.col-sm-12
											h6.no-margin.pointable-cursor
												span.no-text-transform Open All Categories
				button.circle-btn.pull-right(ng-click="scrollColumns(true)" ng-class="{'invisible':!showRightScroll}")
					i.fa.fa-arrow-right
				button.circle-btn.pull-right.left-btn(ng-click="scrollColumns(false)" ng-class="{'invisible':!showLeftScroll}")
					i.fa.fa-arrow-left
		#virtual-scroll.content(scroll-distance="200" ng-class="{highlighted: nodesInHover}" ng-click="resetCollection();")    
			.compared(ng-click="$event.stopPropagation();" ng-show="comparingNodes")
				h7.text-uppercase.pull-left
					strong Selection
				.text-link.h7.text-uppercase.pull-right.pointable-cursor(ng-click="clearSelection();")
					strong Clear Selection
				.clearfix
				.cards
					.card.nowrap(ng-if="node.isCompared" ng-repeat="node in sortedNodesObj"  ng-mouseenter="setHover(node)" ng-mouseleave="setHover()", ng-class="{highlighted: node.inHover, 'selected': selectedNodeIds.indexOf(node.id) !== -1}" data-nodeid="{{node.id}}", dir-list-row="" ng-click="$event.stopPropagation();" node="node")
						.height-100(ng-include=' "#{player_prefix_index}/components/project/layouts/list/listRow.html" ')
				.clearfix
			.nodes
				h7.text-uppercase(ng-show="comparingNodes")
					strong All Nodes
				.cards(vs-repeat="48" vs-excess="0" vs-scroll-parent="#virtual-scroll" ng-click="$event.stopPropagation();")
					div(ng-repeat="node in sortedNodesObj")
						.category-header.vert-align(ng-if="node.isHeader")
							button.text-link.no-underline(ng-click="toggleCategoryNodes(node.category)")
								i.fa.fa-1-5x.fa-fw.fa-caret-right(ng-show="isCategoryHidden(node.category)")
								i.fa.fa-1-5x.fa-fw.fa-caret-down(ng-show="!isCategoryHidden(node.category)")
							h5.vert-align
								span(ng-if="listSortAttr.id == 'Cluster'")
									i.icon-legend-dots(style="color:{{node.colorStr}};")
								span {{node.category}}
						.card.nowrap(ng-if="!node.isHeader && node.isVisible" ng-mouseenter="setHover(node)" ng-mouseleave="setHover()", ng-class="{highlighted: node.inHover, 'selected': selectedNodeIds.indexOf(node.id) !== -1}" data-nodeid="{{node.id}}", dir-list-row="" ng-click="$event.stopPropagation();")
							.height-100(ng-include=' "#{player_prefix_index}/components/project/layouts/list/listRow.html" ')
			//- .text-center.vert-align.height-50(ng-hide="allNodesRendered")
			//-     h4.width-100
			//-         i.fa.fa-spinner.fa-pulse.fa-2x
			
	.grid-bottom-left-btns.vert-align.pull-left
		//in replace of bullseye zoom
		button.h3.pull-left.no-margin.vert-align(ng-show="scrolled" ng-click="resetScrollPosition();" uib-tooltip="Scroll to Top" tooltip-placement="top-left" tooltip-append-to-body="true")
			i.fa.fa-arrow-up
