//
// Intro Overlay in player styling
// Style for initial modal overlay in player

.intro-overlay {
    background: $intro-overlay-bg  url('/img/intro-overlay.png') 50% no-repeat;
    background-size: cover;
    bottom: 0;
    left: $side-menu-width;
    position: fixed;
    right: 0;
    top: 0;
    overflow: auto;
    z-index: 1001;
    color: $text-color;
    pointer-events: auto;
    transition: left .2s;

    .hero {
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 100%;
        min-height: 400px;
        position: relative;
        color: #fff;
        display: flex;

        button {
          align-self: center;
          margin-right: -150px;
          border-radius: 20px;
          background-color: $body-bg;
          color: $intro-overlay-bg;
          font-size: 14px;
          line-height: 21px;
          text-transform: uppercase;
          padding: 8px 20px 6px;
          font-weight: 400;
          border: 1px solid rgba($body-bg, .3);
          transition: border .2s;

          &:hover {
            border-color: rgba($body-bg, .9);
          }
        }
        
        a {
          color: #fff;
          text-decoration: underline;
        }
    }


    .hero__background {

        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#006479+0,011f2a+100 */
        display: none;
    }

    .hero__content {
      position: relative;
      max-width: 50%;
      padding: 20px 40px 90px 57px;
      box-sizing: content-box;
      font-size: 14px;
      line-height: 1.8;
      font-family: 'Poppins', sans-serif;

      h1 {
        font-weight: 700;
        font-family: 'Poppins', sans-serif;
        font-size: 36px;
        line-height: 1.37;
        margin: 0 0 20px;
        padding: 0 0 10px;
        border-bottom: 1px solid rgba(#fff, .08);
      }

      p {
        margin: 0 0 1.5em;
      }

      .subtitle {
        font-weight: 300;
      }
    }

    .hero__header {
      display: flex;
      align-content: center;
      justify-content: space-between;
    }

    .background {
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        z-index: -1;
    }

}
