.search-box {
  background: #fff;
  height: auto;
  box-sizing: border-box;
  border-radius: 3px;
  max-width: 328px;

  &__input-wrap {
    position: relative;
    display: flex;
    z-index: 1;

    .search-input {
      width: 100%;

      &:before {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 38px;
        height: 38px;
        background: deployedUrl('/img/filter-panel/search.svg') no-repeat;
        background-size: 16px;
        background-position: center;
        opacity: .6;
      }
    }
  }

  &__input {
    width: 100%;
    padding: 0 32px;
    border: 0;
    font-weight: 400;
    font-size: 14px;
    height: 38px;
    color: #000;
    border-radius: 3px 0 0 3px;
    border: 1px solid $gray-light;
    border-right: none;
    font: 400 15px/1 "Poppins";

    &::placeholder {
      color: #AEAEAE;
    }
  }

  &__clear {
    background: deployedUrl('/img/play-toolbar/cancel-grey.svg') 50% no-repeat;
    position: absolute;
    right: 36px;
    top: 0;
    font-size: 0;
    width: 38px;
    height: 38px;
    padding: 0;

    &:hover {
      background-image: deployedUrl('/img/play-toolbar/cancel.svg');
    }
  }

  .search-results {
    float: none;
    max-width: 500px;
    box-shadow: none;
    margin: 0;
  }
}

.search-dropdown {
  position: relative;

  &_opened {
    //border-color: transparent;
    .search-dropdown__list {
      display: block;
      visibility: visible;
    }

    .search-dropdown__button {
      max-width: 200px;

      &::after {
        transform: rotate(180deg) translateY(50%);
      }
    }
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0;
    background: #eff2f5;
    cursor: pointer;
    position: relative;
    white-space: nowrap;
    z-index: 30;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 36px;
    border-radius: 0 3px 3px 0;
    border: 1px solid #e6e6e6;

    &::before {
      content: '';
      width: 18px;
      height: 18px;
      background: deployedUrl('/img/search/filter-icon.svg');
      background-repeat: no-repeat;
      background-size: cover;
      display: block;
    }
  }

  &__list {
    display: none;
    visibility: hidden;
    position: absolute;
    top: 39px;
    left: -1px;
    right: 0;
    z-index: 20;
    margin: 0;
    padding: 0;
    list-style: none;
    background: #fff;
    border-radius: 3px;
    min-width: 170px;
    border: 1px solid #EBEFF2;
  }

  &__item {
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    color: #323C47;
    cursor: pointer;
    padding: 0 10px 0 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    transition: background-color .2s;

    &:not(:last-child) {
      border-bottom: 1px solid #EBEFF2;
    }

    &:hover {
      color: darken(#323C47, 16);
      background-color: #fafafa;
    }

    &_selected {
      background: deployedUrl('/img/search/check.svg') 5px 50% no-repeat;
    }
  }
}
