.slides-panel {
  color: $text-color;

  .play-btn {
    margin: 4px 11px 0 3px;

    &:hover {
      color: $color-slice-blue;
    }
  }

  .dots {
    color: $text-muted;
    flex-wrap: wrap;

    i {
      display: inline-block;
      margin: 0 1px 0 1px;
      font-size: 9px;

      &.active,
      &:hover {
        color: $color-slice-blue;
      }
    }
  }

  .timer {
    background-color: $color-slice-blue;
    height:4px;
    transition: width .2s ease-out;
  }

  .arrows {
    float: right;
    margin-right: 5px;
    font-size: 18px;
    margin-top: -1px;

    i {
      margin: 0 3px;

      &:hover {
        color: $color-slice-blue;
      }

      &.disabled {
        color: $text-muted;
        pointer-events: none;
      }
    }
  }

  .panel-scroll {
    font-weight: 300;

    h1, h2, h3, h4, h5, h6 {
      font-weight: 500;
    }
  }
}
