#floatingForm.form-popup
  form.form-container
    p Send any bugs, errors, or suggestions for improvement. Please include the name of the map you are viewing
    textarea(ng-model='message')
    p Your submission is anonymous unless you include your name and/or email
    button.btn(type='button' ng-click='sendSupportEmail()') Send
    button.btn(type='button' ng-click='toggleForm()') Close