#bottom-left-btns.bottom-left-btns.vert-align.pull-left(ng-class="{'no-zoom': (layout.plotType == 'list' || layout.plotType == 'grid')}")
	button.h3.pull-left.no-margin.vert-align(ng-if="layout.plotType != 'list' && layout.plotType != 'grid'" ng-click="zoomInfo.zoomExtents(); closeOverlay();" uib-tooltip="Zoom to Selection" tooltip-placement="top-left" tooltip-append-to-body="true")
		i.fa.fa-bullseye
	.vert-line
	ul.list-inline
		li
			button.circle-btn(ng-class="{'active': panelUI.stylePanelOpen}" ng-click="panelUI.openPanel('style'); closeOverlay();" uib-tooltip="Style Network" tooltip-placement="top" tooltip-append-to-body="true")
				i.fa.fa-fw.fa-paint-brush
		li.toggle-item(ng-controller="LayoutToggleCtrl" ng-mouseenter="overLayoutToggle = true;" ng-mouseleave="overLayoutToggle = false;")
			ul.btn-opts.list-unstyled.text-center(ng-if="overLayoutToggle")
				li(ng-repeat="layout in layouts | filter: {isBuilder:true}" ng-hide="layout.isCurrentPanel" uib-tooltip="{{layout.name}}" tooltip-placement="right" tooltip-append-to-body="true")
					button.circle-btn(ng-click="changeLayout(layout);")
						i.icon.icon-scatter(ng-if="layout.plotType == 'scatterplot'")
						i.icon.icon-project.fa-1-1x(ng-if="layout.plotType == 'layout_generator_layout_clustered'")
						i.fa.fa-globe.fa-1-3x(ng-if="layout.plotType == 'geo'")
						i.icon.icon-grid-layout(ng-if="layout.plotType == 'grid'")
						i.fa.fa-align-justify(ng-if="layout.plotType == 'list'")
			button.circle-btn(ng-class="{'active': panelUI.layoutPanelOpen}" ng-click="openLayoutPanel(true)" uib-tooltip="{{currentLayout.name}} Layout" tooltip-placement="right" tooltip-append-to-body="true")
				i.icon.icon-scatter(ng-if="currentLayout.plotType == 'scatterplot'")
				i.icon.icon-project.fa-1-1x(ng-if="currentLayout.plotType == 'original' || currentLayout.plotType == 'athena_layout_clustered' || !currentLayout.plotType")
				i.fa.fa-globe.fa-1-3x(ng-if="currentLayout.plotType == 'geo'")
				i.icon.icon-grid-layout(ng-if="currentLayout.plotType == 'grid'")
				i.fa.fa-align-justify(ng-if="currentLayout.plotType == 'list'")
#camera-effect.camera-effect.animate-flash(ng-if="isTakingSnap")
	.centerContainer.centerFlex
		div.centerPseudo
			.text-large.color-primary capturing snapshot ...
#snapshots.snapshots.panel-bg(ng-init="dragInit();" ng-class="snapshots.getPanelClass();" ng-mouseleave="snapshots.showLastSnap = false;")
	//- .drag-handle(ng-show="snapshots.isOpen")
	//- 	i.fa.fa-unsorted
	.animate-fade-delay
		.circle-btn.pull-left(uib-tooltip='Capture Snapshot', tooltip-append-to-body="true" tooltip-placement='top', ng-click='snapshots.createSnap(); $event.stopPropagation();')
			i.fa.fa-camera
		.more-btn.no-underline.pull-right.vert-align(ng-show="!snapshots.isOpen" ng-click="snapshots.open()" uib-tooltip="Open Snapshots" tooltip-append-to-body="true")
			i.fa.fa-2x.fa-ellipsis-h
		.circle-btn.pull-right.animate-fade-delay.animate-hide-leave.vert-align.text-center(ng-if="snapshots.isOpen" uib-tooltip='Close Snapshot Panel', tooltip-append-to-body="true" tooltip-placement='top', ng-click="snapshots.close($event);")
			i.icon-close
		.circle-btn.pull-right.animate-fade-delay.animate-hide-leave.vert-align.text-center(ng-if="snapshots.isOpen" uib-tooltip='Publish', tooltip-append-to-body="true" tooltip-placement='top', ng-click='panelUI.openPanel("player"); $event.stopPropagation();')
			i.fa.fa-share
		//.circle-btn.pull-right(uib-tooltip='New Embed Snapshot', tooltip-append-to-body="true" tooltip-placement='top', ng-click='snapshots.openSnapCreateModal("embed"); $event.stopPropagation();')
			i.fa.fa-fw.fa-code 
		//.circle-btn.pull-right(uib-tooltip='New Text Snapshot', tooltip-append-to-body="true" tooltip-placement='top', ng-click='snapshots.openSnapCreateModal("text"); $event.stopPropagation();')
			i.fa.fa-fw.fa-align-left
		.left-scroll-grad(ng-show="snapshots.isOpen")
			i.left-scroll.fa.fa-3x.fa-angle-left
		.right-scroll-grad(ng-show="snapshots.isOpen")
			i.right-scroll.fa.fa-3x.fa-angle-right
		.snaps-container.animate-fade(ng-show="snapshots.showLastSnap || snapshots.isOpen")
			ul.snaps-scroller
				li.snap(ng-show="($last && snapshots.showLastSnap) || snapshots.isOpen" ng-repeat='snap in snapshots.arr track by snap.id', on-finish-render='snapshots:renderComplete', ng-class="{'current': snap.id == snapshots.currentSnap.id, 'active': snap.isEnabled}", data-uid='{{snap.id}}', ng-mouseenter="overSnap(snap);", ng-mouseleave="outSnap(snap)")
					span.img(ng-click='snapshots.switchSnapshot(snap); $event.stopPropagation();')
						img(ng-if="snap.type == 'image' || snap.type == 'network'" ng-src= "{{snap.picture}}", uib-tooltip="{{snap.snapName}}" tooltip-placement="auto right" tooltip-append-to-body="true")
						i.fa.fa-fw.fa-align-left(ng-if="snap.type == 'text'" , uib-tooltip="{{snap.snapName}}" tooltip-placement="bottom" tooltip-append-to-body="true")
						i.fa.fa-fw.fa-code(ng-if="snap.type == 'embed'" , uib-tooltip="{{snap.snapName}}" tooltip-placement="bottom" tooltip-append-to-body="true")
					.btns(ng-show="snap.hover")
						//- .players-btn
						//- 	i.fa-fw.fa.fa-desktop(ng-if="snapsPlayersMap[snap.id]", ng-click="", uib-tooltip="{{snapsPlayersMap[snap.id].length}} Players Use this Snapshot" tooltip-placement="right", tooltip-append-to-body="true", tooltip-animation="false")
						.save-btn
							i.fa-fw.fa.fa-download(ng-click="snapshots.updateSnapshot(snap); $event.stopPropagation();", uib-tooltip="Save current settings to snapshot" tooltip-placement="right", tooltip-append-to-body="true", tooltip-animation="false")
							//i.fa-fw.fa.fa-download(ng-if="snap.type == 'network'" ng-click="snapshots.updateSnapshot(snap); $event.stopPropagation();", uib-tooltip="Save current settings to snapshot" tooltip-placement="right", tooltip-append-to-body="true", tooltip-animation="false")
						.save-btn
							i.fa-fw.fa.fa-pencil(ng-click="snapshots.openSnapEditModal(snap); $event.stopPropagation();", uib-tooltip="Edit snapshot" tooltip-placement="right", tooltip-append-to-body="true", tooltip-animation="false")
						.save-btn
							i.fa-fw.fa.fa-copy(ng-click="snapshots.cloneSnapshot(snap.id); $event.stopPropagation();", uib-tooltip="Clone Snapshot" tooltip-placement="right", tooltip-append-to-body="true", tooltip-animation="false")
						.select-btn
							i.fa-fw.fa.fa-check(ng-if="!snap.isEnabled", ng-click="snapshots.toggleSnapshotState(snap); $event.stopPropagation();", uib-tooltip="Enable" tooltip-placement="right", tooltip-append-to-body="true", tooltip-animation="false")
							i.fa-fw.fa.fa-times(ng-if="snap.isEnabled", ng-click="snapshots.toggleSnapshotState(snap); $event.stopPropagation();", uib-tooltip="Disable" tooltip-placement="right", tooltip-append-to-body="true", tooltip-animation="false")
						.delete-btn
							i.fa-fw.fa.fa-trash(dir-delete-confirm obj-name="{{snap.snapName}}" title="Delete Snapshot" obj-info="snapshots.deleteSnapInfo" get-obj-info="snapshots.getDeleteSnapInfo(snap)" action="snapshots.deleteSnapshot(snap); $event.stopPropagation();", uib-tooltip="Delete" tooltip-placement="right", tooltip-append-to-body="true", tooltip-animation="false")
	style.
		.centerContainer {
			border: 1px dotted #red;
			display: block;
			height: 100%;
			width: 100%;
		}

		.centerFlex {
			align-items: center;
			display: flex;
			justify-content: center;
		}

		.centerPseudo {
			display: inline-block;
			text-align: center;
		}
