.modal-header
	.row.vert-align
		.col-xs-6
			h6
				span Delete Snapshot
		.col-xs-6.vert-align.right
			button.close-btn(type="button", ng-click="closeModal()")
				span.icon &times;
.modal-body
	.row
		.col-xs-12
			.divider
			.divider
			.row.vert-align
				h5.absolute-bottom-left.text-danger Are you sure you want to delete this snapshot?&nbsp;&nbsp;
					button.power-btn(ng-click="cancelDelete();") No&nbsp;&nbsp;
					button.power-btn(ng-click="deleteSnapshot()") Confirm
			.clearfix
			.divider
			.divider

	.row
		.col-xs-12
			h4 Title
			h5 {{::currSnapshot.snapName}}
	.row
		.col-xs-12
			h4 Description
			//descr
			p(ng-bind-html="currSnapshot.descr")
