//
// Sass Variables
// Variables used across the app and player

//COLORS
$color-black:            #000 !default;
$color-white:            #fff !default;
$color-yellow:           #fc0 !default;
$color-pink:             #ffc0cb !default;
$color-blue:             #30adbf !default; //#199bfc
$color-slice-blue:       #30adbf !default;
$color-red:              #ed4947 !default;
$color-slice-red:        #f26b50 !default;
$color-black-text:       #444 !default;
$color-grey:             #939698 !default;
$color-dark-grey:        #333 !default;
$color-border-grey:      #b3b3b3 !default;
$color-muted-grey:       #ccc !default;
$color-border-dark:      #525761 !default;
$color-light-grey:       #e2e2e2 !default;
$color-panel-black:      #30343c !default;
$color-dark-modal:       #24272d !default;
$color-dark-background:  #1a1d22 !default;
$color-tooltip-black:    #0f1114 !default;
$color-almost-white:     #fafafa !default;
$trans-third-black:      rgba(0, 0, 0, .3) !default;
$trans-ten-black:        rgba(0, 0, 0, .1) !default;
$trans-five-black:       rgba(0, 0, 0, .05) !default;
$trans-half-black:       rgba(0, 0, 0, .5) !default;
$trans-ninety-black:       rgba(0, 0, 0, .9) !default;
$trans-eighty-white:     rgba(255, 255, 255, .8) !default;
$color-white-trans:      rgba(255, 255, 255, .95) !default;

$gray-darker:            lighten($color-black, 13.5%) !default;
$gray-dark:              lighten($color-black, 20%) !default;
$gray:                   lighten($color-black, 33.5%) !default;
$gray-light:             lighten($color-black, 90%) !default;
$gray-lighter:           lighten($color-black, 97%) !default;


//HIGHLIGHTS
$highlight-color:         $color-pink !default;
$alt-highlight-color:     $color-yellow !default;
//main highlight color used app
$active-color:            $color-blue !default;
$danger-color:            $color-red !default;


//THEME
$body-bg:                 $color-white !default;
$body-bg-dark:            $color-black !default;

$dark-header-background:  $color-panel-black;
$dark-background:         $color-dark-background;

$list-circle-bkgrnd:      $color-panel-black;

$input-bg-dark:            $color-dark-grey;
$input-border-dark:        $color-panel-black;
$switch-bg:                $color-grey;


$intro-overlay-bg:         #187D8D;

// LAYOUTS
$side-menu-width:          192px;
$side-menu-compressed:     72px;
$right-panel-width:        432px;//360px;

$main-content-left:        512px;
$main-content-left-opened: 512px;


//TEXT

//fonts
$font-family-sans-serif:  'Roboto', Helvetica, Arial, sans-serif !default;
//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
$font-family-monospace:   Menlo, Monaco, Consolas, 'Courier New', monospace !default;
$font-family-base:        $font-family-sans-serif !default;
//headings
$headings-font-family:    'Roboto', Helvetica, Arial, sans-serif !default;
$headings-font-weight:    500 !default;
$headings-line-height:    1.3 !default;
$headings-color:          inherit !default;

$text-color:            $color-black-text !default;
$text-color-dark:       $color-white !default;
$text-muted:            $color-muted-grey;
// color for hidden text in dark theme
$text-hidden-dark:      $gray;

$link-color:            $text-color !default;
$link-hover-color:      $active-color !default;

$text-shadow:           $color-black !default;

// sizes
$font-size-base:          14px !default;
$font-size-h1:            floor(($font-size-base * 2.8)) !default;
$font-size-h2:            floor(($font-size-base * 2.35)) !default;
$font-size-h3:            ceil(($font-size-base * 1.9)) !default;
$font-size-h4:            ceil(($font-size-base * 1.45)) !default;
$font-size-h5:            ceil(($font-size-base * 1.2)) !default;
$font-size-h6:            ceil(($font-size-base * 1.05)) !default;

//ELEMENTS
$horiz-line-color:      $color-light-grey;
$circle-btn-background: $text-color;
$shadow-color:          $trans-half-black;
$shadow-color-light:    $trans-ten-black;
$shadow-color-dark:     $trans-eighty-white;
$overlay-bg-color:      $trans-ninety-black;


// BORDERS
$border-radius-base:        0 !default;

$padding-base-vertical:     6px !default;
$padding-base-horizontal:   12px !default;

$padding-large-vertical:    10px !default;
$padding-large-horizontal:  25px !default;

$padding-small-vertical:    5px !default;
$padding-small-horizontal:  10px !default;

$padding-xs-vertical:       1px !default;
$padding-xs-horizontal:     5px !default;

$line-height-large:         1.33 !default;
$line-height-small:         1.5 !default;

$border-radius-base:        0 !default;
$border-radius-large:       25px !default;
$border-radius-small:       2px !default;

$border-color:              $color-border-grey;

//COMPONENTS

//Left nav drawer
$nav-bg:                $gray-dark;
$nav-border:            darken($nav-bg, 2%);
$sub-nav-bg:            darken($nav-bg, 6%);
$link-color:            $text-color;
$nav-link-active-bg:    $sub-nav-bg;

//Header
$header-bar-height:        0;
$header-bar-bg-color:     rgba(255, 255, 255, .1);
$header-bar-color:        $color-black-text;
$header-bg-dark:          rgba(0, 0, 0, .9);
$header-bg-light:         $color-white-trans;

//Panels
$panel-border:                $color-muted-grey !default;
$panel-border-dark:           $color-border-dark !default;
$panel-bg:                    $color-white !default;
$panel-bg-dark:               $color-black !default;
$panel-text-dark:             $color-grey;
$panel-body-padding:          15px !default;
$panel-item-dark:             $color-dark-modal;
$panel-input-dark:            $color-panel-black;
$panel-border-radius:         $border-radius-base !default;
$panel-circle-dark:           $color-border-grey;
$panel-tab-background:        $color-light-grey;
$panel-hidden-btns:           $color-muted-grey;

$panel-background: #fff;
$dark-panel-background: #1b1e22;
$panel-dark-highlight: $trans-third-black;
$panel-light-highlight: $trans-five-black;

//modals
$modal-bg-dark:             $color-dark-modal;
$modal-header:              $color-light-grey;
$modal-border:              $color-muted-grey;

//grid
$grid-bg:                   $color-light-grey;

//list
$list-highlight:            $color-almost-white;

//footer
$footer-bg-dark:             rgba(0, 0, 0, .6);

//axes
$axis-bkgrnd:           $color-white-trans;
$axis-marker-color:     $color-black;

//tooltip
$tooltip-bg:            $color-tooltip-black;

//recipe
$recipe-cat-highlight:      #949494;
$recipe-cat-bar:            #747c8c;


//== Form states and alerts
//
//## Define colors for form feedback states and, by default, alerts.

$state-success-text:             $active-color !default;
$state-success-bg:               $color-white !default;
$state-success-border:           darken(adjust-hue($state-success-bg, -10), 5%) !default;

$state-info-text:                $active-color !default;
$state-info-bg:                  $color-white !default;
$state-info-border:              darken(adjust-hue($state-info-bg, -10), 7%) !default;

$state-warning-text:             $danger-color !default;
$state-warning-bg:               $color-white !default;
$state-warning-border:           darken(adjust-hue($state-warning-bg, -10), 5%) !default;

$state-danger-text:              $danger-color !default;
$state-danger-bg:                $color-white !default;
$state-danger-border:            darken(adjust-hue($state-danger-bg, -10), 5%) !default;

// Progress bars
//** Background color of the whole progress component
$progress-bg:                 #f5f5f5 !default;
//** Progress bar text color
$progress-bar-color:          #fff !default;

//** Default progress bar color
$progress-bar-bg:             $active-color !default;
//** Success progress bar color
$progress-bar-success-bg:     $active-color !default;
//** Warning progress bar color
$progress-bar-warning-bg:     $danger-color !default;
//** Danger progress bar color
$progress-bar-danger-bg:      $danger-color !default;
//** Info progress bar color
$progress-bar-info-bg:        $active-color !default;
