.button-group {
  display: flex;

  &_type {
    &_play-toolbar {
      position: relative;

      &:not(:last-child) {
        //margin-right: 8px;
        border-radius: 3px 0 0 3px;
        border-right: 0;
      }

      &:first-child {
        flex-grow: 1;
      }

      &:last-child {
        border-radius: 0 3px 3px 0;
        border-left: 0;
      }

      border-radius: 3px;

      .button-group__item {
        height: 26px;

        &:not(:last-child) {
          border-right: 1px solid $gray-light;
        }

        &.opened {
          border-right: 0;
        }

        &.subset-enabled {
          border: 2px solid lighten(#BC3364, 10%);
          border-radius: 5px;
          button {
            line-height: 0;
          }
        }
      }

      .button-group__select {
        padding: 0 25px 0 10px;
        font-weight: 400;
        font-size: 14px;
        line-height: 26px;
        background: #fff;
        color: rgba(#323C47, .8);
        position: relative;
        cursor: pointer;
        transition: background-color .2s;
        width: 100%;
        min-width: 186px;

        &.opened::after {
          width: 8px;
          height: 5px;
          background: deployedUrl('/img/search/arrow-down.svg') 50% no-repeat;
          position: absolute;
          content: '';
          top: 50%;
          transform: translateY(-50%);
          right: 10px;
        }

        &.closed::after {
          width: 8px;
          height: 5px;
          background: deployedUrl('/img/search/arrow-down.svg') 50% no-repeat;
          position: absolute;
          content: '';
          top: 50%;
          transform: translateY(-50%) rotate(180deg);
          right: 10px;
        }

        &:hover {
          background-color: #fafafa;
        }
      }

      &.search {
        border: 0;
        flex-grow: 1;
        box-shadow: none;
        height: 26px;
        display: flex;
        width: 26px;

        .button-group__item {
          box-shadow: 0 1px 0 $gray-light;
          border: 1px solid $gray-light;
          border-radius: 0 3px 3px 0;
          height: 28px;
        }

        .play-toolbar__search {
          flex-grow: 1;
          padding-left: 20px;
          position: absolute;
          width: calc(100% - 1em);
        }
      }

      &.button-group_vertical {
        flex-direction: column;
        border-radius: 3px;
        border: 1px solid $gray-light;

        .button-group__item {
          border-right: 0;

          &:not(:last-child) {
            border-bottom: 1px solid $gray-light;
          }
        }
      }
    }
  }

  &_zoom {
    position: fixed;
    bottom: 80px;
    right: 20px;
  }
}

.button-zoom {
  position: fixed;
  bottom: 80px;
  right: 20px;
  display: flex;
  flex-direction: column;
  transition: all 225ms linear;

  .node-right-panel_opened & {
    transform: translateX(-345px);
  }

  &__item {
    width: 32px;
    height: 32px;
    border: 1px solid #E4EAEF;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    font-size: 0;
    background: #fff deployedUrl('/img/play-toolbar/target-icon.svg') no-repeat center;
  }

  &__box {
    border: 1px solid #E4EAEF;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    margin-top: 4px;
    position: relative;
    background: #fff;

    &:after {
      content: '';
      width: 26px;
      height: 1px;
      background: #E4EAEF;
      position: absolute;
      top: 31px;
      left: 3px;
      display: block;
    }
  }

  &__box-item {
    width: 32px;
    height: 32px;
    font-size: 0;

    &--plus {
      background: #fff deployedUrl('/img/play-toolbar/plus-icon.svg') no-repeat center;
    }

    &--minus {
      background: #fff deployedUrl('/img/play-toolbar/minus-icon.svg') no-repeat center;
    }
  }
}