//
// Grid Layout Styles
// Styles for the Grid Layout layout

// Not currently using, but could change
// .top-graph-menu {
//     .show-all {
//         padding: 13px 10px 10px;
//     }
//
//     .pagination {
//         margin: 0;
//         padding: 10px;
//     }
// }


.grid-layout {
    background: $body-bg;
    bottom: 0;
    left: 412px;
    position: absolute;
    right: 5px;
    top: 40px;


    .content {
        bottom: 0;
        left: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        overflow: auto;
        position: absolute;
        top: 0;
        width: 100%;

        h7 {
            padding: 0 5px;
        }
    }

    .compared,
    .nodes {
        margin-top: 50px;
        min-width: 95%;
    }

    .nodes .cards {
        margin-bottom: 150px;
    }

    .card {
        @include transition(opacity .3s ease-out);
        float: left;
        margin: 5px;
        opacity: 1;
        position: relative;
        user-select: none;
        width: 275px;

        // &.selected,
        // &:hover {
        //     .select-btn {
        //         opacity: 1;
        //     }
        // }

        &:hover {
            .content-overlay {
                opacity: .7;
            }
        }

        .text-attr-content {
            display: block;
            height: 275px;
            margin: 0;
            overflow: auto;
            padding: 10px;
        }

        .render-content {
            background-image: url(https://s3-us-west-1.amazonaws.com/mappr-misc/icons/missingpersonimage.png);
            background-size: cover;
            height: 275px;
            overflow: hidden;
            position: absolute;
            width: 275px;
        }

        .content-overlay {
            @include transition(opacity .3s ease-out);
            background: $shadow-color;
            height: 100%;
            left: 0;
            opacity: 0;
            position: relative;
            top: 0;
            width: 100%;


            // .btn-container {
            //     margin: auto;
            //
            //     .card-btn {
            //         background: $dark-background;
            //         border-radius: 5px;
            //         color: $text-color-dark;
            //         cursor: pointer;
            //         display: inline-block;
            //         margin: 10px;
            //         padding: 10px;
            //
            //         &:hover {
            //             color: $text-muted;
            //         }
            //     }
            // }
        }

        .rendered-attr {
            background: $color-light-grey;
            color: $text-color;
            height: 275px;
            overflow: hidden;
            width: 275px;

            h3 {
                width: 275px;
            }


            .media-list ul > li {
                padding: 0;
                width: 275px;
            }

            .attr-renderers {
                cursor: pointer;
                margin: 0;

                .tags,
                .descr {
                    display: none;
                }
            }


            .overlay {
                .tags,
                .descr {
                    display: block;
                }
            }

            .link {
                display: block;
            }

            .img {
                // @include transition(opacity .3s ease-out);
                opacity: 1;
            }

            &:hover .img {
                opacity: .8;
            }

            img {
                margin: 0;
            }

            .bkgrnd-image {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-size: cover;
            }
        }




        .node {
            @include user-select(none);
            background: $text-muted;
            cursor: pointer;
            height: 30px;
            overflow: hidden;
            padding: 0 5px;
            position: relative;
            width: 100%;

            .background {
                // @include transition(opacity .3s ease-out);
                bottom: 0;
                left: 0;
                opacity: 0;
                position: absolute;
                right: 0;
                top: 0;
            }

            .circle {
                border: 0 solid;
                border-radius: 100%;
                height: 20px;
                margin-right: 10px;
                width: 20px;
            }

            h6 {
                max-width: 180px;
            }

            &:hover {
                .background {
                    opacity: .3;
                }
            }

            &.selected {
                .circle {
                    border-width: 2px;
                }
            }
        }

        .btns {
            margin-top: 1px;
            opacity: 0;

            &.hovered {
                @include transition(opacity .3s ease-out);
                opacity: 1;
                width: auto;
            }
        }

        .dropdown {
            opacity: 0;
            margin-right: 10px;

            &.hovered {
                @include transition(opacity .3s ease-out);
                opacity: 1;
            }
        }


    }

    &.highlighted {

        &.highlighted {
            .card {
                &.highlighted,
                &:hover {
                    opacity: 1;
                }
            }
        }
    }
}

.mappr-player {
    .grid-layout {
        bottom: -60px;
        padding-bottom: 60px;
    }
}

.grid-bottom-left-btns {
    bottom: 16px;
    height: 30px;
    right: 8px;
    position: absolute;
    z-index: 10000;

    button {
        &:hover {
            color: $active-color;
        }
    }

    .square-btn {
        position: absolute;
        bottom: -61px;
        border: 1px solid #fff;
        left: 6px;
        width: 33px;
        padding-left: 7px;
    }


}
