.node-right-panel {
  background: #EBEFF2;
  padding-top: 64px;

  .section {
    border-bottom: 1px solid #E4EAEF;
    background: #fff;

    &:not(:last-child) {
      margin-bottom: 10px;
    }

    &_compact {
      .section__content {
        margin-bottom: -10px;
      }
    }

    &__header  {
      display: flex;
      padding: 20px;
      align-items: center;
      position: fixed;
      top: 0;
      width: 345px;
      background: #fff;
      z-index: 100;

      + .section__content {
        padding-top: 0;
      }
    }

    &__title {
      font: 400 15px/23px 'Poppins';
      color: #BC3364;
      margin: 0;
    }

    &__icons {
      margin-left: auto;
      display: flex;
      align-items: center;

      &-icon {
        display: block;
        width: 16px;
        height: 16px;

        &:not(:first-child) {
          margin-left: 8px;
        }

        a {
          display: flex;
          align-items: center;
          height: 16px;
          width: 16px;

          &.facebook,
          &.linkedin,
          &.email,
          &.crunchbase,
          &.website {
            opacity: .7;
            transition: opacity .2s;

            &:hover {
              opacity: 1;
            }

            img {
              display: none;
            }
          }

          &.facebook {
            background: deployedUrl('/img/node-right-panel/facebook.svg') 50% no-repeat;
          }

          &.linkedin {
            background: deployedUrl('/img/node-right-panel/linkedin.svg') 50% no-repeat;
          }

          &.website {
            background: deployedUrl('/img/node-right-panel/website.svg') 50% no-repeat;
          }

          &.email {
            background: deployedUrl('/img/node-right-panel/mail.svg') 50% no-repeat;
          }

          &.crunchbase {
            background: deployedUrl('/img/node-right-panel/crunchbase.svg') 50% no-repeat;
          }
        }

        img {
          display: block;
          max-width: 100%;
        }

        &.close {
          width: 20px;
          height: 20px;
          opacity: .8;
          border: 2px solid #323C47;
          border-radius: 50%;
          box-sizing: content-box;
          margin-left: 30px;

          button {
            padding: 0;
            display: block;
            height: 20px;
            width: 100%;
            background: deployedUrl('/img/play-toolbar/cancel.svg') 50% no-repeat;
            background-size: 12px;
            transition: transform .2s;

            &:hover {
              transform: rotate(90deg);
            }
          }
        }
      }


    }

    &__content {
      padding: 10px 20px;
    }

    &__info {
      display: flex;
      flex-wrap: wrap;

    }

    &_tabs {
      background: none;

      .section__content {
        background: #fff;
      }

      .tab {
        button {
          white-space: nowrap;
          width: auto;
          height: 28px;
          font: 500 13px/28px 'Poppins';
          padding: 0 18px;
          color: #818890;
          border-radius: 5px 5px 0 0;
          background: #D2D6D9;

          span {
            display: inline-block;
            width: 100%;
            overflow: hidden;
            vertical-align: bottom;
          }

          &:hover {
            background: darken(#D2D6D9, 4);
          }

          &.active {
            background: #fff;
            color: #BC3364;
          }
        }

        &.less {
          position: absolute;
          left: 0;
          top: 0;
          bottom: 0;
          z-index: 10;
          padding: 0;
          width: 40px;
          border-radius: 5px 0 0 0;
          background: #D2D6D9 deployedUrl('/img/tab-more.svg') 50% no-repeat;
          cursor: pointer;
          transition: background-color .2s;
          transform: rotate(180deg);

          &:hover {
            background-color: darken(#D2D6D9, 8);
          }
        }

        &.more {
          position: absolute;
          right: 0;
          top: 0;
          bottom: 0;
          z-index: 10;
          padding: 0;
          width: 40px;
          border-radius: 5px 0 0 0;
          background: #D2D6D9 deployedUrl('/img/tab-more.svg') 50% no-repeat;
          cursor: pointer;
          transition: background-color .2s;

          &:hover {
            background-color: darken(#D2D6D9, 8);
          }
        }
      }

      .tabcontent {
        p {
          margin: 0;

          &:not(:last-child) {
            margin-bottom: 4px;
          }
        }
      }
    }

    &__more {
      font: 400 12px/18px 'Poppins';
      color: #BC3364;
      display: inline-block;

      &:hover {
        color: darken(#BC3364, 16);
      }
    }

    .img-user {
      .img {
        width: 45px;
        height: 45px;
        border-radius: 50%;
        background-size: cover;
        background-position: center;
        cursor: pointer;
        border: 3px solid transparent;
      }
    }
  }

  .tabContainer {
    position: relative;

    &::after {
      content: '';
      pointer-events: none;
      position: absolute;
      width: 40px;
      top: 0;
      bottom: 0;
      right: 0;
      background: linear-gradient(to right, rgba(#E4EAEF, 0), rgba(#E4EAEF,  1));
    }
  }

  .tag-list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -4px;

    &__item {
      padding: 0 10px;
      font-size: 13px;
      line-height: 20px;
      border: 1px solid #E2E2E2;
      color: #616161;
      margin: 0 4px 4px 0;

      &-wide {
        width: 100%;
      }
    }

    .cat-item {
      border: 0!important;
    }
  }

  .section__short-strings {
    .section-info {
      max-width:50%;

      &-wide {
        max-width: 100%;
      }

      &.disappearing {
        opacity: 0;
        transition: all 1s;
      }
    }
    .tag-list__item {
      text-overflow: ellipsis;
      overflow: hidden;
      display: inline-block;
      max-width: 100%;
      margin: 0;
      .cat-text-container, .cat-text-container > div {
        overflow: hidden;
        max-width: 100%;
      }
    }
  }

  .section-info {
    flex: 0 0 50%;
    color: #0C0C0C;
    font-family: 'Poppins';
    box-sizing: border-box;
    margin-bottom: 10px;

    &:nth-child(odd) {
      padding-right: 5px;
    }

    &:nth-child(even) {
      padding-left: 5px;
    }

    &__label,
    &__value {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }

    &__label {
      font: 400 13px/20px 'Poppins';
      color: #BC3364;
    }

    &__value {
      font-size: 14px;
    }
  }
}
