.right-panel__tabs {
  font-weight: 500;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 192px;
  background: #296571;
  z-index: 1002;
  box-shadow: 0 0 18px rgba(#000, .06);
}

.tabs-menu {
  margin: 0;
  padding: 0 10px 0 0;
  list-style: none;

  &__item {
    cursor: pointer;
    transition: background-color .2s;

    &:not(:last-child) {
      margin-bottom: 4px;
    }

    &:hover {
      .tabs-menu__link {
        opacity: 1;
      }
    }

    &_active {
      background: rgba(245, 246, 248, .15);
      border-radius: 0 4px 4px 0;

      .tabs-menu__link {
        opacity: 1;
      }

      .tabs-menu__badge {
        background: #C2CFE1;
        color: #333;
      }

      .tabs-menu__badge {
        background: #C2CFE1;
        color: #333;
      }


    }

    .tooltip {
      max-width: 350px;
      width: 200px;
      font-size: 12px;
    }
  }

  &__text {
    display: block;
    white-space: nowrap;
    opacity: 1;
    text-overflow: ellipsis;
    transition: all .3s;
    transition-delay: .2s;
  }

  &__badge {
    position: absolute;
    left: 30px;
    padding: 0 5px;
    min-width: 15px;
    background: #ba3665;
    color: #fff;
    line-height: 15px;
    font-size: 10px;
    border-radius: 20px;
    top: 5px;
  }

  &__link {
    height: 40px;
    display: block;
    position: relative;
    font: 500 13px/20px 'Poppins';
    padding: 10px 10px 10px 55px;
    color: #fff;
    opacity: .8;
    transition: opacity .3s;

    &::before {
      content: '';
      position: absolute;
      width: 18px;
      height: 18px;
      left: 19px;
      top: 50%;
      transform: translateY(-50%);
      background-position: 50%;
      background-repeat: no-repeat;
      transition: all .3s;
    }

    &_info {
      &::before {
        background-image: deployedUrl('/img/tabs-menu/fa-info-circle_white.svg');
      }
    }

    &_slides {
      &::before {
        background-image: deployedUrl('/img/tabs-menu/fa-play-circle-o_white.svg');
      }
    }

    &_filter {
      &::before {
        background-image: deployedUrl('/img/tabs-menu/fa-filter_white.svg');
      }
    }

    &_legend {
      &::before {
        background-image: deployedUrl('/img/tabs-menu/legend_white.svg');
      }
    }

    &_list {
      &::before {
        background-image: deployedUrl('/img/tabs-menu/fa-list-ul_white.svg');
      }
    }

    &_knowledge-base {
      &::before {
        background-image: deployedUrl('/img/tabs-menu/knowledge-base_white.svg');
      }
    }

    &_settings {
      &::before {
        background-image: deployedUrl('/img/tabs-menu/settings_white.svg');
      }
    }

    &_report {
      &::before {
        background-image: deployedUrl('/img/tabs-menu/report_white.svg');
      }
    }

    &_bug {
      &::before {
        background-image: deployedUrl('/img/tabs-menu/bug_white.svg');
      }
    }

    &_support {
      &::before {
        background-image: deployedUrl('/img/tabs-menu/support_white.svg');
      }
    }

    &_groups {
      &::before {
        background-image: deployedUrl('/img/tabs-menu/groups_white.svg');
      }
    }

    &_style {
      &::before {
        background-image: deployedUrl('/img/tabs-menu/style_white.svg');
      }
    }

    &_database {
      &::before {
        background-image: deployedUrl('/img/tabs-menu/database_white.svg');
      }
    }

    &_player {
      &::before {
        background-image: deployedUrl('/img/tabs-menu/player_white.svg');
      }
    }

    &_snapshots {
      &::before {
        background-image: deployedUrl('/img/tabs-menu/snapshots_white.svg');
      }
    }

    &_feedback {
      &::before {
        background-image: deployedUrl('/img/tabs-menu/feedback.svg');
      }
    }

    &_export {
      &::before {
        background-image: deployedUrl('/img/tabs-menu/export_white.svg');
      }
    }

    &.toggle {
      font-size: 11px;
      line-height: 17px;
      margin: 0 0 10px;
      opacity: 1;

      &::before {
        background-image: deployedUrl('/img/tabs-menu/toggle_white.svg');
      }
    }
  }
}
