.side-menu {
  display: flex;
  flex-direction: column;
  transition: width .2s;

  &__logo {
    padding: 20px 20px 24px;
  }

  &__body {
    flex-grow: 1;
    overflow-y: auto;
  }

  &__footer {
    margin-top: auto;
  }
}

.side-menu-compressed {
  .side-menu {
    // width: $side-menu-compressed;
  }

  .intro-overlay {
    left: $side-menu-compressed;
  }

  .right-panel {
    // left: $side-menu-compressed + 20px;
  }

  .graph-container,
  .angular-leaflet-map,
  .header.simple {
    left: $side-menu-compressed + $right-panel-width + 20px;
  }

  .publish-panel,
  .play-toolbar_opened {
    left: $side-menu-compressed + $right-panel-width + 20px;
  }

  .play-toolbar,
  .play-toolbar-bottom {
    left: $side-menu-compressed + $right-panel-width + 20px;
  }

  .side-menu__logo {
    padding-left: 0;
    padding-right: 0;
    margin: auto;

    .logo {
      width: 36px;
      height: 36px;
      background: deployedUrl('/img/logo-light_compact.svg') 50% no-repeat;

      &__image {
        display: none;
      }
    }
  }

  .tabs-menu__text {
    opacity: 0;
    white-space: nowrap;
    overflow: hidden;
  }
  .tabs-menu__link {
    &::before {
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .tabs-menu__link.toggle {
    &::before {
      transform: scaleX(-1) translate(50%, -50%);
    }
  }
}
