.filter-header {
  padding: 14px 15px;
  border-bottom: 1px solid #EBEFF2;

  &__list {
    display: flex;
    background: #F0F2F5;
    border-radius: 6px;
    border: 1px solid #E0DFE6;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    flex: 1 0 auto;
    font: 400 14px/21px 'Poppins';
    color: #6F7583;
    text-align: center;
    border-radius: 6px;
    position: relative;

    &_current {

      &::after {
        content: '';
        position: absolute;
        top: -1px;
        left: -1px;
        right: -1px;
        bottom: -1px;
        background: linear-gradient(#D9DADD, #B8B9BE);
        z-index: 1;
        border-radius: 6px;
        pointer-events: none;
      }

      .filter-header__link {
        color: #323C47;
        background: #fff;
        border-radius: 5px;
      }
    }
  }

  &__link {
    position: relative;
    z-index: 10;
    display: block;
    height: 100%;
    padding: 5px 6px 4px;
    cursor: pointer;
  }
}
